.drop-image-zone {
    margin: 0 -40px;
    background: var(--drop-image-zone-background);
    padding: 0.02px 40px;
}

.cropper-line {
    display: flex;
    align-items: baseline;
    gap: 20px;
    width: 100%;
    max-width: 100%;

    .cropper {
        flex: 2;
    }

    .image {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        img {
            box-shadow: 0 0 4px #888;
            border: 1px solid #ccc;
            border-radius: var(--cropper-image-radius);
            max-width: var(--cropper-max-width, 300px);
        }

        button {
            align-self: center;
        }
    }
}

@media screen and (max-width: 850px) {
    .cropper-line {
        --cropper-max-width: 250px;
    }
}

@media screen and (max-width: 650px) {
    .cropper-line {
        --cropper-max-width: 200px;
    }
}

@media screen and (max-width: 450px) {
    .cropper-line {
        --cropper-max-width: 150px;
    }
}
