<h2>{{ 'user.information.title' | transloco }}</h2>

<h3>{{ 'user.information.data.privacy.title' | transloco }}</h3>
<p [innerText]="'user.information.data.privacy.text' | transloco"></p>

<h3>{{ 'user.information.data.deletion.title' | transloco }}</h3>
<p [innerText]="'user.information.data.deletion.text' | transloco"></p>

<h3>{{ 'user.information.contact.admin.title' | transloco }}</h3>
<p [innerText]="'user.information.contact.admin.text' | transloco"></p>

<form>
  <div class="username">
    <label for="username">{{ 'user.information.contact.admin.username' | transloco }}<span>*</span></label>
    <input id="username" type="text" [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" />
  </div>
  <div class="email">
    <label for="email">{{ 'user.information.contact.admin.email' | transloco }}<span>*</span></label>
    <input id="email" type="email" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" />
  </div>
  <div class="message">
    <label for="text">{{ 'user.information.contact.admin.message' | transloco }}<span>*</span></label>
    <textarea
      autosize
      maxlength="5000"
      name="text"
      [(ngModel)]="text"
      rows="5"
      [ngModelOptions]="{ standalone: true }"
    ></textarea>
    <span>*</span> {{ 'user.information.contact.admin.required' | transloco }}
  </div>
  <p>
    <button (click)="send()" [disabled]="invalideMessage()">
      {{ 'user.information.contact.admin.send' | transloco }}
    </button>
  </p>
</form>
