:host {
    display: block;
    margin: var(--main-padding);
}

form {
    display: grid;
    grid-template: 'a b' 'c c' 'd d' / 50% 50%;
    align-items: baseline;
    gap: 5px;

    .message {
        grid-area: c;
    }

    p {
        grid-area: d;
        text-align: center;
    }

    span {
        color: var(--alert-color);
    }
}
