:host {
    display: block;
    margin: var(--main-padding);
}

pre {
    white-space: pre-wrap;
}

:host ::ng-deep {
    h3 {
        margin: 0px;
        border-bottom: 1px solid;
        padding: 0 6px 6px;
    }

    .license {
        margin-inline-end: 5px;
        font-size: 20px;
        text-align: right;
    }

    p {
        padding: 0 6px;
    }

    .block {
        border: 1px solid;
        border-radius: 5px;

        & + .block {
            margin-top: 15px;
        }
    }
}
