<h2>{{ 'user.information.title' | transloco }}</h2>

<h3>{{ 'user.information.data.privacy.title' | transloco }}</h3>
<p [innerText]="'user.information.data.privacy.text' | transloco"></p>

<h3>{{ 'user.information.data.deletion.title' | transloco }}</h3>
<p [innerText]="'user.information.data.deletion.text' | transloco"></p>

<h3>{{ 'user.information.contact.admin.title' | transloco }}</h3>
<p [innerText]="'user.information.contact.admin.text' | transloco"></p>

<form [formGroup]="formConfig">
  <mg-input class="username">
    <mg-input-label>{{ 'user.information.contact.admin.username' | transloco }}<span>*</span></mg-input-label>
    <mg-input-text id="username" formControlName="username" />
  </mg-input>
  <mg-input class="email">
    <mg-input-label>{{ 'user.information.contact.admin.email' | transloco }}<span>*</span></mg-input-label>
    <mg-input-text id="email" formControlName="email" />
  </mg-input>
  <mg-input class="message">
    <mg-input-label> {{ 'user.information.contact.admin.message' | transloco }}<span>*</span> </mg-input-label>
    <mg-input-textarea id="text" formControlName="message" autosize maxlength="5000" />
    <mg-input-desc><span>*</span>{{ 'user.information.contact.admin.required' | transloco }}</mg-input-desc>
  </mg-input>

  <p>
    <button (click)="send()">
      {{ 'user.information.contact.admin.send' | transloco }}
    </button>
  </p>
</form>
