:host {
    --height: 80px;
    --width: 6px;

    display: inline-block;
    position: relative;
    width: var(--height);
    height: var(--height);
}
div {
    position: absolute;
    transform: rotate(calc(var(--index) * 30deg));
    transform-origin: calc(var(--height) / 2) calc(var(--height) / 2);
    animation: spinner 1.2s linear infinite;
    animation-delay: calc(var(--index) * 0.1s - 1.1s);

    &:after {
        display: block;
        position: absolute;
        top: 0;
        left: calc(var(--height) / 2 - var(--width) / 2);
        border-radius: 20%;
        background: var(--loading-color);
        width: var(--width);
        height: calc(var(--height) / 3);
        content: ' ';
    }
}

@keyframes spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
