<h1>{{ 'user.profile.title' | translate }}</h1>

<div *ngIf="user">
    <div class="user">
        <div class="avatar" (click)="avatarEdit()">
            <span *ngIf="!user.avatar" class="icon icon-profile"></span>
            <img *ngIf="user.avatar" [src]="user.avatarUrl" />
        </div>
        <div>
            <strong>{{ 'user.profile.username' | translate }}</strong>
            {{ user.username || ('list.user.anonymous' | translate) }}
        </div>
        <div>
            <strong>{{ 'user.profile.since' | translate }}</strong>
            {{ user.dateCreate | date : ('date.dd/MM/yyyy HH:mm' | translate) }}
        </div>
        <div>
            <strong>{{ 'user.profile.email' | translate }}</strong>
            {{ user.email }}
        </div>
    </div>

    <h2>{{ 'user.profile.actions' | translate }}</h2>

    <p class="action buttons">
        <button (click)="changeEmail()">{{ 'user.profile.change.email' | translate }}</button>
        <button (click)="changePassword()">{{ 'user.profile.change.password' | translate }}</button>
        <button (click)="removeProfile()" class="warn">{{ 'user.profile.remove.profile' | translate }}</button>
    </p>
</div>

<dialog-cmp class="auto-format" #dialogChangePassword [formGroup]="changePasswordForm">
    <p>{{ 'user.password.change' | translate }}</p>

    <label for="password">{{ 'user.password.old' | translate }}</label>
    <input id="password" type="password" spellcheck="false" formControlName="passwordOld" />

    <label for="password">{{ 'user.password.new' | translate }}</label>
    <input id="password" type="password" spellcheck="false" formControlName="password" />
    <div class="level-strong">
        <ng-container *ngIf="!strong">
            <span *ngFor="let lvl of passedTests" [style.--level]="lvl"></span>
        </ng-container>
        <span class="strong" *ngIf="strong"></span>
    </div>

    <label for="password2">{{ 'user.password.confirm' | translate }}</label>
    <input id="password2" type="password" spellcheck="false" formControlName="password2" />
    <div class="level-strong">
        <span class="strong" *ngIf="confirm"></span>
    </div>

    <ul *ngIf="showError?.length" class="list-error">
        <li *ngFor="let error of showError">{{ error }}</li>
    </ul>

    <div class="buttons">
        <button (click)="dialogChangePassword.close()">{{ 'user.password.change.cancel' | translate }}</button>
        <button (click)="valideChangePassword()" class="primary">{{ 'user.password.change.ok' | translate }}</button>
    </div>
</dialog-cmp>

<dialog-cmp class="auto-format" #dialogChangeEmail [formGroup]="changeEmailForm">
    <p>{{ 'user.email.change' | translate }}</p>
    <label for="email">{{ 'user.email.old' | translate }}</label>
    <input id="email" type="email" formControlName="emailOld" />
    <div class="level-strong">
        <span class="strong" *ngIf="changeEmailForm.get('emailOld')?.value" [class.error-block]="!emailOldValid"></span>
    </div>

    <label for="email">{{ 'user.email.new' | translate }}</label>
    <input id="email" type="email" formControlName="emailNew" />
    <div class="level-strong">
        <span class="strong" *ngIf="changeEmailForm.get('emailNew')?.value" [class.error-block]="!emailNewValid"></span>
    </div>

    <ul *ngIf="showError?.[0] || showError?.[1]" class="list-error">
        <ng-container *ngFor="let error of showError">
            <li *ngIf="error">{{ error }}</li>
        </ng-container>
    </ul>

    <div class="buttons">
        <button (click)="dialogChangeEmail.close()">{{ 'user.email.change.cancel' | translate }}</button>
        <button (click)="valideChangeEmail()" class="primary">{{ 'user.email.change.ok' | translate }}</button>
    </div>
</dialog-cmp>

<dialog-cmp class="auto-format" #dialogRemoveProfile>
    <p>{{ 'user.profile.remove.question' | translate }}</p>
    <p class="alert">
        {{ 'user.profile.remove.warning' | translate }}<br />
        {{ 'user.profile.remove.warning2' | translate }}
    </p>
    <div class="buttons">
        <button (click)="dialogRemoveProfile.close()">{{ 'user.profile.remove.cancel' | translate }}</button>
        <button (click)="valideRemoveProfile()" class="warn">{{ 'user.profile.remove.ok' | translate }}</button>
    </div>
</dialog-cmp>

<dialog-cmp class="auto-format" #avatarDialog drop-image mode="local" (file)="fileChange($event)">
    <h3>
        {{ 'user.profile.avatar.title' | translate }}
    </h3>
    <div class="banner">
        <label class="required">{{ 'user.profile.avatar.select' | translate }}</label>
        <input type="file" accept="image/*" required (change)="fileChangeEvent($event)" #avatarInput />
    </div>

    <div class="cropper-line">
        <div class="cropper" *ngIf="imageChangedEvent || imageBase64">
            <div class="label">{{ 'user.profile.avatar.crop' | translate }}</div>
            <image-cropper
                #imageCropper
                [imageChangedEvent]="imageChangedEvent"
                [imageBase64]="imageBase64"
                [maintainAspectRatio]="true"
                [cropperMinWidth]="300"
                [cropperMinHeight]="300"
                [resizeToWidth]="300"
                [resizeToHeight]="300"
                [aspectRatio]="1 / 1"
                [onlyScaleDown]="true"
                format="webp"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded($event)"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
        </div>
        <div class="image" *ngIf="croppedImage || user!.avatarUrl">
            <div class="label">{{ 'user.profile.avatar.image' | translate }}</div>
            <img [src]="croppedImage || user!.avatarUrl" />
            <button *ngIf="croppedImage" (click)="removeAvatar()">
                {{ 'user.profile.avatar.delete' | translate }}
            </button>
        </div>
    </div>

    <div class="buttons">
        <button (click)="avatarDialog.close()">{{ 'user.profile.avatar.cancel' | translate }}</button>
        <button (click)="updateAvatar()" class="primary" *ngIf="croppedImage">
            {{ 'user.profile.avatar.update' | translate }}
        </button>
        <button (click)="updateAvatar()" class="warn" *ngIf="!croppedImage && user?.avatar">
            {{ 'user.profile.avatar.remove' | translate }}
        </button>
    </div>
</dialog-cmp>
