<h1>{{ 'user.password.lost.title' | translate }}</h1>

@if (!valide) {
  <form class="form">
    <p>{{ 'user.password.lost.info' | translate }}</p>
    <label for="email">{{ 'user.login.email' | translate }}</label>
    <input id="email" type="email" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" />
    @if (showError) {
      <div class="list-error">
        {{ showError }}
      </div>
    }
    <div class="button">
      <button (click)="submit()">{{ 'user.password.lost.action' | translate }}</button>
    </div>
  </form>
} @else {
  <div>
    {{ 'user.password.lost.send' | translate }}
  </div>
}

<div class="links">
  <div>
    <a routerLink="/user/login">{{ 'user.login.login' | translate }}</a>
  </div>
  <div>
    <a routerLink="/user/sign-up">{{ 'user.login.signup' | translate }}</a>
  </div>
</div>
