<h1>{{ 'user.login.title' | transloco }}</h1>

<form class="form">
  <div [formGroup]="formLogin">
    <mg-input class="s-12">
      <mg-input-label>{{ 'user.login.username' | transloco }}</mg-input-label>
      <mg-input-text formControlName="username"></mg-input-text>
    </mg-input>
    <mg-input class="s-12">
      <mg-input-label>{{ 'user.login.password' | transloco }}</mg-input-label>
      <mg-input-password formControlName="password" eye></mg-input-password>
    </mg-input>
  </div>

  @if (showError) {
    <div class="list-error">
      {{ showError }}
    </div>
  }

  <div class="buttons">
    <button (click)="submit($event)">{{ 'user.login.login' | transloco }}</button>
  </div>

  @if (!popup()) {
    <div class="buttons">
      <p>
        {{ 'user.login.oauth.label' | transloco }}
      </p>
      <button (click)="oauth('discord')">
        <img src="./assets/icons/Discord_logo.svg" /> <span>{{ 'user.login.oauth.discord' | transloco }}</span>
      </button>
      <button (click)="oauth('facebook')">
        <img src="./assets/icons/Facebook_logo.svg" /> <span>{{ 'user.login.oauth.facebook' | transloco }}</span>
      </button>
      <!--<button (click)="oauth('google')">{{ 'user.login.oauth.google' | transloco }}</button>-->
      <p>
        {{ 'user.login.oauth.label.after' | transloco }}
      </p>
    </div>
  }
</form>

@if (!popup()) {
  <div class="links">
    <div>
      <a routerLink="/user/password-lost">{{ 'user.login.password.lost' | transloco }}</a>
    </div>
    <div>
      <a routerLink="/user/sign-up">{{ 'user.login.signup' | transloco }}</a>
    </div>
  </div>
}

@if (loader) {
  <loader-cmp></loader-cmp>
}
