@import '../list/classement-list.component.scss';

:host {
    display: block;
    margin: 0 15px 30px 30px;
}

.private {
    margin: auto 10px;
    font-size: 80%;
}

.icon-private-search {
    font-size: 18px;
    vertical-align: bottom;
}
