@import './user-profile.errors.css';
@import '../../styles/cropper.css';

:host {
    --cropper-image-radius: 50%;

    display: block;
    margin: var(--main-padding);
}

label {
    display: block;
    margin: auto;
    width: 90%;
    text-align: left;
}

.level-strong {
    margin: auto;
    padding: 0;
    width: 80%;
}

.user {
    display: grid;
    grid-template:
        'a b'
        'a c'
        'a d'
        / auto 1fr;
    gap: 0 20px;
}

.avatar {
    display: flex;
    grid-area: a;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
    background-color: var(--avatar-background);
    width: 80px;
    height: 80px;
    font-size: 56px;
    text-align: center;

    span {
        opacity: var(--avatar-icon-opacity);
        margin-top: -7px;
    }

    img {
        display: block;
        border-radius: 50%;
        max-width: 80px;
        max-height: 80px;
    }
}

.validity-input {
    position: relative;

    .validity {
        position: absolute;
        top: 1em;
        right: calc(10% + 0.3em);
        color: var(--color-icon-deleted);
        font-weight: 900;

        &.valid {
            color: var(--color-icon-validated);
        }
    }
}

.links {
    text-align: center;
}

.theme-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}
