:host {
    display: block;
    margin: var(--main-padding);
}

.user {
    display: grid;
    grid-template: 'a b' 'a c' 'a d' / auto 1fr;
    gap: 0 20px;
}

.avatar {
    display: flex;
    grid-area: a;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 50%;
    background-color: var(--avatar-background);
    width: 80px;
    height: 80px;
    font-size: 56px;
    text-align: center;

    span {
        opacity: var(--avatar-icon-opacity);
        margin-top: -7px;
    }

    img {
        display: block;
        border-radius: 50%;
        max-width: 80px;
        max-height: 80px;
    }
}
