<h1>{{ 'user.profile.title' | transloco }}</h1>

@if (user) {
  <div>
    <div class="user">
      <div class="avatar" (click)="avatarEdit()">
        @if (!user.avatar) {
          <span class="icon icon-profile"></span>
        } @else {
          <img [src]="user.avatarUrl" />
        }
      </div>
      <div>
        <strong>{{ 'user.profile.username' | transloco }}</strong>
        {{ user.username || ('list.user.anonymous' | transloco) }}
      </div>
      <div>
        <strong>{{ 'user.profile.since' | transloco }}</strong>
        {{ user.dateCreate | date: ('date.dd/MM/yyyy HH:mm' | transloco) }}
      </div>
      <div>
        <strong>{{ 'user.profile.email' | transloco }}</strong>
        {{ user.email }}
      </div>
    </div>
    <h2>{{ 'user.profile.actions' | transloco }}</h2>
    <p class="action buttons">
      <button (click)="changeUsername()">{{ 'user.profile.change.username' | transloco }}</button>
      <button (click)="changeEmail()">{{ 'user.profile.change.email' | transloco }}</button>
      <button (click)="changePassword()">{{ 'user.profile.change.password' | transloco }}</button>
      <button (click)="removeProfile()" class="warn">{{ 'user.profile.remove.profile' | transloco }}</button>
    </p>
    <mg-tabs [returnTabsLabel]="'generic.tabs.return' | transloco">
      <!-- classements -->
      @if (user.classements || localSizeClassements) {
        <mg-tab-title id="rankings">{{ 'user.profile.view.rankings' | transloco }}</mg-tab-title>
      }
      @if (user.classements || localSizeClassements) {
        <mg-tab-content id="rankings">
          <div class="links">
            @if (localSizeClassements) {
              <a routerLink="/user/lists/browser" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                >{{ 'user.profile.list.browser.tab' | transloco }} ({{ localSizeClassements }})</a
              >
            }
            @if (user.classements && localSizeClassements) {
              <span> - </span>
            }
            @if (user.classements) {
              <a routerLink="/user/lists/server" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                >{{ 'user.profile.list.server.tab' | transloco }} ({{ user.classements.length }})</a
              >
            }
          </div>
          @if (user.classements) {
            <navigate-result [classements]="user.classements" hideDerivatives hideUser onlyRanking />
          }
        </mg-tab-content>
      }

      <!-- themes -->
      @if (user.themes?.length || localThemes?.length) {
        <mg-tab-title id="themes">{{ 'user.profile.view.themes' | transloco }}</mg-tab-title>
      }
      @if (user.themes?.length || localThemes?.length) {
        <mg-tab-content id="themes">
          @if (localThemes?.length) {
            <h3>{{ 'user.profile.list.browser.tab' | transloco }} ({{ localThemes!.length }})</h3>
            <div class="theme-list">
              @for (theme of localThemes; track theme) {
                <theme-icon [theme]="theme" custom />
              }
            </div>
          }
          @if (user.themes?.length) {
            <h3>{{ 'user.profile.list.server.tab' | transloco }} ({{ user.themes!.length }})</h3>

            <div class="theme-list">
              @for (theme of user.themes; track theme) {
                <theme-icon
                  [theme]="{
                    id: theme.themeId!,
                    name: theme.name,
                    options: theme.data.options,
                    source: 'user',
                    hidden: theme.hidden,
                    showMode: true,
                  }"
                  custom
                />
              }
            </div>
          }
        </mg-tab-content>
      }
    </mg-tabs>
  </div>
}

<mg-dialog class="auto-format" #dialogChangeUsername [formGroup]="changeUsernameForm">
  <p>{{ 'user.username.change' | transloco }}</p>

  <div>
    <mg-input class="s-10">
      <mg-input-label>{{ 'user.username.new' | transloco }}</mg-input-label>
      <mg-input-text formControlName="username" />
      @if (usernameValidity !== undefined) {
        <mg-input-suffix class="validity" [class.valid]="usernameValidity">
          {{ usernameValidity ? 'Ｏ' : 'Ｘ' }}
        </mg-input-suffix>
      }
    </mg-input>
  </div>

  @if (showError[0]) {
    <ul class="list-error">
      @for (error of showError; track error) {
        <li>{{ error }}</li>
      }
    </ul>
  }

  <div class="buttons">
    <button (click)="dialogChangeUsername.close()">{{ 'user.username.change.cancel' | transloco }}</button>
    <button (click)="valideChangeUsername()" class="primary" [disabled]="!usernameValidity">
      {{ 'user.username.change.ok' | transloco }}
    </button>
  </div>
</mg-dialog>

<mg-dialog class="auto-format" #dialogChangePassword [formGroup]="changePasswordForm">
  <p>{{ 'user.password.change' | transloco }}</p>

  <div>
    <mg-input class="s-10">
      <mg-input-label>{{ 'user.password.old' | transloco }}</mg-input-label>
      <mg-input-password formControlName="passwordOld" />
    </mg-input>
    <mg-input class="s-10">
      <mg-input-label>{{ 'user.password.new' | transloco }}</mg-input-label>
      <mg-input-password formControlName="password" />
      <mg-input-desc class="level-strong">
        @if (!strong) {
          @for (lvl of passedTests; track lvl) {
            <span [style.--level]="lvl"></span>
          }
        } @else {
          <span class="strong"></span>
        }
      </mg-input-desc>
    </mg-input>
    <mg-input class="s-10">
      <mg-input-label>{{ 'user.password.confirm' | transloco }}</mg-input-label>
      <mg-input-text formControlName="password2" />
      <mg-input-desc class="level-strong">
        @if (confirm) {
          <span class="strong"></span>
        }
      </mg-input-desc>
    </mg-input>
  </div>

  @if (showError.length) {
    <ul class="list-error">
      @for (error of showError; track error) {
        <li>{{ error }}</li>
      }
    </ul>
  }

  <div class="buttons">
    <button (click)="dialogChangePassword.close()">{{ 'user.password.change.cancel' | transloco }}</button>
    <button (click)="valideChangePassword()" class="primary">{{ 'user.password.change.ok' | transloco }}</button>
  </div>
</mg-dialog>

<mg-dialog class="auto-format" #dialogChangeEmail [formGroup]="changeEmailForm">
  <p>{{ 'user.email.change' | transloco }}</p>

  <div>
    <mg-input class="s-10">
      <mg-input-label>{{ 'user.email.old' | transloco }}</mg-input-label>
      <mg-input-text formControlName="emailOld" />
      <mg-input-desc class="level-strong">
        @if (changeEmailForm.value.emailOld) {
          <span class="strong" [class.error-block]="!emailOldValid"></span>
        }
      </mg-input-desc>
    </mg-input>
    <mg-input class="s-10">
      <mg-input-label>{{ 'user.password.confirm' | transloco }}</mg-input-label>
      <mg-input-text formControlName="emailNew" />
      <mg-input-desc class="level-strong">
        @if (changeEmailForm.value.emailNew) {
          <span class="strong" [class.error-block]="!emailNewValid"></span>
        }
      </mg-input-desc>
    </mg-input>
  </div>

  @if (showError[0] || showError[1]) {
    <ul class="list-error">
      @for (error of showError; track error) {
        @if (error) {
          <li>{{ error }}</li>
        }
      }
    </ul>
  }

  <div class="buttons">
    <button (click)="dialogChangeEmail.close()">{{ 'user.email.change.cancel' | transloco }}</button>
    <button (click)="valideChangeEmail()" class="primary">{{ 'user.email.change.ok' | transloco }}</button>
  </div>
</mg-dialog>

<mg-dialog class="auto-format" #dialogRemoveProfile>
  <p>{{ 'user.profile.remove.question' | transloco }}</p>
  <p class="alert">
    {{ 'user.profile.remove.warning' | transloco }}<br />
    {{ 'user.profile.remove.warning2' | transloco }}
  </p>
  <div class="buttons">
    <button (click)="dialogRemoveProfile.close()">{{ 'user.profile.remove.cancel' | transloco }}</button>
    <button (click)="valideRemoveProfile()" class="warn">{{ 'user.profile.remove.ok' | transloco }}</button>
  </div>
</mg-dialog>

<mg-dialog class="auto-format" #avatarDialog drop-image mode="local" (file)="fileChange($event)">
  <h3>
    {{ 'user.profile.avatar.title' | transloco }}
  </h3>
  <div class="banner">
    <label class="required">{{ 'user.profile.avatar.select' | transloco }}</label>
    <input type="file" accept="image/*" required (change)="fileChangeEvent($event)" #avatarInput />
  </div>

  <div class="cropper-line">
    @if (imageChangedEvent || imageBase64) {
      <div class="cropper">
        <div class="label">{{ 'user.profile.avatar.crop' | transloco }}</div>
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [imageBase64]="imageBase64"
          [maintainAspectRatio]="true"
          [cropperMinWidth]="300"
          [cropperMinHeight]="300"
          [resizeToWidth]="300"
          [resizeToHeight]="300"
          [aspectRatio]="1 / 1"
          [onlyScaleDown]="true"
          format="webp"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded($event)"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        />
      </div>
    }
    @if (croppedImage || user!.avatarUrl) {
      <div class="image">
        <div class="label">{{ 'user.profile.avatar.image' | transloco }}</div>
        <img [src]="croppedImage || user!.avatarUrl" />
        @if (croppedImage) {
          <button (click)="removeAvatar()">
            {{ 'user.profile.avatar.delete' | transloco }}
          </button>
        }
      </div>
    }
  </div>

  <div class="buttons">
    <button (click)="avatarDialog.close()">{{ 'user.profile.avatar.cancel' | transloco }}</button>
    @if (croppedImage) {
      <button (click)="updateAvatar()" class="primary">
        {{ 'user.profile.avatar.update' | transloco }}
      </button>
    } @else if (!croppedImage && user?.avatar) {
      <button (click)="updateAvatar()" class="warn">
        {{ 'user.profile.avatar.remove' | transloco }}
      </button>
    }
  </div>
</mg-dialog>
