@if (loading) {
  <loader-cmp></loader-cmp>
}

@if (user) {
  <h1>{{ 'user.profile.view.title' | translate }}{{ user.username }}</h1>
  <div>
    <div class="user">
      <div class="avatar">
        @if (!user.avatar) {
          <span class="icon icon-profile"></span>
        }
        @if (user.avatar) {
          <img [src]="user.avatarUrl" />
        }
      </div>
      <div>
        <strong>{{ 'user.profile.since' | translate }}</strong>
        {{ user.dateCreate | date: ('date.dd/MM/yyyy HH:mm' | translate) }}
      </div>
      <div>
        <strong>{{ 'user.profile.total' | translate }}</strong>
        {{ user.classements?.length || 0 }}
      </div>
    </div>
    <h2>{{ 'user.profile.view.rankings' | translate }}</h2>
    @if (user.classements) {
      <navigate-result [classements]="user.classements" hideDerivatives hideUser onlyRanking></navigate-result>
    } @else {
      <div>
        {{ 'user.profile.view.empty' | translate }}
      </div>
    }
  </div>
}
