<h1>{{ 'user.password.lost.change.title' | transloco }}</h1>

<form class="form" [formGroup]="changePasswordForm">
  <p>{{ 'user.password.lost.change.intro' | transloco }}</p>

  <mg-input>
    <mg-input-label>{{ 'user.password.new' | transloco }}</mg-input-label>
    <mg-input-password formControlName="password" />
    <mg-input-desc class="level-strong">
      @if (!strong) {
        @for (lvl of passedTests; track lvl) {
          <span [style.--level]="lvl"></span>
        }
      } @else {
        <span class="strong"></span>
      }
    </mg-input-desc>
  </mg-input>

  <mg-input>
    <mg-input-label>{{ 'user.password.confirm' | transloco }}</mg-input-label>
    <mg-input-password formControlName="password2" />
    <mg-input-desc class="level-strong">
      @if (confirm) {
        <span class="strong"></span>
      }
    </mg-input-desc>
  </mg-input>

  @if (showError.length) {
    <ul class="list-error">
      @for (error of showError; track error) {
        <li>{{ error }}</li>
      }
    </ul>
  }

  <div class="button">
    <button (click)="valideChangePassword()" class="primary">{{ 'user.password.change.ok' | transloco }}</button>
  </div>
</form>
