@import './user-profile.errors.scss';

:host {
    display: block;
    margin: 0 15px 30px 30px;
}

.form,
.links {
    max-width: 50%;
    margin: auto;
}

.button {
    margin-top: 50px;
    text-align: center;
}

.error {
    padding-top: 15px;
    text-align: center;
    color: var(--alert-color);
}
