<h2>{{ 'menu.my.lists' | translate }}</h2>

<tabs (tabChange)="tabChange($event)">
    <!-- browser -->
    <tab-title id="browser">{{ 'user.profile.list.browser.tab' | translate }}</tab-title>
    <tab-content id="browser">
        <classement-list [pageMode]="false"></classement-list>
    </tab-content>

    <!-- server -->
    <tab-title id="server">{{ 'user.profile.list.server.tab' | translate }}</tab-title>
    <tab-content id="server">
        <p>ℹ️ {{ 'user.profile.list.server.intro' | translate }}</p>

        <table *ngIf="user && user.classements?.length; else noResult">
            <thead>
                <tr>
                    <th class="title">{{ 'list.title.name' | translate }}</th>
                    <th class="category">{{ 'list.category.name' | translate }}</th>
                    <th class="date">{{ 'list.date' | translate }}</th>
                    <th class="groups">{{ 'list.count.group' | translate }}</th>
                    <th class="items">{{ 'list.count.item' | translate }}</th>
                    <th class="actions">{{ 'list.action.name' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let classement of user.classements">
                    <td class="title">
                        <div>
                            <a [routerLink]="['/navigate/view', classement.localId]">
                                {{ classement.data.options.title || ('list.title.undefined' | translate) }}</a
                            >
                            <a
                                *ngIf="classement.localId && localIds.includes(classement.localId)"
                                [tooltip]="'list.local.link' | translate: { id: classement.localId }"
                                [routerLink]="['/edit', classement.localId]"
                                >🔄</a
                            >
                        </div>
                        <div *ngIf="classement.hidden">
                            <span class="private" [tooltip]="'list.hide.note' | translate">
                                {{ 'list.status.hidden' | translate }}
                            </span>
                        </div>
                    </td>
                    <td class="category">
                        {{ 'category.' + (classement.data.options.category || 'undefined') | translate }}
                    </td>
                    <td class="date">
                        <span>{{ classement.dateCreate | date: ('date.dd/MM/yyyy' | translate) }}</span>
                        <span>{{ classement.dateCreate | date: ('date.HH:mm' | translate) }}</span>
                    </td>
                    <td class="groups">{{ classement.totalGroups }}</td>
                    <td class="items">{{ classement.totalItems }}</td>
                    <td class="actions">
                        <button [routerLink]="'/edit/' + classement.rankingId">
                            {{ 'list.action.edit' | translate }}
                        </button>
                        <button (click)="actions(classement)">{{ 'list.action.update' | translate }}</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #noResult>
            <p class="no-result">{{ 'list.no.result' | translate }}</p>
            <p>
                <a routerLink="/edit/new" routerLinkActive="active">{{ 'list.create.new' | translate }}</a>
            </p>
        </ng-template>
    </tab-content>
</tabs>

<dialog-cmp class="auto-format" #dialogActionsClassement>
    <p class="title">{{ currentClassement?.name || ('list.title.undefined' | translate) }}</p>

    <div class="buttons">
        <button (click)="actionForCurrentClassement('close')">{{ 'list.delete.cancel' | translate }}</button>
    </div>

    <h3>{{ (!currentClassement?.hidden ? 'list.hide.question' : 'list.show.question') | translate }}</h3>

    <div class="buttons">
        <button
            (click)="actionForCurrentClassement('hide', !currentClassement?.hidden)"
            [class.warn]="!currentClassement?.hidden"
            [class.primary]="currentClassement?.hidden"
        >
            {{ (!currentClassement?.hidden ? 'list.hide.private' : 'list.show.public') | translate }}
        </button>
    </div>
    <div class="note">
        {{ 'list.hide.note' | translate }}<br />
        {{ 'list.hide.note2' | translate }}
    </div>

    <h3>{{ 'list.delete.question' | translate }}</h3>
    <div>
        <button (click)="actionForCurrentClassement('delete')" class="warn">
            {{ 'list.delete.delete' | translate }}
        </button>
    </div>
</dialog-cmp>
