@import './user-profile.errors.scss';

:host {
    display: block;
    margin: var(--main-padding);
}

.form,
.links {
    max-width: 50%;
    margin: auto;
}

.links {
    margin-top: 50px;
    text-align: center;

    div {
        padding: 10px;
    }
}

.button {
    margin-top: 50px;
    text-align: center;
}

.buttons {
    margin-top: 50px;
    text-align: center;

    img {
        height: 29px;
        vertical-align: middle;
        padding-right: 11px;
    }
}
