<h1>{{ 'user.signup.title' | translate }}</h1>

<form class="form">
    <ng-container [formGroup]="profileForm">
        <label for="username">{{ 'user.login.username' | translate }}</label>
        <input id="username" type="text" formControlName="username" />

        <label for="password">{{ 'user.login.password' | translate }}</label>
        <input id="password" type="password" formControlName="password" />
        <div class="level-strong">
            <ng-container *ngIf="!strong">
                <span *ngFor="let lvl of passedTests" [style.--level]="lvl"></span>
            </ng-container>
            <span class="strong" *ngIf="strong"></span>
        </div>

        <label for="password2">{{ 'user.login.password.bis' | translate }}</label>
        <input id="password2" type="password" formControlName="password2" />
        <div class="level-strong">
            <span class="strong" *ngIf="confirm"></span>
        </div>

        <label for="email">{{ 'user.login.password' | translate }}</label>
        <input id="email" type="email" formControlName="email" />
    </ng-container>

    <ul *ngIf="showError?.length" class="error">
        <li *ngFor="let error of showError">{{ error }}</li>
    </ul>

    <div class="button">
        <button (click)="submit()">{{ 'user.signup.action' | translate }}</button>
    </div>
</form>

<div class="links">
    <div>
        <a routerLink="/user/password-lost">{{ 'user.login.password.lost' | translate }}</a>
    </div>
    <div>
        <a routerLink="/user/login">{{ 'user.login.login' | translate }}</a>
    </div>
</div>
