.level-strong {
    display: flex;
    gap: 2px;
    margin-top: 4px;
    height: 3px;

    span {
        background-color: hsl(calc(var(--level) * 20), 100%, 50%);
        width: calc(100% / 7);
    }

    .strong {
        background-color: hsl(150, 100%, 50%);
        width: 100%;
    }

    .error-block {
        background-color: hsl(0, 100%, 50%);
    }
}

.alert {
    margin: auto;
    border: 1px solid var(--alert-color);
    width: 80%;
    color: var(--alert-color);
}
