@import url('./user-profile.errors.scss');

:host {
    display: block;
    margin: var(--main-padding);
}

.form,
.links {
    margin: auto;
    max-width: 50%;
}

.button {
    margin-top: 50px;
    text-align: center;
}

.error {
    padding-top: 15px;
    color: var(--alert-color);
    text-align: center;
}
