:host {
    padding: 0 10px;
    display: block;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    padding: 15px 0;
}

.info-classement strong {
    display: inline-block;
    width: 200px;
}

.cropper-line {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 800px;

    .cropper {
        flex: 1;
    }

    .image {
        width: 300px;

        &:not(:first-child) {
            margin: 15px;
        }

        img {
            border: 1px solid #ccc;
            box-shadow: 0 0 4px #888;
        }
    }
}

.public {
    text-align: center;
    margin: 20px 0 0;
}
