.options {
    display: grid;
    grid-template:
        'title  title        cat'
        'sizes  colors-item  colors-line'
        'sizes  .            simple'
        / auto 1fr 1fr;
    gap: 10px;
    border-radius: 5px;
    border: solid 1px var(--options-border-color);
    background: var(--options-background);
    padding: 10px;
}
.simple {
    grid-area: simple;
    text-align: end;
}
.title {
    grid-area: title;
}
.categories {
    grid-area: cat;
}
.sizes {
    grid-area: sizes;
}
.colors-item {
    grid-area: colors-item;
}
.colors-line {
    grid-area: colors-line;
}
.item-options {
    display: grid;
    grid-template:
        '.   .   .   .      margin   .   .   .' 15px
        '.   .   .   .      border   .   .   .' 5px
        '.   .   .   .      border   .   .   .' 5px
        '.   .   .   .      border   .   .   .' 5px
        '.   .   .   .      padding  .   .   .' 17px
        '.   .   .   .      .        .   .   .' 15px
        '.   .   .   .      height   .   .   .' 15px
        '.   .   .   width  .        .   .   .' 15px
        '.   .   .   .      .        .   .   .' 30px
        '.   .   .   .      .        .   .   .' 5px
        '.   .   .   .      .        .   .   .' 0px /
        0px 5px 60px 20px 20px 90px 5px 0px;
    background: var(--options-sizes-margin-color);
    padding: 5px;
    width: min-content;

    input {
        font-size: 10px;
        text-align: center;
        padding: 2px 4px;
        height: 10px;
        z-index: 1;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}

.box-border {
    grid-row: 3/11;
    grid-column: 2/8;
    border: 1px solid var(--options-sizes-border-color);
    background: var(--options-sizes-padding-color);
}

.box-in {
    grid-row: 6/10;
    grid-column: 3/7;
    background: var(--options-sizes-box-color);
}

.margin {
    grid-row: 1;
    grid-column: 1;
    font-size: 11px;
}

.padding {
    grid-row: 5;
    grid-column: 3;
    font-size: 11px;
}

.image {
    grid-row: 6;
    grid-column: 3;
    font-size: 11px;
    margin-left: 3px;
}

.border {
    grid-row: 2/5;
    grid-column: 3/4;
    font-size: 11px;

    span {
        background: var(--options-sizes-border-color);
        color: var(--options-sizes-border-text);
        border-radius: 3px;
        margin-left: -2px;
    }
}

.height {
    border: 1px solid var(--options-sizes-height-color);
    grid-row: 6/10;
    grid-column: 5;
    border-width: 0 1px 0 0;
    margin-right: 6px;
    position: relative;

    &::before,
    &::after {
        content: ' ';
        display: block;
        width: 5px;
        height: 5px;
        border: 1px solid var(--options-sizes-height-color);
        position: absolute;
        transform: translateX(10.5px) rotate(-135deg);
        border-width: 0 1px 1px 0;
    }
    &::after {
        bottom: 0;
        transform: translateX(10.5px) rotate(45deg);
    }
}

.width {
    border: 1px solid var(--options-sizes-width-color);
    grid-row: 9;
    grid-column: 3/7;
    border-width: 1px 0 0 0;
    margin-top: -8px;
    position: relative;

    &::before,
    &::after {
        content: ' ';
        display: block;
        width: 5px;
        height: 5px;
        border: 1px solid var(--options-sizes-width-color);
        position: absolute;
        transform: translateY(-3.5px) rotate(-225deg);
        border-width: 0 1px 1px 0;
    }
    &::after {
        right: 0;
        transform: translateY(-3.5px) rotate(-45deg);
    }
}

.item-width {
    grid-area: width;
    margin-left: -20px;
}

.item-height {
    grid-area: height;
    margin-top: -7px;
}

.item-padding {
    grid-area: padding;
}

.item-border {
    grid-area: border;
    border: 1px solid var(--options-sizes-border-color);
    margin-top: -2px;
}

.item-margin {
    grid-area: margin;
    margin-top: -4px;
}

.input-button {
    display: grid;
    grid-template: 'a b c' / 1fr 1fr auto;
    align-items: center;
    gap: 0 10px;

    [type='color'] {
        height: 30px;
    }

    [type='number'] {
        text-align: right;
    }
}
