<p>{{ 'gererator.theme.info' | translate }}</p>

<div>{{ update ? 'update' : 'new' }}</div>

<ng-container *ngIf="options">
    <div class="title">
        <label>{{ 'gererator.options.title' | translate }}</label>
        <div><input type="text" maxlength="150" [(ngModel)]="options.title" /></div>
    </div>

    <div class="categories">
        <label>{{ 'gererator.options.group' | translate }}</label>
        <div>
            <select type="text" maxlength="150" [(ngModel)]="options.category">
                <option *ngFor="let item of categories" [value]="item">{{ 'category.' + item | translate }}</option>
            </select>
        </div>
    </div>

    <div class="banner">
        <label class="required"> Selectionner une images de bannière </label>
        <input type="file" accept="image/*" required (change)="fileChangeEvent($event)" />
    </div>

    <div class="cropper-line" *ngIf="imageChangedEvent">
        <div class="cropper">
            <div class="label">cropper</div>
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [cropperMinWidth]="300"
                [cropperMinHeight]="300"
                [aspectRatio]="1 / 1"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded($event)"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
        </div>
        <div class="image">
            <div class="label">final</div>
            <img [src]="croppedImage" />
        </div>
    </div>
</ng-container>

<p>
    <button (click)="cancel()">{{ 'gererator.theme.cancel' | translate }}</button>
    <button class="primary" (click)="validate()">
        {{ 'gererator.theme.validate' | translate }}
    </button>
</p>
