:host {
    display: block;
    margin: 0 15px 10px;
}

// options --------------------------------------------------------------

.options {
    display: grid;
    grid-template:
        'title title  cat'
        'width height padding'
        / 1fr 1fr 1fr;
    gap: 10px;
    border-radius: 5px;
    border: solid 1px #ccc;
    background: #f0f0f0;
    padding: 10px;
}
.title {
    grid-area: title;
}
.categories {
    grid-area: cat;
}
.item-width {
    grid-area: width;
}
.item-height {
    grid-area: height;
}
.item-padding {
    grid-area: padding;
}

.options label {
    font-weight: 700;
    font-size: 80%;
}

.options input,
.options select {
    border: 1px solid #ccccdb;
    border-radius: 3px;
    padding: 5px 3px;
    width: calc(100% - 10px);
    background-color: #d6e0ec;
}

// drag'n drop --------------------------------------------------------------

.drop-list {
    min-height: calc(var(--item-height, 150px) + var(--item-padding, 10px) * 2 + 5px);
    border: solid 1px #ccc;
    background: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.drop-zone-empty-list {
    width: 100%;
    height: calc(var(--item-height, 150px) + var(--item-padding, 10px) * 2 + 5px);
}

.content-block {
    width: calc(var(--item-width, 150px) + var(--item-padding, 10px) * 2 + 5px);
    height: calc(var(--item-height, 150px) + var(--item-padding, 10px) * 2 + 5px);
}

.content-box {
    padding: var(--item-padding, 10px);
    width: var(--item-width, 150px);
    height: var(--item-height, 150px);
    border-bottom: solid 1px #ccc;
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    cursor: move;
    font-size: 14px;
    margin: 2px;
}

.cdk-drag-preview {
    box-sizing: content-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.cdk-drop-list-dragging {
    background: rgba(0, 0, 0, 0.512);
}

.cdk-drop-list:last-child {
    flex: 1;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// drag'n drop file

.drop-image-message {
    width: 100%;
}
.drop-image-zone,
.drop-image-zone .drop-list {
    background: #b6c6f5;
    border-radius: 2px;
}

// buttons -----------------------------------------------------------------

.button-actions {
    display: grid;
    gap: 3px;
    grid-template:
        'up suppr' 30px
        'down add' 30px /
        30px 50px;
}
.button-up {
    grid-area: up;
}
.button-down {
    grid-area: down;
}
.button-suppr {
    grid-area: suppr;
}
.button-add {
    grid-area: add;
}

// images

.elements {
    width: 100%;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

// table --------------------------------------------------------------------

table {
    min-width: 100%;
}
.elements {
    width: 100%;
}
.names {
    width: 150px;
    min-width: 150px;
    text-align: center;
}
.name {
    border: 0;
    background: transparent;
    text-align: center;
    font-size: 120%;
    width: 100%;
    display: block;
}
.color {
    display: inline;
    margin: auto;
}

[drop-image] .content-box {
    position: relative;
}
.btn-suppr {
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
    background: #fffcf538;
    border: 1px solid #888;
    border-radius: 3px;
}

// render ------------------------------------------------------------------

.render {
    width: 1000px;
    position: absolute;
    top: 0;
    left: -100000px;

    .names {
        font-size: 120%;
    }

    caption {
        font-size: 120%;
        padding: 10px;
    }

    img {
        // fix html2canvas
        margin: auto;
        position: relative;
    }
}
