<h2>New ranking</h2>

<h3>Options</h3>
<div class="options">
    <div class="title">
        <label>Title:</label>
        <div><input type="text" maxlength="150" [(ngModel)]="title" /></div>
    </div>
    <div class="group">
        <label>Group:</label>
        <div>
            <select type="text" maxlength="150" [(ngModel)]="category">
                <option *ngFor="let item of categories" [value]="item.value">{{ item.label }}</option>
            </select>
        </div>
    </div>
    <div class="item-width">
        <label>Item width:</label>
        <div><input type="number" min="16" max="300" [(ngModel)]="itemWidth" /></div>
    </div>
    <div class="item-height">
        <label>Item height:</label>
        <div><input type="number" min="16" max="300" [(ngModel)]="itemHeight" /></div>
    </div>
    <div class="item-padding">
        <label>Item padding:</label>
        <div><input type="number" min="0" max="20" [(ngModel)]="itemPadding" /></div>
    </div>
</div>

<h3>Ranking</h3>
<div cdkDropListGroup>
    <table>
        <colgroup>
            <col class="names" />
            <col class="elements" />
            <col class="actions" />
        </colgroup>
        <thead>
            <tr>
                <td style="width: 150px">Nom</td>
                <td>List</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups; let indexGrp = index; let first = first; let last = last">
                <td class="names" [style.background]="group.bgColor">
                    <input class="name" type="text" [(ngModel)]="group.name" [style.color]="group.txtColor" />
                    <input class="color" type="color" [(ngModel)]="group.bgColor" />
                    <input class="color" type="color" [(ngModel)]="group.txtColor" />
                </td>
                <td class="elements">
                    <div class="drop-list">
                        <div
                            *ngFor="let item of group.list; let index = index"
                            cdkDropList
                            cdkDropListOrientation="horizontal"
                            [cdkDropListData]="{ list: group.list, index: index }"
                            (cdkDropListDropped)="drop(group.list, $event)"
                        >
                            <div class="content-box" cdkDrag>
                                <img src="{{ item.target?.result }}" alt="{{ item.file.name }}" />
                            </div>
                        </div>
                        <div
                            class="drop-zone-empty-list"
                            *ngIf="group.list.length === 0"
                            cdkDropList
                            cdkDropListOrientation="horizontal"
                            [cdkDropListData]="{ list: group.list, index: 0 }"
                            (cdkDropListDropped)="drop(group.list, $event)"
                        ></div>
                    </div>
                </td>
                <td class="actions">
                    <div class="button-actions">
                        <button class="button-up" (click)="up(indexGrp)" *ngIf="!first">↑</button>
                        <button class="button-down" (click)="down(indexGrp)" *ngIf="!last">↓</button>
                        <button class="button-suppr" (click)="suppr(indexGrp)" *ngIf="!(first && last)">Suppr</button>
                        <button class="button-add" (click)="ajout(indexGrp)">Add</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="action">
        <button (click)="saveImage()">Image</button>
    </div>

    <div drop-image (files)="addFiles($event)">
        <div class="drop-image-message">Drag'n drop picture here ↓</div>
        <div class="drop-list">
            <div
                *ngFor="let item of list; let index = index"
                cdkDropList
                cdkDropListOrientation="horizontal"
                [cdkDropListData]="{ list: list, index: index }"
                (cdkDropListDropped)="drop(list, $event)"
            >
                <div class="content-box" cdkDrag>
                    <button class="btn-suppr" (click)="remove(index)">×</button>
                    <img src="{{ item.target?.result }}" alt="{{ item.file.name }}" />
                </div>
            </div>
            <div
                class="drop-zone-empty-list"
                *ngIf="list.length === 0"
                cdkDropList
                cdkDropListOrientation="horizontal"
                [cdkDropListData]="{ list: list, index: 0 }"
                (cdkDropListDropped)="drop(list, $event)"
            ></div>
        </div>
    </div>
</div>

<div class="render">
    <table id="table-classement">
        <caption *ngIf="title">
            {{
                title
            }}
        </caption>
        <colgroup>
            <col class="names" />
            <col class="elements" />
        </colgroup>

        <tbody>
            <tr *ngFor="let group of groups; let indexGrp = index; let first = first; let last = last">
                <td class="names" [style.background]="group.bgColor" [style.color]="group.txtColor">
                    {{ group.name }}
                </td>
                <td class="elements">
                    <div class="drop-list">
                        <div *ngFor="let item of group.list; let index = index">
                            <div class="content-box">
                                <img src="{{ item.target?.result }}" alt="{{ item.file.name }}" />
                            </div>
                        </div>
                        <div class="drop-zone-empty-list" *ngIf="group.list.length === 0"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<dialog-cmp>
    <div #image></div>
</dialog-cmp>
