<dialog-cmp #exportDialog closeButton>
  <h3>{{ 'generator.theme.manage.themes' | transloco }}</h3>

  @let current = themeCurrent();
  @if (current?.options) {
    <theme-icon [theme]="current!"></theme-icon>
  }
  <tabs (tabChange)="tabChange()">
    <!-- NEW -->

    <tab-title id="new"> {{ 'generator.theme.new' | transloco }}</tab-title>
    <tab-content id="new">
      <p>
        <label for="name">{{ 'generator.theme.name.question' | transloco }}</label>
        <input id="name" type="text" [(ngModel)]="themeName" maxlength="100" />
      </p>
      @if (api) {
        <p>
          <label>
            <input type="radio" [(ngModel)]="saveMode" name="save-mode" value="browser" />
            {{ 'generator.theme.browser.save' | transloco }}
          </label>
          <label>
            <input type="radio" [(ngModel)]="saveMode" name="save-mode" value="server" />
            {{ 'generator.theme.account.save' | transloco }}
          </label>
        </p>
      }
      @if (saveMode === 'server') {
        <p>
          <label>
            <input type="radio" [(ngModel)]="saveVisibility" name="save-visibility" value="public" />
            {{ 'generator.theme.public' | transloco }}
          </label>
          <label>
            <input type="radio" [(ngModel)]="saveVisibility" name="save-visibility" value="private" />
            {{ 'generator.theme.private' | transloco }}
          </label>
        </p>
      }

      <p class="buttons">
        <button class="default" (click)="exportCancel()">
          {{ 'generator.theme.cancel' | transloco }}
        </button>
        @if (saveMode === 'browser') {
          <button class="primary" [disabled]="!themeName.trim()" (click)="saveBrowser()">
            {{ 'generator.theme.browser.new' | transloco }}
          </button>
        } @else {
          <button class="primary" [disabled]="!themeName.trim()" (click)="saveServer()">
            {{ 'generator.theme.account.new' | transloco }}
          </button>
        }
        <button class="primary" [disabled]="!themeName.trim()" (click)="export()">
          {{ 'generator.theme.export' | transloco }}
        </button>
      </p>
    </tab-content>

    <!-- LOCAL -->

    @if (themeBrowser.length) {
      <tab-title id="local"> {{ 'generator.theme.browser.update' | transloco }}</tab-title>
    }
    @if (themeBrowser.length) {
      <tab-content id="local">
        <p>{{ 'generator.theme.browser.replace' | transloco }}</p>
        <p>
          <label for="name">{{ 'generator.theme.name.rename' | transloco }}</label>
          <input
            id="name"
            type="text"
            [(ngModel)]="themeName"
            maxlength="100"
            [placeholder]="selectedTheme?.name ?? ''"
          />
        </p>

        <div class="theme-list">
          @for (theme of themeBrowser; track theme) {
            <theme-icon
              [theme]="theme"
              custom
              (select)="selectTheme($event)"
              [class.selected]="theme === selectedTheme"
            ></theme-icon>
          }
        </div>

        <p class="buttons">
          <button class="default" (click)="exportCancel()">
            {{ 'generator.theme.cancel' | transloco }}
          </button>
          <button class="warn" [disabled]="!selectedTheme" (click)="deleteMode = 'browser'; deleteConfirm.open()">
            {{ 'generator.theme.remove.browser' | transloco }}
          </button>
          <button class="primary" [disabled]="!selectedTheme" (click)="updateBrowser()">
            {{ 'generator.theme.update.browser' | transloco }}
          </button>
        </p>
      </tab-content>
    }

    <!-- SERVER -->

    @if (api && themeServer.length) {
      <tab-title id="server"> {{ 'generator.theme.account.update' | transloco }}</tab-title>
    }
    @if (api && themeServer.length) {
      <tab-content id="server">
        <p>{{ 'generator.theme.account.replace' | transloco }}</p>
        <p>
          <label for="name">{{ 'generator.theme.name.rename' | transloco }}</label>
          <input
            id="name"
            type="text"
            [(ngModel)]="themeName"
            maxlength="100"
            [placeholder]="selectedTheme?.name ?? ''"
          />
        </p>
        <p>
          <label>
            <input type="radio" [(ngModel)]="saveVisibility" name="save-visibility" value="public" />
            {{ 'generator.theme.public' | transloco }}
          </label>
          <label>
            <input type="radio" [(ngModel)]="saveVisibility" name="save-visibility" value="private" />
            {{ 'generator.theme.private' | transloco }}
          </label>
        </p>

        <div class="theme-list">
          @for (theme of themeServer; track theme) {
            <theme-icon
              [theme]="theme"
              custom
              (select)="selectTheme($event)"
              [class.selected]="theme.id === selectedTheme?.id"
            ></theme-icon>
          }
        </div>

        <p class="buttons">
          <button class="default" (click)="exportCancel()">
            {{ 'generator.theme.cancel' | transloco }}
          </button>
          <button class="warn" [disabled]="!selectedTheme" (click)="deleteMode = 'server'; deleteConfirm.open()">
            {{ 'generator.theme.remove.server' | transloco }}
          </button>
          <button class="primary" [disabled]="!selectedTheme" (click)="updateServer()">
            {{ 'generator.theme.update.server' | transloco }}
          </button>
        </p>
      </tab-content>
    }
  </tabs>
</dialog-cmp>

<dialog-cmp class="auto-format" #deleteConfirm>
  <p>
    {{ 'generator.theme.remove' | transloco }} <strong>{{ selectedTheme?.name }}</strong>
  </p>
  <p class="buttons">
    <button class="default" (click)="deleteConfirm.close()">
      {{ 'generator.theme.cancel' | transloco }}
    </button>
    <button
      class="warn"
      [disabled]="!selectedTheme"
      (click)="deleteMode === 'server' ? removeServer() : removeBrowser(); deleteConfirm.close()"
    >
      {{ 'generator.theme.remove.confirm' | transloco }}
    </button>
  </p>
</dialog-cmp>
