.edit-image {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 830px) {
        flex-wrap: wrap;
    }

    .image {
        max-height: 300px;
        width: 320px;
        min-width: 320px;
    }

    image-cropper {
        max-height: 600px;
    }

    & > * {
        flex: 1 1 auto;
    }

    .selected {
        border-color: var(--button-default-color);
    }

    .change {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .edit-ratio {
        max-width: 130px;
        margin: 0;
    }

    .sub-input {
        margin: 0;
        padding: 0;
        font-size: 80%;
        white-space: nowrap;
        opacity: 0.5;
    }
}

.image-preview {
    max-width: 100%;
    max-height: 500px;
}

.group-colors {
    display: flex;
    flex-wrap: wrap;
}

:where(.colors, position) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    flex: 1 1 auto;

    :where(label, .new-color) {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .color {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        outline: 1px solid;
        background: var(--color, #fff);

        &:hover,
        &:focus {
            outline: 2px solid;
        }

        &.remove {
            background: linear-gradient(45deg, transparent 46%, #b02626 46%, #b02626 54%, transparent 54%),
                linear-gradient(-45deg, transparent 46%, #b02626 46%, #b02626 54%, transparent 54%);
        }

        &.transparent {
            background: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%),
                linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%);
            background-color: var(--color, #fff);
            background-position: 0 0, 12.5px 12.5px;
            background-size: 10px 10px;
            background-size: 25px 25px;
        }
    }

    * {
        margin: 0;
        padding: 0;
    }

    input {
        width: 50px;
        height: 30px;
        border-radius: 0;
    }
}

.position {
    .top span {
        border-top: 1px solid;
    }

    .bottom span {
        border-bottom: 1px solid;
    }
}
