@if (!options) {
  <loader-cmp [message]="'generator.loading' | transloco"></loader-cmp>
}

<div
  class="classement-edit"
  drop-image
  [disabled]="dialogSaveServer?.isOpen() || advance?.dialogAdvancedOptions()?.isOpen() || editImage?._open || false"
>
  <div class="classement-edit-header">
    <h2>{{ 'generator.title.' + (id ? 'edit' : 'new') | transloco }}</h2>

    <div class="top-actions">
      @if (modeApi() && classement && classement.templateTotal > 1) {
        <div class="server-api">
          <button class="button-add primary" (click)="toTemplateNavigation()">
            {{ 'navigate.see.derivatives' | transloco }} ({{ classement.templateTotal }})
          </button>
          @if (derivatives && derivatives.length > 1) {
            <button class="button-add primary" (click)="showDerivative()">
              {{ 'navigate.my.derivatives' | transloco }} ({{ derivatives.length }})
            </button>
          }
          <button class="button-add primary" (click)="showRankingDiff()">
            {{ 'generator.ranking.diff' | transloco }}
          </button>
        </div>
      }
      <div class="client-api">
        @if (imdbActive) {
          <button class="button-add primary" (click)="imdb().open()">
            {{ 'IMDB' | transloco }}
          </button>
        }
      </div>
    </div>

    <classement-options [options]="options" [lockCategory]="lockCategory" #advance></classement-options>
  </div>

  @if (options) {
    <div class="edit-zone" [class.stream-mode]="options.streamMode" [ngClass]="classScreenMode" #div>
      <div class="classement-top">
        <h3>{{ 'generator.ranking.group.title' | transloco }}</h3>
        @if (classScreenMode !== 'default') {
          <button id="default-view" (click)="screenMode('default', div)">
            {{ 'generator.screen.default' | transloco }}
          </button>
        }
        @if (classScreenMode !== 'enlarge') {
          <button id="enlarge-view" (click)="screenMode('enlarge', div)">
            {{ 'generator.screen.window' | transloco }}
          </button>
        }
        @if (classScreenMode !== 'fullscreen') {
          <button id="fullscreen-view" (click)="screenMode('fullscreen', div)">
            {{ 'generator.screen.fullscreen' | transloco }}
          </button>
        }
      </div>
      <div cdkDropListGroup class="mode-{{ options.mode }}">
        @if (options.mode === 'default' || options.mode === 'teams') {
          <table
            class="table-classement"
            [attr.dir]="options.direction"
            [class.line-fusion]="options.borderSpacing < 0"
          >
            <colgroup>
              <col class="names" />
              <col class="elements" />
              <col class="actions" />
            </colgroup>
            <tbody>
              @for (group of groups; track group; let indexGrp = $index; let first = $first; let last = $last) {
                <tr [class.option-reduce]="options.itemHeight < 100">
                  <td
                    class="names"
                    [style.--name-background]="color(group.bgColor, nameOpacity)"
                    [style.--text-color]="group.txtColor"
                  >
                    <div>
                      <label class="name">
                        <div class="auto-resize no-border" [attr.data-value]="input?.value">
                          <textarea
                            #input
                            id="name-{{ indexGrp }}"
                            rows="1"
                            [(ngModel)]="group.name"
                            (ngModelChangeDebounced)="globalChange()"
                            maxlength="500"
                          ></textarea>
                        </div>
                      </label>
                      <span
                        class="color group-options icon-edit-2"
                        (click)="updateGroupOption({ group, indexGrp, first, last })"
                        (keydown.enter)="updateGroupOption({ group, indexGrp, first, last })"
                        tabindex="0"
                      ></span>
                      <span
                        class="color bg-color icon-background-color"
                        [colorPicker]="group.bgColor"
                        (colorClose)="group.bgColor = $event"
                        tabindex="0"
                      ></span>
                      <span
                        class="color txt-color icon-text-color"
                        [colorPicker]="group.txtColor"
                        colorPickerAlpha
                        (colorClose)="group.txtColor = $event"
                        tabindex="0"
                      ></span>
                    </div>
                  </td>
                  <td class="elements">
                    <div
                      class="drop-list"
                      cdkDropList
                      cdkDropListOrientation="mixed"
                      [cdkDropListData]="{ list: group.list, index: -1 }"
                      (cdkDropListDropped)="drop($event)"
                      [class.selectable-group]="group !== selectionGroup && selectionTile !== null"
                      (click)="selectionGroupForItem(group)"
                    >
                      @for (item of group.list; track trackByFnFileString(index, item); let index = $index) {
                        @if (item) {
                          <div
                            class="content-box"
                            cdkDrag
                            removeTile
                            (removeElement)="removeFromGroup(group, index)"
                            (click)="selectItem($event, group, item)"
                            (clickOutside)="selectItem(null, null, null)"
                            [contextMenu]="{ contextMenu, data: { item, group, index } }"
                            [style.--over-item-background]="item.bgColor"
                            [style.--over-item-text-color]="item.txtColor"
                            [class.selection-item]="item === selectionTile"
                          >
                            <div
                              class="content content-render"
                              [class.with-annotation]="item.annotation"
                              [ngClass]="options.itemTextPosition"
                              [id]="item.id"
                              #tile
                            >
                              @if (item.url) {
                                <div [class.image]="calcWidth(item, tile)">
                                  <img
                                    (ngInit)="calcWidth(item, tile); detectChanges()"
                                    (load)="calcWidth(item, tile); detectChanges()"
                                    [class.cover]="!options.itemWidthAuto && options.itemImageCover === true"
                                    [class.opti]="!options.itemWidthAuto && options.itemImageCover === 'opti'"
                                    src="{{ item.url }}"
                                    alt="{{ item.name }}"
                                  />
                                </div>
                              }
                              @if (
                                item.title || (options.itemTextMinLine && !options.itemTextPosition.endsWith('bubble'))
                              ) {
                                <div #title class="title" [class.title-item-width-auto]="options.itemWidthAuto">
                                  <span class="title-span" (ngInit)="detectChanges()">{{ item.title || '' }}</span>
                                </div>
                              }
                              <div class="tile-info" (click)="openTileInfo(item)"></div>
                            </div>
                          </div>
                        }
                      }
                      @if (group.list.length === 0) {
                        <div class="drop-zone-empty-list"></div>
                      }
                    </div>
                  </td>
                  <td class="actions">
                    <div class="button-actions">
                      @if (!first) {
                        <button class="button-up" (click)="upLine(indexGrp)">
                          <span class="icon-up"></span>
                        </button>
                      }
                      @if (!last) {
                        <button class="button-down" (click)="downLine(indexGrp)">
                          <span class="icon-down"></span>
                        </button>
                      }
                      @if (!(first && last)) {
                        <button class="button-suppr" (click)="deleteLine(indexGrp)">
                          <span [title]="'generator.line.delete' | transloco" class="icon-remove"></span>
                        </button>
                      }
                      <button class="button-add" (click)="addLine(indexGrp)">
                        <span [title]="'generator.line.add' | transloco" class="icon icon-add"></span>
                      </button>
                      <span
                        tabindex="0"
                        class="color group-options icon-edit-2"
                        (click)="updateGroupOption({ group, indexGrp, first, last })"
                        (keydown.enter)="updateGroupOption({ group, indexGrp, first, last })"
                      ></span>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        } @else if (options.mode === 'iceberg' || options.mode === 'axis') {
          <div class="zone-classement-container">
            <div
              id="zone"
              cdkDropZone
              [cdkDropListData]="{ list: groups[0].list }"
              (cdkDropListDropped)="drop($event)"
              class="zone-classement"
              (dblclick)="createTile($event)"
              (auxclick)="stopEvent($event)"
            >
              @if (options.groups?.length) {
                @switch (options.mode) {
                  @case ('iceberg') {
                    <zone-area [groups]="options.groups"></zone-area>
                  }
                  @case ('axis') {
                    <zone-axis [groups]="options.groups"></zone-axis>
                  }
                }
              }
              @for (item of groups[0].list; track trackByFnFileString(index, item); let index = $index) {
                @if (item) {
                  <div
                    class="content-box"
                    cdkDragElement
                    cdkDragBoundary=".zone-classement"
                    #element="cdkDragElement"
                    (ngInit)="initItem(element, { x: item.x || 0, y: item.y || 0 })"
                    (cdkDragMoved)="moveItem($event, item, element)"
                    (cdkDragEnded)="moveItemEnd()"
                    [cdkDragData]="{ x: item.x || 0, y: item.y || 0 }"
                    removeTile
                    (removeElement)="removeFromGroup(groups[0], index)"
                    [contextMenu]="{ contextMenu, data: { item, group: groups[0], index } }"
                    [style.--over-item-background]="item.bgColor"
                    [style.--over-item-text-color]="item.txtColor"
                  >
                    <div
                      class="content content-render"
                      [ngClass]="options.itemTextPosition"
                      [class.with-annotation]="item.annotation"
                      [id]="item.id"
                      #tile
                    >
                      @if (item.url) {
                        <div [class.image]="calcWidth(item, tile)">
                          <img
                            (ngInit)="calcWidth(item, tile); detectChanges()"
                            (load)="calcWidth(item, tile); detectChanges()"
                            [class.cover]="!options.itemWidthAuto && options.itemImageCover === true"
                            [class.opti]="!options.itemWidthAuto && options.itemImageCover === 'opti'"
                            src="{{ item.url }}"
                            alt="{{ item.name }}"
                          />
                        </div>
                      }
                      @if (item.title || (options.itemTextMinLine && !options.itemTextPosition.endsWith('bubble'))) {
                        <div #title class="title" [class.title-item-width-auto]="options.itemWidthAuto">
                          <span class="title-span" (ngInit)="detectChanges()">{{ item.title || '' }}</span>
                        </div>
                      }
                      <div class="tile-info" (click)="openTileInfo(item)"></div>
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        } @else if (options.mode === 'bingo') {
          <div class="bingo-container">
            <table class="table-classement" [class.line-fusion]="options.borderSpacing < 0">
              <tbody>
                @for (group of groups; track group; let indexGrp = $index; let first = $first; let last = $last) {
                  <tr>
                    @for (item of group.list; track trackByFnFileString(index, item); let index = $index) {
                      <td class="elements">
                        <div
                          class="drop-list"
                          cdkDropList
                          [cdkDropListData]="{ list: group.list, index }"
                          (cdkDropListDropped)="drop($event)"
                          [class.selectable-group]="selectionTile && item !== selectionTile"
                          [class.selection-item]="item && item === selectionTile"
                          (click)="
                            !selectionTile
                              ? selectItem($event, group, item, index)
                              : selectionGroupForItem(group, index)
                          "
                          (clickOutside)="selectItem(null, null, null)"
                        >
                          @if (item) {
                            <div
                              class="content-box"
                              cdkDrag
                              removeTile
                              (removeElement)="removeFromGroup(group, index)"
                              [contextMenu]="{ contextMenu, data: { item, group, index } }"
                              [style.--over-item-background]="item.bgColor"
                              [style.--over-item-text-color]="item.txtColor"
                            >
                              <div
                                class="content content-render"
                                [class.with-annotation]="item.annotation"
                                [ngClass]="options.itemTextPosition"
                                [id]="item.id"
                                #tile
                              >
                                @if (item.url) {
                                  <div [class.image]="calcWidth(item, tile)">
                                    <img
                                      (ngInit)="calcWidth(item, tile); detectChanges()"
                                      (load)="calcWidth(item, tile); detectChanges()"
                                      [class.cover]="!options.itemWidthAuto && options.itemImageCover === true"
                                      [class.opti]="!options.itemWidthAuto && options.itemImageCover === 'opti'"
                                      src="{{ item.url }}"
                                      alt="{{ item.name }}"
                                    />
                                  </div>
                                }
                                @if (
                                  item.title ||
                                  (options.itemTextMinLine && !options.itemTextPosition.endsWith('bubble'))
                                ) {
                                  <div #title class="title" [class.title-item-width-auto]="options.itemWidthAuto">
                                    <span class="title-span" (ngInit)="detectChanges()">{{ item.title || '' }}</span>
                                  </div>
                                }
                                <div class="tile-info" (click)="openTileInfo(item)"></div>
                              </div>
                            </div>
                          } @else {
                            <div class="drop-zone-empty-list"></div>
                          }
                        </div>
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          </div>
        } @else if (options.mode === 'columns') {
          <div class="table-columns">
            <table
              class="table-classement"
              [attr.dir]="options.direction"
              [class.line-fusion]="options.borderSpacing < 0"
              [class.width-max]="!options.itemWidthAuto"
            >
              <tbody>
                <tr [class.option-reduce]="options.itemHeight < 100">
                  @for (group of groups; track group; let indexGrp = $index; let first = $first; let last = $last) {
                    <td
                      class="names"
                      [style.--name-background]="color(group.bgColor, nameOpacity)"
                      [style.--text-color]="group.txtColor"
                    >
                      <div>
                        <label class="name">
                          <div class="auto-resize no-border" [attr.data-value]="input?.value">
                            <textarea
                              #input
                              id="name-{{ indexGrp }}"
                              rows="1"
                              [(ngModel)]="group.name"
                              (ngModelChangeDebounced)="globalChange()"
                              maxlength="500"
                            ></textarea>
                          </div>
                        </label>
                        <span
                          class="color group-options icon-edit-2"
                          (click)="updateGroupOption({ group, indexGrp, first, last })"
                          (keydown.enter)="updateGroupOption({ group, indexGrp, first, last })"
                          tabindex="0"
                        ></span>
                        <span
                          class="color bg-color icon-background-color"
                          [colorPicker]="group.bgColor"
                          (colorClose)="group.bgColor = $event"
                          tabindex="0"
                        ></span>
                        <span
                          class="color txt-color icon-text-color"
                          [colorPicker]="group.txtColor"
                          colorPickerAlpha
                          (colorClose)="group.txtColor = $event"
                          tabindex="0"
                        ></span>
                      </div>
                    </td>
                  }
                </tr>
                <tr>
                  @for (group of groups; track group; let indexGrp = $index; let first = $first; let last = $last) {
                    <td class="elements">
                      <div
                        class="drop-list"
                        cdkDropList
                        cdkDropListOrientation="mixed"
                        [cdkDropListData]="{ list: group.list, index: -1 }"
                        (cdkDropListDropped)="drop($event)"
                        [class.selectable-group]="group !== selectionGroup && selectionTile !== null"
                        (click)="selectionGroupForItem(group)"
                      >
                        @for (item of group.list; track trackByFnFileString(index, item); let index = $index) {
                          @if (item) {
                            <div
                              class="content-box"
                              cdkDrag
                              removeTile
                              (removeElement)="removeFromGroup(group, index)"
                              (click)="selectItem($event, group, item)"
                              (clickOutside)="selectItem(null, null, null)"
                              [contextMenu]="{ contextMenu, data: { item, group, index } }"
                              [style.--over-item-background]="item.bgColor"
                              [style.--over-item-text-color]="item.txtColor"
                              [class.selection-item]="item === selectionTile"
                            >
                              <div
                                class="content content-render"
                                [class.with-annotation]="item.annotation"
                                [ngClass]="options.itemTextPosition"
                                [id]="item.id"
                                #tile
                              >
                                @if (item.url) {
                                  <div [class.image]="calcWidth(item, tile)">
                                    <img
                                      (ngInit)="calcWidth(item, tile); detectChanges()"
                                      (load)="calcWidth(item, tile); detectChanges()"
                                      [class.cover]="!options.itemWidthAuto && options.itemImageCover === true"
                                      [class.opti]="!options.itemWidthAuto && options.itemImageCover === 'opti'"
                                      src="{{ item.url }}"
                                      alt="{{ item.name }}"
                                    />
                                  </div>
                                }
                                @if (
                                  item.title ||
                                  (options.itemTextMinLine && !options.itemTextPosition.endsWith('bubble'))
                                ) {
                                  <div #title class="title" [class.title-item-width-auto]="options.itemWidthAuto">
                                    <span class="title-span" (ngInit)="detectChanges()">{{ item.title || '' }}</span>
                                  </div>
                                }
                                <div class="tile-info" (click)="openTileInfo(item)"></div>
                              </div>
                            </div>
                          }
                        }
                        @if (group.list.length === 0) {
                          <div class="drop-zone-empty-list"></div>
                        }
                      </div>
                    </td>
                  }
                </tr>
                <tr>
                  @for (group of groups; track group; let indexGrp = $index; let first = $first; let last = $last) {
                    <td class="actions">
                      <div class="button-actions">
                        @if (!first) {
                          <button class="button-left" (click)="upLine(indexGrp)">
                            <span class="icon-left"></span>
                          </button>
                        }
                        @if (!last) {
                          <button class="button-right" (click)="downLine(indexGrp)">
                            <span class="icon-right"></span>
                          </button>
                        }
                        @if (!(first && last)) {
                          <button class="button-suppr" (click)="deleteLine(indexGrp)">
                            <span [title]="'generator.line.delete' | transloco" class="icon-remove"></span>
                          </button>
                        }
                        <button class="button-add" (click)="addLine(indexGrp)">
                          <span [title]="'generator.line.add' | transloco" class="icon icon-add"></span>
                        </button>
                        <span
                          tabindex="0"
                          class="color group-options icon-edit-2"
                          (click)="updateGroupOption({ group, indexGrp, first, last })"
                          (keydown.enter)="updateGroupOption({ group, indexGrp, first, last })"
                        ></span>
                      </div>
                    </td>
                  }
                </tr>
              </tbody>
            </table>
          </div>
        }
        <div class="current-list">
          <div class="drop-image-message">
            <span>{{ 'generator.ranking.drop.image' | transloco }}</span>
            @if (scrollArrows) {
              <span class="arrows">⇄</span>
            }
          </div>
          <div
            class="drop-list"
            id="list"
            #currentList
            [attr.dir]="options.direction"
            [class.height-auto]="options.itemHeightAuto"
            cdkDropList
            cdkDropListOrientation="mixed"
            [cdkDropListData]="{ list: list, index: -1 }"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of list; track trackByFnFileString(index, item); let index = $index) {
              @if (item) {
                <div
                  cdkDrag
                  [style.--over-item-background]="item.bgColor"
                  [style.--over-item-text-color]="item.txtColor"
                  class="content-box"
                  [class.selection-item]="item === selectionTile"
                  (click)="selectItem($event, null, item)"
                  (clickOutside)="selectItem(null, null, null)"
                >
                  @if (!options.streamMode) {
                    <div
                      #tile
                      class="content"
                      [ngClass]="options.itemTextPosition"
                      [class.with-annotation]="item.annotation"
                      [class.cover]="options.itemImageCover"
                      [style.width.px]="calcWidthEdit(item, tile)"
                    >
                      <button class="btn-delete" (click)="removeItem(index)">×</button>
                      <img
                        [src]="item.url"
                        [alt]="item.name"
                        [class.cover]="!options.itemWidthAuto && options.itemImageCover === true"
                        [class.opti]="!options.itemWidthAuto && options.itemImageCover === 'opti'"
                        (load)="detectChanges()"
                      />
                      <input
                        class="input-title"
                        input="text"
                        maxlength="150"
                        [(ngModel)]="item.title"
                        (ngModelChange)="globalChange()"
                        (blur)="change()"
                      />
                      <div class="tile-info" (click)="openTileInfo(item)"></div>
                    </div>
                  } @else {
                    <div
                      #tile
                      class="content content-render"
                      [ngClass]="options.itemTextPosition"
                      [class.cover]="options.itemImageCover"
                      [style.width.px]="calcWidth(item, tile)"
                    >
                      @if (item.url) {
                        <div class="image">
                          <img
                            (ngInit)="detectChanges()"
                            (load)="detectChanges()"
                            [class.cover]="!options.itemWidthAuto && options.itemImageCover === true"
                            [class.opti]="!options.itemWidthAuto && options.itemImageCover === 'opti'"
                            src="{{ item.url }}"
                            alt="{{ item.name }}"
                          />
                        </div>
                      }
                      @if (item.title || (options.itemTextMinLine && !options.itemTextPosition.endsWith('bubble'))) {
                        <div #title class="title" [class.title-item-width-auto]="options.itemWidthAuto">
                          <span class="title-span" (ngInit)="detectChanges()">{{ item.title || '' }}</span>
                        </div>
                      }
                    </div>
                  }
                </div>
              }
            }
            @if (list.length === 0) {
              <div
                class="drop-zone-empty-list"
                cdkDropList
                cdkDropListOrientation="mixed"
                [cdkDropListData]="{ list: list, index: -1 }"
                (cdkDropListDropped)="drop($event)"
              ></div>
            }
            <div class="content-box add-file" (click)="addFiles()">
              <span>{{ 'generator.ranking.add.image' | transloco }}</span>
            </div>
            <div class="content-box add-text" (click)="addTextsDialog()">
              <span>{{ 'generator.ranking.add.text' | transloco }}</span>
            </div>
          </div>
        </div>
      </div>

      <see-classement
        class="render"
        render
        [options]="options"
        [groups]="groups"
        [list]="list"
        [withAnnotation]="false"
        [imagesCache]="imagesCache"
        [id]="classement?.rankingId || 'new'"
      ></see-classement>
    </div>

    <div class="actions">
      <div class="save-actions buttons">
        <button class="primary" (click)="exportImage()" [disabled]="exportImageDisabled">
          @if (!exportImageLoading) {
            <span class="icon-share"></span>
          }
          @if (exportImageLoading) {
            <loading-cmp size="22px" tickWidth="2px"></loading-cmp>
          }
          {{ 'generator.actions.export.image' | transloco }}
        </button>
      </div>

      <div class="save-actions buttons">
        <button class="primary" (click)="saveLocal()" [disabled]="!hasItems">
          {{ 'generator.actions.save.local' | transloco }}
          <span [mgTooltip]="'generator.actions.save.local.info' | transloco" class="icon-info"></span>
        </button>
        <button class="primary" (click)="saveJson()" [disabled]="!hasItems">
          {{ 'generator.actions.export.json' | transloco }}
        </button>
        <button class="primary" (click)="dialogImport.open()">
          {{ 'generator.actions.import.json' | transloco }}
        </button>
        <button class="primary" (click)="dialogOptimise.open()" [disabled]="size === 0">
          {{ 'generator.optimise.button.optimise' | transloco }} ({{ size | fileSize }})
        </button>
      </div>
      @if (options && hasItems) {
        <div class="auto-save">
          <mg-input>
            <mg-input-checkbox [(ngModel)]="options.autoSave" (ngModelChange)="globalChange()">{{
              'generator.actions.save.local.auto' | transloco
            }}</mg-input-checkbox>
          </mg-input>
        </div>
      }
      @if (modeApi()) {
        <div class="save-actions buttons">
          @if (logged) {
            <button [disabled]="!id" class="primary" (click)="copyLink()">
              🔗 {{ 'generator.ranking.share.link' | transloco }}
            </button>
            <button [disabled]="!id" class="primary" (click)="show()">
              {{ 'generator.ranking.see' | transloco }}
            </button>
          }
          <button class="primary" (click)="saveServer()" [disabled]="!hasItems">
            {{ 'generator.actions.save.server' | transloco }}
          </button>
        </div>
      }

      <div class="save-actions buttons">
        <button class="primary" (click)="dialogClear.open()" [disabled]="!hasItems">
          {{ 'generator.actions.reset.groups.button' | transloco }}
        </button>
      </div>
    </div>
  }
</div>

<mg-dialog class="auto-format" #dialogImage closeButton>
  <div class="button-image-save">
    {{ 'generator.actions.save.image' | transloco }}
    <span>
      <button class="button-add primary png" (click)="saveImage('PNG')">PNG</button>
      <button class="button-add primary jpg" (click)="saveImage('JPG')">Jpeg</button>
      <button class="button-add primary webp" (click)="saveImage('WEBP')">WebP</button>
    </span>
  </div>
  <div #image></div>
</mg-dialog>

<mg-dialog class="auto-format" #dialogImport>
  <import-json (load)="importJson($event)"></import-json>
</mg-dialog>

<mg-dialog class="auto-format" #dialogOptimise closeButton>
  @if (dialogOptimise.isOpen()) {
    <classement-optimise
      [list]="list"
      [groups]="groups"
      [dialog]="dialogOptimise"
      [mode]="options.mode"
    ></classement-optimise>
  }
</mg-dialog>

<mg-dialog #dialogSaveServer>
  @if (logged && dialogSaveServer.isOpen()) {
    <classement-save-server
      [classement]="classement"
      [options]="options"
      [list]="list"
      [groups]="groups"
      [dialog]="dialogSaveServer"
      (action)="updateAfterServerSave($event)"
    ></classement-save-server>
  }
</mg-dialog>

<mg-dialog #dialogDerivatives closeButton>
  @if (derivatives) {
    <table class="table-derivatives">
      <thead>
        <tr>
          <th class="title">{{ 'list.title.name' | transloco }}</th>
          <th class="date">{{ 'list.date' | transloco }}</th>
          <th class="groups">{{ 'list.count.group' | transloco }}</th>
          <th class="items">{{ 'list.count.item' | transloco }}</th>
          <th class="actions">{{ 'list.action.name' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        @for (derivative of derivatives; track derivative) {
          <tr [class.current]="derivative.rankingId === classement?.rankingId">
            <td class="title">
              {{ derivative.data.options.title || ('list.title.undefined' | transloco) }}
              @if (derivative.rankingId === classement?.rankingId) {
                <span class="icon-left"></span> {{ 'list.current' | transloco }}
              }
            </td>
            <td class="date">
              <span>{{ derivative.dateCreate | date: ('date.dd/MM/yyyy' | transloco) }}</span>
              <span>{{ derivative.dateCreate | date: ('date.HH:mm' | transloco) }}</span>
            </td>
            <td class="groups">{{ derivative.totalGroups }}</td>
            <td class="items">{{ derivative.totalItems }}</td>
            <td class="actions">
              <a (clickEnter)="loadDerivativeClassement(derivative)">{{ 'list.action.replace' | transloco }}</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</mg-dialog>

<mg-dialog class="content-diff" #dialogRankingDiff>
  <div class="container">
    @if (diff?.length) {
      <div class="label">
        {{ 'generator.ranking.add.tile' | transloco }}
      </div>
      <div class="elements drop-list">
        @for (item of diff; track item) {
          <div class="content-box" (click)="addTile(item)">
            <div
              class="content content-render"
              [ngClass]="options.itemTextPosition"
              [style.width.px]="
                options.itemWidthAuto ? ((item.width || 150) / (item.height || 150)) * options.itemHeight : null
              "
            >
              @if (item.url) {
                <div class="image">
                  <img src="{{ imagesCache[item.url] || item.url }}" alt="{{ item.name }}" />
                </div>
              }
              @if (item.title || (options.itemTextMinLine && !options.itemTextPosition.endsWith('bubble'))) {
                <div class="title">
                  <span>{{ item.title || '' }}</span>
                </div>
              }
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="content-diff">{{ 'generator.ranking.no.tile' | transloco }}</div>
    }
    <div class="buttons">
      <button class="primary" (click)="dialogRankingDiff.close()">
        {{ 'generator.ranking.close' | transloco }}
      </button>
    </div>
  </div>
</mg-dialog>

<mg-dialog class="auto-format" #dialogClear>
  <p>
    {{ 'generator.actions.reset.groups.question' | transloco }}
  </p>
  <div class="buttons">
    <button (click)="dialogClear.close()">
      {{ 'generator.actions.reset.groups.cancel' | transloco }}
    </button>
    <button class="warn" (click)="reset(); dialogClear.close()">
      {{ 'generator.actions.reset.groups.ok' | transloco }}
    </button>
  </div>
</mg-dialog>

<mg-dialog class="auto-format" #dialogGroupOption>
  @if (currentGroup) {
    <div class="colors-options">
      <span
        class="color txt-color icon-text-color group-options"
        [colorPicker]="currentGroup.group.txtColor"
        colorPickerAlpha
        (colorClose)="currentGroup.group.txtColor = $event"
      ></span>
      <span
        class="color bg-color icon-background-color group-options"
        [colorPicker]="currentGroup.group.bgColor"
        (colorClose)="currentGroup.group.bgColor = $event"
      ></span>
      <label class="name" [style.background-color]="currentGroup.group.bgColor">
        <div class="auto-resize" [attr.data-value]="input?.value">
          <textarea
            #input
            rows="1"
            [(ngModel)]="currentGroup.group.name"
            (ngModelChange)="globalChange()"
            maxlength="500"
            [style.color]="currentGroup.group.txtColor"
          ></textarea>
        </div>
      </label>
    </div>

    <div class="button-actions">
      @if (!currentGroup.first) {
        <button class="button-up group-options" (click)="upLine(currentGroup.indexGrp)">↑</button>
      }
      @if (!currentGroup.last) {
        <button class="button-down group-options" (click)="downLine(currentGroup.indexGrp)">↓</button>
      }
      @if (!(currentGroup.first && currentGroup.last)) {
        <button
          class="button-suppr group-options"
          (click)="deleteLine(currentGroup.indexGrp); dialogGroupOption.close()"
        >
          {{ 'generator.line.delete' | transloco }}
        </button>
      }
      <button class="button-add group-options" (click)="addLine(currentGroup.indexGrp); dialogGroupOption.close()">
        {{ 'generator.line.add' | transloco }}
      </button>
    </div>
    <div class="buttons">
      <button class="primary" (click)="dialogGroupOption.close()">
        {{ 'generator.actions.reset.groups.ok' | transloco }}
      </button>
    </div>
  }
</mg-dialog>

<mg-dialog class="auto-format" #dialogTexts>
  <div class="add-text-dialog">
    <label class="name">
      <div>
        {{ 'generator.actions.texts.info' | transloco }}
      </div>
      <div class="auto-resize" [attr.data-value]="inputText?.value">
        <textarea #inputText [(ngModel)]="inputTexts" rows="1" maxlength="100"></textarea>
      </div>
    </label>
    <div class="buttons">
      <button class="default" (click)="closeTexts()">
        {{ 'generator.actions.texts.cancel' | transloco }}
      </button>
      <button class="primary" (click)="addTexts()">
        {{ 'generator.actions.texts.ok' | transloco }}
      </button>
    </div>
  </div>
</mg-dialog>

<classement-edit-image [currentTile]="currentTile" (deleteCurrent)="deleteCurrent()" #editImage></classement-edit-image>

<classement-login></classement-login>

<external-imdb></external-imdb>
