<h3>{{ 'gererator.options.group.title' | translate }}</h3>
<div class="options" *ngIf="options">
    <div class="title">
        <label>{{ 'gererator.options.title' | translate }}</label>
        <div><input type="text" maxlength="150" [(ngModel)]="options.title" /></div>
    </div>
    <div class="categories">
        <label>{{ 'gererator.options.group' | translate }}</label>
        <div>
            <select type="text" maxlength="150" [(ngModel)]="options.category">
                <option *ngFor="let item of categories" [value]="item">{{ 'category.' + item | translate }}</option>
            </select>
        </div>
    </div>
    <ng-container *ngIf="!options.showAdvancedOptions">
        <div class="sizes">
            <a (click)="switchOptions()">{{ 'gererator.options.advence' | translate }}</a>
        </div>
        <div class="themes">
            <a (click)="themesOpen()">{{ 'gererator.theme.link' | translate }}</a>
        </div>
    </ng-container>
    <ng-container *ngIf="options.showAdvancedOptions">
        <div class="sizes">
            <label>{{ 'gererator.options.sizes' | translate }}</label>
            <div class="item-options">
                <div class="box-border"></div>
                <div class="box-in"></div>
                <div class="margin">{{ 'gererator.options.margin' | translate }}</div>
                <div class="padding">{{ 'gererator.options.padding' | translate }}</div>
                <div class="image">{{ 'gererator.options.image' | translate }}</div>
                <div class="border">
                    <span>{{ 'gererator.options.border' | translate }}</span>
                </div>
                <div class="height"></div>
                <div class="width"></div>
                <input
                    type="number"
                    min="0"
                    max="20"
                    class="item-margin"
                    [(ngModel)]="options.itemMargin"
                    title="{{ 'gererator.options.item.margin' | translate }}"
                />
                <input
                    type="number"
                    min="0"
                    max="20"
                    class="item-border"
                    [(ngModel)]="options.itemBorder"
                    title="{{ 'gererator.options.item.border' | translate }}"
                />
                <input
                    type="number"
                    min="0"
                    max="20"
                    class="item-padding"
                    [(ngModel)]="options.itemPadding"
                    title="{{ 'gererator.options.item.padding' | translate }}"
                />
                <input
                    type="number"
                    min="16"
                    max="300"
                    class="item-height"
                    [(ngModel)]="options.itemHeight"
                    title="{{ 'gererator.options.item.height' | translate }}"
                />
                <input
                    type="number"
                    min="16"
                    max="300"
                    class="item-width"
                    [(ngModel)]="options.itemWidth"
                    title="{{ 'gererator.options.item.width' | translate }}"
                />
            </div>
        </div>
        <div class="colors-item-back input-button">
            <div class="color">
                <label for="itemBackgroundColor">{{ 'gererator.options.item.background.color' | translate }}</label>
                <input id="itemBackgroundColor" type="color" [(ngModel)]="options.itemBackgroundColor" />
            </div>
            <div class="opacity">
                <label for="itemBackgroundOpacity">{{ 'gererator.options.item.background.opacity' | translate }}</label>
                <input
                    id="itemBackgroundOpacity"
                    type="number"
                    max="100"
                    min="0"
                    maxlength="3"
                    [disabled]="!options.itemBackgroundColor"
                    [(ngModel)]="options.itemBackgroundOpacity"
                />
            </div>
            <button (click)="options.itemBackgroundColor = ''; options.itemBackgroundOpacity = 100">
                {{ 'gererator.options.clear' | translate }}
            </button>
            <div class="color-render"></div>
        </div>
        <div class="colors-item-border input-button">
            <div class="color">
                <label for="itemBorderColor">{{ 'gererator.options.item.border.color' | translate }}</label>
                <input id="itemBorderColor" type="color" [(ngModel)]="options.itemBorderColor" />
            </div>
            <div class="opacity">
                <label for="itemBorderOpacity">{{ 'gererator.options.item.border.opacity' | translate }}</label>
                <input
                    id="itemBorderOpacity"
                    type="number"
                    max="100"
                    min="0"
                    maxlength="3"
                    [disabled]="!options.itemBorderColor"
                    [(ngModel)]="options.itemBorderOpacity"
                />
            </div>
            <button (click)="options.itemBorderColor = ''; options.itemBorderOpacity = 100">
                {{ 'gererator.options.clear' | translate }}
            </button>
            <div class="color-render"></div>
        </div>
        <div class="colors-line-back input-button">
            <div class="color">
                <label for="lineBackgroundColor">{{ 'gererator.options.line.background.color' | translate }}</label>
                <input id="lineBackgroundColor" type="color" [(ngModel)]="options.lineBackgroundColor" />
            </div>
            <div class="opacity">
                <label>{{ 'gererator.options.line.background.opacity' | translate }}</label>
                <input
                    type="number"
                    max="100"
                    min="0"
                    maxlength="3"
                    [disabled]="!options.lineBackgroundColor"
                    [(ngModel)]="options.lineBackgroundOpacity"
                />
            </div>
            <button (click)="options.lineBackgroundColor = ''; options.lineBackgroundOpacity = 100">
                {{ 'gererator.options.clear' | translate }}
            </button>
            <div class="color-render"></div>
        </div>
        <div class="colors-line-border input-button">
            <div class="color">
                <label for="lineBorderColor">{{ 'gererator.options.line.border.color' | translate }}</label>
                <input id="lineBorderColor" type="color" [(ngModel)]="options.lineBorderColor" />
            </div>
            <div class="opacity">
                <label for="lineBorderOpacity">{{ 'gererator.options.line.border.opacity' | translate }}</label>
                <input
                    id="lineBorderOpacity"
                    type="number"
                    max="100"
                    min="0"
                    maxlength="3"
                    [disabled]="!options.lineBorderColor"
                    [(ngModel)]="options.lineBorderOpacity"
                />
            </div>
            <button (click)="options.lineBorderColor = ''; options.lineBorderOpacity = 100">
                {{ 'gererator.options.clear' | translate }}
            </button>
            <div class="color-render"></div>
        </div>
        <div class="global-color input-button">
            <div class="color">
                <label for="imageBackgroundColor">{{ 'gererator.options.global.background' | translate }}</label>
                <input id="imageBackgroundColor" type="color" [(ngModel)]="options.imageBackgroundColor" />
            </div>
            <button (click)="options.imageBackgroundColor = ''">
                {{ 'gererator.options.clear' | translate }}
            </button>
            <div class="color-render"></div>
        </div>
        <div class="global-width input-button">
            <div class="width-input">
                <label for="imageWidth">{{ 'gererator.options.global.width' | translate }}</label>
                <input id="imageWidth" type="number" [(ngModel)]="options.imageWidth" />
            </div>
        </div>
        <div class="name-width input-button">
            <div class="width-input">
                <label for="nameWidth">{{ 'gererator.options.name.width' | translate }}</label>
                <input id="nameWidth" type="number" [(ngModel)]="options.nameWidth" />
            </div>
        </div>
        <div class="font-size input-button">
            <div class="width-input">
                <label for="nameFontSize">{{ 'gererator.options.name.font-size' | translate }}</label>
                <input id="nameFontSize" type="number" min="50" max="300" [(ngModel)]="options.nameFontSize" />
            </div>
        </div>
        <div class="background-image">
            <div class="width-input">
                <label for="nameFontSize">{{ 'gererator.options.global.image' | translate }}</label>
                <div class="image-list">
                    <div class="select input list-options" (click)="toggleImageList()">
                        <div
                            class="image"
                            [style.--url]="
                                options.imageBackgroundImage !== 'none'
                                    ? 'url(./assets/themes/' + options.imageBackgroundImage + '.mini.svg)'
                                    : null
                            "
                        ></div>
                        <div class="label">
                            {{ 'gererator.options.global.name.image.' + options.imageBackgroundImage | translate }}
                        </div>
                    </div>
                    <ul [class.open-list]="imageListOpen" class="input list-options">
                        <li
                            *ngFor="let item of listThemes"
                            (click)="changeImage(item)"
                            [class.selected]="item === this.options.imageBackgroundImage"
                        >
                            <div
                                class="image"
                                [style.--url]="item !== 'none' ? 'url(./assets/themes/' + item + '.mini.svg)' : null"
                            ></div>
                            <div class="label">{{ 'gererator.options.global.name.image.' + item | translate }}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="simple">
            <div>
                <a (click)="themesOpen()">{{ 'gererator.theme.link' | translate }}</a>
            </div>
            <div>
                <a (click)="switchOptions()">{{ 'gererator.options.simple' | translate }}</a>
            </div>
        </div>
    </ng-container>
</div>

<classement-themes (change)="changeTheme($event)"></classement-themes>
