<div>{{ 'generator.optimise.info' | transloco }}</div>

<div>
  <button class="primary" (click)="optimise()" [disabled]="start">
    {{ 'generator.optimise.button.optimise' | transloco }}
  </button>
</div>

<div>
  {{ 'generator.optimise.current' | transloco: { totalSize: (totalSize | numFormat), totalImage: total } }}
</div>

@if (start) {
  <div>
    <div>
      @if (progress !== total) {
        <mg-spinner class="loading" size="20px" tickWidth="2px" />
      }
      <progress [max]="total" [value]="progress"></progress> {{ progress }} / {{ total }}
    </div>
    <div>
      <a (clickEnter)="toggle()">{{
        (!detail ? 'generator.optimise.show.detail' : 'generator.optimise.hide.detail') | transloco
      }}</a>
    </div>
    <div>
      {{ 'generator.optimise.reduce.files' | transloco: { countResize: countResize } }}<br />
      {{ 'generator.optimise.reduce.size' | transloco: { reduceSize: (reduceSize | numFormat) } }}<br />
      {{
        'generator.optimise.final.size'
          | transloco
            : {
                finalSize: (finalSize | numFormat),
                percent: (finalSize - totalSize) / totalSize | numFormat: { style: 'percent' },
              }
      }}
    </div>
    <div>
      @if (progress === total) {
        <button class="primary" (click)="optimiseAccept()">
          {{ 'generator.optimise.validate' | transloco }}
        </button>
      }
    </div>
    @if (detail) {
      <div class="list">
        @for (item of listOptimise; track item; let index = $index) {
          <div>
            <img
              src="{{ (item.reduceFile || item.sourceFile).url }}"
              alt="{{ (item.reduceFile || item.sourceFile).name }}"
            />
            <div class="info-reduce">
              <span class="reduce-source">
                {{ 'generator.optimise.size' | transloco: { size: (item.sourceFile.realSize | numFormat) } }}
              </span>
              <span class="arrow">↓</span>
              <span class="reduce-target">
                {{
                  'generator.optimise.size'
                    | transloco: { size: (item.reduceFile?.realSize || item.sourceFile.realSize | numFormat) }
                }}
              </span>
              <span class="reduce-size">
                {{ 'generator.optimise.size' | transloco: { size: (-1 * item.reduce | numFormat) } }}
                <span class="percent">
                  {{
                    ((item.reduceFile?.realSize || item.sourceFile.realSize) - item.sourceFile.realSize) /
                      item.sourceFile.realSize | numFormat: { style: 'percent' }
                  }}
                </span>
              </span>
            </div>
          </div>
        }
      </div>
    }
  </div>
}
