<div drop-image mode="local" (file)="fileChange($event)" class="test">
  <h2>{{ (update ? 'generator.server.update' : 'generator.server.new') | translate }}</h2>

  @if (classement && classement.user && !update) {
    <div class="info-classement">
      <h3>{{ 'generator.server.from' | translate }}</h3>
      <div>
        <strong>{{ 'generator.server.username' | translate }}</strong>
        <span [class.anonymous]="!classement.user">{{ classement.user || ('list.user.anonymous' | translate) }}</span>
      </div>
      <div>
        <strong>{{ 'generator.options.title' | translate }}</strong>
        <span>{{ classement.name }}</span>
      </div>
      <div class="category">
        <strong>{{ 'generator.options.group' | translate }}</strong>
        <span>{{ 'category.' + (classement.category || 'undefined') | translate }}</span>
      </div>
    </div>
  }

  @if (options) {
    <h3>{{ 'generator.server.edit' | translate }}</h3>
    <div class="title">
      <label>{{ 'generator.options.title' | translate }}</label>
      <div><input type="text" maxlength="150" [(ngModel)]="options.title" /></div>
    </div>
    @if (!classement?.user || classement?.parent) {
      <div class="categories">
        <label>{{ 'generator.options.group' | translate }}</label>
        <div>
          <select2 [data]="categoriesList" [(ngModel)]="options.category"></select2>
        </div>
      </div>
    }
    <div class="banner">
      <label class="required">{{ 'generator.server.banner.select' | translate }}</label>
      <input type="file" accept="image/*" required (change)="fileChangeEvent($event)" #bannerInput />
    </div>
    <div class="cropper-line">
      @if (imageChangedEvent || imageBase64) {
        <div class="cropper">
          <div class="label">{{ 'generator.server.banner.crop' | translate }}</div>
          <image-cropper
            #imageCropper
            [imageChangedEvent]="imageChangedEvent"
            [imageBase64]="imageBase64"
            [maintainAspectRatio]="true"
            [cropperMinWidth]="300"
            [cropperMinHeight]="300"
            [resizeToWidth]="300"
            [resizeToHeight]="300"
            [aspectRatio]="1 / 1"
            [onlyScaleDown]="true"
            format="webp"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded($event)"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
        </div>
      }
      @if (croppedImage || classement?.banner) {
        <div class="image">
          <div class="label">{{ 'generator.server.banner.image' | translate }}</div>
          <img [src]="croppedImage || classement?.banner" />
          @if (croppedImage) {
            <button (click)="resetBanner()">
              {{ 'generator.server.banner.reset' | translate }}
            </button>
          }
        </div>
      }
    </div>
    @if (showError.length) {
      <ul class="list-error">
        @for (error of showError; track error) {
          <li>{{ error }}</li>
        }
      </ul>
    }
    <div class="link">
      <label>{{ 'generator.server.link' | translate }}</label>
      <div>
        <input
          type="text"
          [ngModel]="this.classement?.linkId"
          (ngModelChange)="testLink($event)"
          (blur)="linkFormat($event)"
        />
      </div>
      <span class="validity" [class.valid]="linkIdValid">
        {{ linkIdValid !== undefined ? (linkIdValid ? 'Ｏ' : 'Ｘ') : '' }}
      </span>
    </div>
    <div class="public">
      <label>
        <input type="checkbox" [(ngModel)]="hidden" />
        {{ 'generator.server.not.public' | translate }}
      </label>
      <span [tooltip]="'list.hide.note' | translate" class="icon-info"></span>
    </div>
    @if (hidden) {
      <div class="password">
        <label>{{ 'generator.server.password' | translate }}</label>
        <div><input type="password" [(ngModel)]="password" /></div>
      </div>
    }
    <div class="save-local">
      <label>
        <input type="checkbox" [(ngModel)]="saveLocal" />
        {{ 'generator.server.not.remove.local' | translate }}
      </label>
      <span [tooltip]="'generator.server.not.remove.local.info' | translate" class="icon-info"></span>
    </div>
    @if (update) {
      <div class="public">
        <label>
          <input type="checkbox" [(ngModel)]="history" />
          {{ 'generator.server.history.label' | translate }}
        </label>
        <span [tooltip]="'generator.server.history.info' | translate" class="icon-info"></span>
      </div>
    }
  }

  <p>
    <button (click)="cancel()">{{ 'generator.server.cancel' | translate }}</button>
    <button class="primary" (click)="validate()" [disabled]="linkIdValid === false">
      {{ 'generator.server.save' | translate }}
    </button>
  </p>
</div>
@if (loading) {
  <loader-cmp message="Sauvegarde en cours" [progress]="progress"></loader-cmp>
}
