<h3>{{ 'generator.options.group.title' | transloco }}</h3>

@let opts = options();

@if (opts) {
  <div class="options {{ opts.mode }}">
    <div class="title">
      <label for="option-title">{{ 'generator.options.title' | transloco }}</label>
      <div><input for="option-title" type="text" maxlength="150" [(ngModel)]="opts.title" /></div>
    </div>
    <div class="categories">
      <label for="option-category">{{ 'generator.options.group' | transloco }}</label>
      <div>
        <select2
          id="option-category"
          [data]="categoriesList"
          [disabled]="lockCategory()"
          [(ngModel)]="opts.category"
        ></select2>
      </div>
    </div>
    <div class="modes">
      <label for="option-mode">{{ 'generator.options.mode' | transloco }}</label>
      <select2
        #mode
        id="option-mode"
        [ngModel]="opts.mode"
        (ngModelChange)="modeChange(opts.mode, $event)"
        [data]="listMode"
        [templates]="{ template: templateMode, templateSelection: templateSelectionMode }"
        grid="100px"
      >
        <ng-template #templateMode let-label="label" let-data="data">
          <div class="list-mode option">
            <div class="view"><span [ngClass]="'icon-mode-' + data.icon"></span></div>
            <div class="desc">
              {{ 'mode.name.' + label | transloco }}
            </div>
          </div>
        </ng-template>
        <ng-template #templateSelectionMode let-label="label" let-data="data">
          <div class="list-mode">
            <div class="view"><span [ngClass]="'icon-mode-' + data.icon"></span></div>
            <div class="desc">
              {{ 'mode.name.' + label | transloco }}
            </div>
          </div>
        </ng-template>
      </select2>
    </div>
    <div class="description">
      <label for="option-description">{{ 'generator.options.description' | transloco }}</label>
      <div>
        <textarea id="option-description" autosize maxlength="1000" [(ngModel)]="opts.description"></textarea>
        <div class="info-desc">
          @if (1000 - ((opts.description && opts.description.length) || 0) < 200) {
            <span> {{ 1000 - opts.description.length }} - </span>
          }
          <span>Markdown</span>
        </div>
      </div>
    </div>
    <div class="links">
      <a tabindex="0" (click)="advanceOptions()">{{ 'generator.options.advance' | transloco }}</a>
    </div>
    <div class="themes">
      <a tabindex="0" (click)="themesOpen()">{{ 'generator.theme.link' | transloco }}</a>
    </div>
    <div class="width-auto">
      @if (opts.mode !== 'bingo') {
        <label class="toggle-switch">
          <input type="checkbox" [(ngModel)]="opts.itemWidthAuto" />
          <span>{{ 'generator.options.item.width.auto' | transloco }}</span>
        </label>
      }
      @if (zoneMode.includes(opts.mode)) {
        <label class="toggle-switch">
          <input type="checkbox" [(ngModel)]="opts.itemHeightAuto" />
          <span>{{ 'generator.options.item.height.auto' | transloco }}</span>
        </label>
      }
      @if (
        (!opts.itemWidthAuto &&
          (!zoneMode.includes(opts.mode) || (zoneMode.includes(opts.mode) && !opts.itemHeightAuto))) ||
        opts.mode === 'bingo'
      ) {
        <label class="toggle-switch">
          <input type="checkbox" [(ngModel)]="opts.itemImageCover" />
          <span>{{ 'generator.options.item.cover' | transloco }}</span>
        </label>
      }
    </div>
    <div class="stream-mode">
      <label class="toggle-switch">
        <input type="checkbox" [(ngModel)]="opts.streamMode" />
        <span>{{ 'generator.options.stream.mode' | transloco }}</span>
        <span [tooltip]="'generator.options.stream.mode.info' | transloco" class="icon-info"></span>
      </label>
    </div>

    <div class="tags">
      {{ 'generator.options.tags' | transloco }}
      <tag-list [tags]="opts.tags" (update)="updateTags($event)"></tag-list>
    </div>
  </div>
}

<classement-themes (change)="changeTheme($event)" [themes]="themes" [options]="options()"></classement-themes>

<dialog-cmp class="auto-format" #dialogChangeMode>
  <p class="question">
    {{ 'generator.actions.change.mode.question' | transloco }}
  </p>
  <p class="info">
    <strong>{{ 'mode.name.' + _modeTemp | transloco }}</strong>
    <span>{{ 'generator.actions.change.mode.' + _modeTemp | transloco }}</span>
  </p>

  <div class="buttons">
    <button (click)="modeChangeValid(false)">
      {{ 'generator.actions.reset.groups.cancel' | transloco }}
    </button>
    <button class="primary" (click)="modeChangeValid(true)">
      {{ 'generator.actions.reset.groups.ok' | transloco }}
    </button>
  </div>
</dialog-cmp>

<dialog-cmp #dialogAdvancedOptions class="dialog-options" closeBackdrop closeButton>
  <p class="warning">
    {{ 'generator.options.advance.info' | transloco }}
  </p>

  @if (opts) {
    <div class="advanced-options {{ opts.mode }}">
      <!-- ###############################  tile options ############################### -->
      <h4 class="title-item">{{ 'generator.options.item.title' | transloco }}</h4>
      <div class="sizes">
        <label for="option-item-margin">{{ 'generator.options.sizes' | transloco }}</label>
        <div class="item-options">
          <div class="box-border"></div>
          <div class="box-in"></div>
          <div class="height"></div>
          <div class="width"></div>
          <label for="option-item-margin" class="margin">{{ 'generator.options.margin' | transloco }}</label>
          <input
            id="option-item-margin"
            type="number"
            min="0"
            max="20"
            class="item-margin"
            [(ngModel)]="opts.itemMargin"
            title="{{ 'generator.options.item.margin' | transloco }}"
          />
          <label for="option-item-border" class="border">
            <span>{{ 'generator.options.border' | transloco }}</span>
          </label>
          <input
            id="option-item-border"
            type="number"
            min="0"
            max="20"
            class="item-border"
            [(ngModel)]="opts.itemBorder"
            title="{{ 'generator.options.item.border' | transloco }}"
          />
          <label for="option-item-padding" class="padding">{{ 'generator.options.padding' | transloco }}</label>
          <input
            id="option-item-padding"
            type="number"
            min="0"
            max="20"
            class="item-padding"
            [(ngModel)]="opts.itemPadding"
            title="{{ 'generator.options.item.padding' | transloco }}"
          />
          @if (!opts.itemHeightAuto) {
            <input
              id="option-item-height"
              type="number"
              min="16"
              max="300"
              class="item-height"
              [(ngModel)]="opts.itemHeight"
              (ngModelChange)="updateSize('itemHeight', 16)"
              title="{{ 'generator.options.item.height' | transloco }}"
            />
          } @else {
            <span id="option-item-height-auto-info" class="item-height input">auto</span>
          }
          @if (opts.itemHeightAuto) {
            <input
              id="option-item-max-height"
              type="number"
              min="150"
              max="300"
              class="item-max-height"
              [(ngModel)]="opts.itemMaxWidth"
              (ngModelChange)="updateSize('itemMaxHeight', 100)"
              title="{{ 'generator.options.item.max.height' | transloco }}"
            />
          }
          <span class="image">{{ 'generator.options.image' | transloco }}</span>
          @if (!opts.itemWidthAuto) {
            <input
              id="option-item-width"
              type="number"
              min="16"
              max="300"
              class="item-width"
              [(ngModel)]="opts.itemWidth"
              (ngModelChange)="updateSize('itemWidth', 16)"
              title="{{ 'generator.options.item.width' | transloco }}"
            />
          } @else {
            <span id="option-item-width-auto-info" class="item-width input">auto</span>
          }
          @if (opts.itemWidthAuto) {
            <input
              id="option-item-max-width"
              type="number"
              min="150"
              max="300"
              class="item-max-width"
              [(ngModel)]="opts.itemMaxWidth"
              (ngModelChange)="updateSize('itemMaxWidth', 100)"
              title="{{ 'generator.options.item.max.width' | transloco }}"
            />
          }
        </div>
        <div>
          @if (opts.mode !== 'bingo') {
            <label class="toggle-switch">
              <input id="option-item-width-auto" type="checkbox" [(ngModel)]="opts.itemWidthAuto" />
              <span>{{ 'generator.options.item.width.auto' | transloco }}</span>
            </label>
          }
          @if (zoneMode.includes(opts.mode)) {
            <label class="toggle-switch">
              <input id="option-item-height-auto" type="checkbox" [(ngModel)]="opts.itemHeightAuto" />
              <span>{{ 'generator.options.item.height.auto' | transloco }}</span>
            </label>
          }
          @if (
            (!opts.itemWidthAuto &&
              (!zoneMode.includes(opts.mode) || (zoneMode.includes(opts.mode) && !opts.itemHeightAuto))) ||
            opts.mode === 'bingo'
          ) {
            <label class="toggle-switch">
              <input id="option-item-cover" type="checkbox" [(ngModel)]="opts.itemImageCover" />
              <span>{{ 'generator.options.item.cover' | transloco }}</span>
            </label>
          }
        </div>
      </div>
      <div class="colors-item-back input-button">
        <div class="color">
          <label for="itemBackgroundColor">{{ 'generator.options.item.background.color' | transloco }}</label>
          <input id="itemBackgroundColor" type="color" [(ngModel)]="opts.itemBackgroundColor" />
        </div>
        <div class="opacity">
          <label for="itemBackgroundOpacity">{{ 'generator.options.item.background.opacity' | transloco }}</label>
          <input
            id="itemBackgroundOpacity"
            type="range"
            max="100"
            min="0"
            step="1"
            [disabled]="!opts.itemBackgroundColor"
            [(ngModel)]="opts.itemBackgroundOpacity"
          />
        </div>
        <button (click)="resetItemBackground()" [disabled]="!opts.itemBackgroundColor">
          {{ 'generator.options.clear' | transloco }}
        </button>
        @if (opts.itemBackgroundColor) {
          <div class="color-render"></div>
        }
      </div>
      <div class="colors-item-border input-button">
        <div class="color">
          <label for="itemBorderColor">{{ 'generator.options.item.border.color' | transloco }}</label>
          <input id="itemBorderColor" type="color" [(ngModel)]="opts.itemBorderColor" />
        </div>
        <div class="opacity">
          <label for="itemBorderOpacity">{{ 'generator.options.item.border.opacity' | transloco }}</label>
          <input
            id="itemBorderOpacity"
            type="range"
            max="100"
            min="0"
            step="1"
            [disabled]="!opts.itemBorderColor"
            [(ngModel)]="opts.itemBorderOpacity"
          />
        </div>
        <button (click)="resetItemBorder()" [disabled]="!opts.itemBorderColor">
          {{ 'generator.options.clear' | transloco }}
        </button>
        @if (opts.itemBorderColor) {
          <div class="color-render"></div>
        }
      </div>
      <div class="colors-item-text input-button">
        <div class="width-input">
          <label for="option-item-text-color">{{ 'generator.options.item.text.color' | transloco }}</label>
          <input id="option-item-text-color" type="color" [(ngModel)]="opts.itemTextColor" />
        </div>
        <div class="opacity">
          <label for="option-item-text-opacity">{{ 'generator.options.item.text.opacity' | transloco }}</label>
          <input
            for="option-item-text-opacity"
            type="range"
            max="100"
            min="0"
            step="1"
            [disabled]="!opts.itemTextColor"
            [(ngModel)]="opts.itemTextOpacity"
          />
        </div>
        <button (click)="resetItemText()" [disabled]="!opts.itemTextColor">
          {{ 'generator.options.clear' | transloco }}
        </button>
        @if (opts.itemTextColor) {
          <div class="color-render"></div>
        }
      </div>
      @if (!opts.itemWidthAuto) {
        <div class="min-line-text input-value">
          <div class="number-input">
            <label for="min-line-text">{{ 'generator.options.item.text.min.line' | transloco }}</label>
            <input id="min-line-text" type="number" min="0" max="10" [(ngModel)]="opts.itemTextMinLine" />
          </div>
        </div>
        <div class="max-line-text input-value">
          <div class="number-input">
            <label for="max-line-text">{{ 'generator.options.item.text.max.line' | transloco }}</label>
            <input id="max-line-text" type="number" min="0" max="10" [(ngModel)]="opts.itemTextMaxLine" />
          </div>
        </div>
      }
      <div class="size-item-text input-value">
        <div class="number-input">
          <label for="itemTextSize">{{ 'generator.options.item.text.size' | transloco }}</label>
          <input id="itemTextSize" type="number" min="6" max="100" [(ngModel)]="opts.itemTextSize" />
          <span data-type="px"></span>
        </div>
      </div>
      <div class="size-item-text-only input-value">
        <div class="number-input">
          <label for="itemTextOnlySize">{{ 'generator.options.item.text.only.size' | transloco }}</label>
          <input id="itemTextOnlySize" type="number" min="6" max="100" [(ngModel)]="opts.itemTextOnlySize" />
          <span data-type="px"></span>
        </div>
      </div>
      <div class="item-text-position input-value">
        <div class="select-input">
          @let textPosition = 'generator.options.item.text.position';
          <label for="option-item-text-position">{{ textPosition | transloco }}</label>
          <select id="option-item-text-position" [(ngModel)]="opts.itemTextPosition">
            <option value="bottom">{{ textPosition + '.bottom' | transloco }}</option>
            <option value="bottom-over">{{ textPosition + '.bottom.float' | transloco }}</option>
            <option value="bottom-over-hover">{{ textPosition + '.bottom.float.hover' | transloco }}</option>
            <option value="bottom-bubble">{{ textPosition + '.bottom.bubble' | transloco }}</option>
            <option value="top">{{ textPosition + '.top' | transloco }}</option>
            <option value="top-over">{{ textPosition + '.top.float' | transloco }}</option>
            <option value="top-over-hover">{{ textPosition + '.top.float.hover' | transloco }}</option>
            <option value="top-bubble">{{ textPosition + '.top.bubble' | transloco }}</option>
            <option value="hidden">{{ textPosition + '.hidden' | transloco }}</option>
          </select>
        </div>
      </div>
      @if (opts.itemTextPosition && opts.itemTextPosition.match('.*(over|bubble).*')) {
        <div class="item-text-back input-button">
          <div class="color">
            <label for="option-item-text-background-color">{{
              'generator.options.item.text.background.color' | transloco
            }}</label>
            <input id="option-item-text-background-color" type="color" [(ngModel)]="opts.itemTextBackgroundColor" />
          </div>
          <div class="opacity">
            <label id="option-item-text-background-opacity">{{
              'generator.options.item.text.background.opacity' | transloco
            }}</label>
            <input
              id="option-item-text-background-opacity"
              type="range"
              max="100"
              min="0"
              step="1"
              [disabled]="!opts.itemTextBackgroundColor"
              [(ngModel)]="opts.itemTextBackgroundOpacity"
            />
          </div>
          <button (click)="resetItemTextBackground()" [disabled]="!opts.itemTextBackgroundColor">
            {{ 'generator.options.clear' | transloco }}
          </button>
          @if (opts.itemTextBackgroundColor) {
            <div class="color-render"></div>
          }
        </div>
      }
      <!-- ###############################  line options ###############################  -->
      @if (!zoneMode.includes(opts.mode)) {
        <h4 class="title-line">{{ 'generator.options.line.title' | transloco }}</h4>
        <div class="colors-line-back input-button">
          <div class="color">
            <label for="option-line-background-color">{{
              'generator.options.line.background.color' | transloco
            }}</label>
            <input id="option-line-background-color" type="color" [(ngModel)]="opts.lineBackgroundColor" />
          </div>
          <div class="opacity">
            <label for="option-line-background-opacity">{{
              'generator.options.line.background.opacity' | transloco
            }}</label>
            <input
              for="option-line-background-opacity"
              type="range"
              max="100"
              min="0"
              step="1"
              [disabled]="!opts.lineBackgroundColor"
              [(ngModel)]="opts.lineBackgroundOpacity"
            />
          </div>
          <button (click)="resetLineBackground()" [disabled]="!opts.lineBackgroundColor">
            {{ 'generator.options.clear' | transloco }}
          </button>
          @if (opts.lineBackgroundColor) {
            <div class="color-render"></div>
          }
        </div>
        <div class="colors-line-border input-button">
          <div class="color">
            <label for="option-line-border-color">{{ 'generator.options.line.border.color' | transloco }}</label>
            <input id="option-line-border-color" type="color" [(ngModel)]="opts.lineBorderColor" />
          </div>
          <div class="opacity">
            <label for="option-line-border-opacity">{{ 'generator.options.line.border.opacity' | transloco }}</label>
            <input
              id="option-line-border-opacity"
              type="range"
              max="100"
              min="0"
              step="1"
              [disabled]="!opts.lineBorderColor"
              [(ngModel)]="opts.lineBorderOpacity"
            />
          </div>
          <button (click)="resetLineBorder()" [disabled]="!opts.lineBorderColor">
            {{ 'generator.options.clear' | transloco }}
          </button>
          @if (opts.lineBorderColor) {
            <div class="color-render"></div>
          }
        </div>
        <div class="border-radius input-value">
          <div class="number-input">
            <label for="option-border-radius">{{ 'generator.options.border.radius' | transloco }}</label>
            <input id="option-border-radius" type="number" min="0" max="50" [(ngModel)]="opts.borderRadius" />
            <span data-type="px"></span>
          </div>
        </div>
        <div class="border-spacing input-value">
          <div class="number-input">
            <label for="option-border-spacing"
              >{{ 'generator.options.border.spacing' | transloco }}
              <span [tooltip]="'generator.options.border.spacing.info' | transloco" class="icon-info"></span
            ></label>
            <input id="option-border-spacing" type="number" min="-1" max="20" [(ngModel)]="opts.borderSpacing" />
            <span data-type="px"></span>
          </div>
        </div>
        <div class="border-size input-value">
          <div class="number-input">
            <label for="option-border-size">{{ 'generator.options.border.size' | transloco }}</label>
            <input id="option-border-size" type="number" min="0" max="20" [(ngModel)]="opts.borderSize" />
            <span data-type="px"></span>
          </div>
        </div>
        @if (opts.mode !== 'bingo') {
          <div class="name-bg-opacity input-value">
            <div class="width-input">
              <label for="options-name-background-opacity">{{ 'generator.options.name.opacity' | transloco }}</label>
              <input
                id="options-name-background-opacity"
                type="range"
                max="100"
                min="0"
                step="1"
                [(ngModel)]="opts.nameBackgroundOpacity"
              />
            </div>
          </div>
          <div class="font-size input-value">
            <div class="number-input">
              <label for="option-name-font-size">{{ 'generator.options.name.font.size' | transloco }}</label>
              <input id="option-name-font-size" type="number" min="50" max="300" [(ngModel)]="opts.nameFontSize" />
              <span data-type="%"></span>
            </div>
          </div>
          <div class="name-width input-value">
            <div class="number-input">
              <label for="option-name-width">{{ 'generator.options.name.width' | transloco }}</label>
              <input id="option-name-width" type="number" [(ngModel)]="opts.nameWidth" />
              <span data-type="px"></span>
            </div>
          </div>
          <div class="group-direction input-value">
            <div class="select-input">
              <label for="option-group-direction">{{ 'generator.options.group.direction.label' | transloco }}</label>
              <select id="option-item-text-position" [(ngModel)]="opts.direction">
                <option value="rtl">{{ 'generator.options.group.direction.rtl' | transloco }}</option>
                <option value="ltr">{{ 'generator.options.group.direction.ltr' | transloco }}</option>
              </select>
            </div>
          </div>
          <div class="name-markdown input-value">
            <label class="toggle-switch">
              <input type="checkbox" [(ngModel)]="opts.nameMarkdown" />
              <span>{{ 'generator.options.group.markdown' | transloco }}</span>
            </label>
          </div>
        } @else {
          <div class="size-x-y">
            <div class="size-input">
              <label for="options-size-x">{{ 'generator.options.size' | transloco }}</label>
              <input
                id="options-size-x"
                type="number"
                max="20"
                min="2"
                step="1"
                [(ngModel)]="opts.sizeX"
                (ngModelChange)="updateAction('sizeX', $event)"
              />
              <span>×</span>
              <input
                id="options-size-y"
                type="number"
                max="20"
                min="2"
                step="1"
                [(ngModel)]="opts.sizeY"
                (ngModelChange)="updateAction('sizeY', $event)"
              />
            </div>
          </div>
        }
      } @else if (opts.mode === 'iceberg') {
        <h4 class="title-line">{{ 'generator.options.line.title' | transloco }}</h4>
        <div class="zone-title-number input-value">
          <div class="number-input">
            <label for="option-groups-size">{{ 'generator.options.zone.title.number' | transloco }}</label>
            <input
              id="option-groups-size"
              type="number"
              [ngModel]="opts.groups?.length || 0"
              (ngModelChange)="updateListGroup($event)"
            />
          </div>
        </div>
        <div class="zone-title-groups">
          @for (item of opts.groups; track item) {
            <div>
              <div class="width-input">
                <label for="option-title-name">{{ 'generator.options.zone.title.name' | transloco }}</label>
                <input id="option-title-name" type="text" [(ngModel)]="item.title" />
              </div>
              <div class="width-input">
                <label for="option-title-align-vertical">{{
                  'generator.options.zone.title.align.vertical.label' | transloco
                }}</label>
                <select id="option-title-align-vertical" [(ngModel)]="item.titleVerticalPosition">
                  <option value="start">
                    {{ 'generator.options.zone.title.align.vertical.start' | transloco }}
                  </option>
                  <option value="center">
                    {{ 'generator.options.zone.title.align.vertical.center' | transloco }}
                  </option>
                  <option value="end">
                    {{ 'generator.options.zone.title.align.vertical.end' | transloco }}
                  </option>
                </select>
              </div>
              <div class="width-input">
                <label for="option-title-align-horizontal">{{
                  'generator.options.zone.title.align.horizontal.label' | transloco
                }}</label>
                <select id="option-title-align-horizontal" [(ngModel)]="item.titleHorizontalPosition">
                  <option value="start">
                    {{ 'generator.options.zone.title.align.horizontal.start' | transloco }}
                  </option>
                  <option value="center">
                    {{ 'generator.options.zone.title.align.horizontal.center' | transloco }}
                  </option>
                  <option value="end">
                    {{ 'generator.options.zone.title.align.horizontal.end' | transloco }}
                  </option>
                </select>
              </div>
            </div>
          }
        </div>
        <div class="group-line-width input-value">
          <div class="number-input">
            <label for="option-group-line-width">{{ 'generator.options.separator.line.width' | transloco }}</label>
            <input id="option-group-line-width" type="number" min="0" max="50" [(ngModel)]="opts.groupLineSize" />
          </div>
        </div>
        <div class="colors-group-line input-button">
          <div class="width-input">
            <label for="option-title-color">{{ 'generator.options.separator.line.color' | transloco }}</label>
            <input id="option-title-color" type="color" [(ngModel)]="opts.groupLineColor" />
          </div>
          <div class="opacity">
            <label for="option-title-opacity">{{ 'generator.options.separator.line.opacity' | transloco }}</label>
            <input
              for="option-title-opacity"
              type="range"
              max="100"
              min="0"
              step="1"
              [disabled]="!opts.groupLineColor"
              [(ngModel)]="opts.groupLineOpacity"
            />
          </div>
          <button (click)="resetTitleText()" [disabled]="!opts.groupLineColor">
            {{ 'generator.options.clear' | transloco }}
          </button>
          @if (opts.groupLineColor) {
            <div class="color-render"></div>
          }
        </div>
      } @else if (opts.mode === 'axis') {
        <h4 class="title-line">{{ 'generator.options.line.title' | transloco }}</h4>
        <div class="zone-title-axis">
          @for (item of opts.groups; track item; let index = $index) {
            <div>
              <div class="width-input">
                <label for="option-title-name">{{
                  (index % 2 === 0 ? 'generator.options.zone.axis.name' : 'generator.options.zone.area.name')
                    | transloco
                }}</label>
                <input id="option-title-name" type="text" [(ngModel)]="item.title" />
              </div>
            </div>
          }
        </div>
        <div class="axis-line-width input-value">
          <div class="number-input">
            <label for="option-axis-line-width">{{ 'generator.options.axis.line.width' | transloco }}</label>
            <input id="option-axis-line-width" type="number" min="0" max="12" [(ngModel)]="opts.axisLineWidth" />
            <span data-type="px"></span>
          </div>
        </div>
        <div class="axis-arrow-size input-value">
          <div class="number-input">
            <label for="option-axis-arrow-size">{{ 'generator.options.axis.arrow.size' | transloco }}</label>
            <input id="option-axis-arrow-size" type="number" min="0" max="50" [(ngModel)]="opts.axisArrowWidth" />
            <span data-type="px"></span>
          </div>
        </div>
        <div class="colors-axis-line input-button">
          <div class="width-input">
            <label for="option-axis-line-color">{{ 'generator.options.axis.line.color' | transloco }}</label>
            <input id="option-axis-line-color" type="color" [(ngModel)]="opts.axisLineColor" />
          </div>
          <div class="opacity">
            <label for="option-axis-line-opacity">{{ 'generator.options.item.text.opacity' | transloco }}</label>
            <input
              for="option-axis-line-opacity"
              type="range"
              max="100"
              min="0"
              step="1"
              [disabled]="!opts.axisLineColor"
              [(ngModel)]="opts.axisLineOpacity"
            />
          </div>
          <button (click)="resetAxisLine()" [disabled]="!opts.axisLineColor">
            {{ 'generator.options.clear' | transloco }}
          </button>
          @if (opts.axisLineColor) {
            <div class="color-render"></div>
          }
        </div>
      }
      <!-- ###############################  other options ###############################  -->
      <h4 class="title-other">{{ 'generator.options.global.title' | transloco }}</h4>
      <div class="colors-title-text input-button">
        <div class="width-input">
          <label for="option-title-color">{{ 'generator.options.title.color' | transloco }}</label>
          <input id="option-title-color" type="color" [(ngModel)]="opts.titleTextColor" />
        </div>
        <div class="opacity">
          <label for="option-title-opacity">{{ 'generator.options.title.opacity' | transloco }}</label>
          <input
            for="option-title-opacity"
            type="range"
            max="100"
            min="0"
            step="1"
            [disabled]="!opts.titleTextColor"
            [(ngModel)]="opts.titleTextOpacity"
          />
        </div>
        <button (click)="resetTitleText()" [disabled]="!opts.titleTextColor">
          {{ 'generator.options.clear' | transloco }}
        </button>
        @if (opts.titleTextColor) {
          <div class="color-render"></div>
        }
      </div>
      @if (opts.mode !== 'bingo') {
        <div class="global-width input-value">
          <div class="number-input">
            <label for="option-global-width">{{ 'generator.options.global.width' | transloco }}</label>
            <input id="option-global-width" type="number" [(ngModel)]="opts.imageWidth" min="100" max="4000" />
            <span data-type="px"></span>
          </div>
        </div>
      }
      @if (zoneMode.includes(opts.mode)) {
        <div class="global-height input-value">
          <div class="number-input">
            <label for="option-global-height">{{ 'generator.options.global.height' | transloco }}</label>
            <input id="option-global-height" type="number" [(ngModel)]="opts.imageHeight" min="100" max="4000" />
            <span data-type="px"></span>
          </div>
        </div>
      }
      <div class="background-image">
        <div class="width-input">
          <label for="backgroundImage">{{ 'generator.options.global.image' | transloco }}</label>
          <div class="image-list">
            <select2
              [(ngModel)]="opts.imageBackgroundImage"
              [data]="listThemes"
              [templates]="templates"
              resultMaxHeight="300px"
              overlay
            >
              <ng-template #templates let-data="data">
                <div class="list-option">
                  <div class="view" [style.--url]="data.image"></div>
                  <div class="desc">
                    {{ 'generator.options.global.name.image.' + data.label | transloco }}
                  </div>
                </div>
              </ng-template>
            </select2>
          </div>
        </div>
      </div>
      <div class="global-color input-button">
        <div class="color">
          <label for="option-global-background-color">{{ 'generator.options.global.background' | transloco }}</label>
          <input id="option-global-background-color" type="color" [(ngModel)]="opts.imageBackgroundColor" />
        </div>
        <button (click)="opts.imageBackgroundColor = ''" [disabled]="!opts.imageBackgroundColor">
          {{ 'generator.options.clear' | transloco }}
        </button>
        @if (opts.imageBackgroundColor) {
          <div class="color-render"></div>
        }
      </div>
      @if (opts.imageBackgroundImage === 'custom') {
        <div class="background-image-custom" drop-image mode="local" (file)="changeCustomBackground($event)">
          <label class="required">{{ 'generator.options.background.custom' + (api ? '.api' : '') | transloco }}</label>
          <input type="file" accept="image/*" required (change)="changeCustomBackgroundEvent($event)" />
          <div>
            @if (opts.imageBackgroundCustom) {
              <img [src]="opts.imageBackgroundCustom" class="image-custom" />
            }
          </div>
        </div>
      }
    </div>

    <div class="buttons">
      <button class="primary" (click)="themesManager().exportDialogOpen()">
        {{ 'generator.theme.manage.my.themes' | transloco }}
      </button>
      <button class="primary" (click)="themeTmp = undefined; importDialog.open()">
        {{ 'generator.theme.import.button' | transloco }}
      </button>
      <button class="primary" (click)="dialogAdvancedOptions.close()">
        {{ 'generator.options.close' | transloco }}
      </button>
    </div>

    <!-- ############################### render example ###############################  -->
    <div class="option-preview">
      <see-classement id="test" [options]="opts" [groups]="groupExample" [list]="[]" render demo></see-classement>
    </div>
  }
</dialog-cmp>

<classement-themes-manager [options]="options()" [themeCurrent]="themeCurrent()"></classement-themes-manager>

<dialog-cmp class="auto-format" #importDialog>
  <div>{{ 'generator.theme.import.info' | transloco }}</div>
  <div>
    <input type="file" accept=".json" #fileImport (change)="importJsonFile($event)" />
  </div>

  @if (themeError) {
    <div class="error">{{ 'generator.theme.import.invalid' | transloco }}</div>
  }

  @if (themeTmp) {
    <div>
      {{ 'generator.theme.import.valid' | transloco }} <strong>{{ themeTmp.name }}</strong>
      <br />
      {{ 'generator.theme.import.mode' | transloco }}
      <strong>{{ 'mode.name.' + themeTmp.options.mode.replace(replacePattern, 'default.teams') | transloco }}</strong>
    </div>

    <div class="buttons">
      <button class="default" (click)="importCancel()">
        {{ 'generator.theme.cancel' | transloco }}
      </button>
      <button class="primary" (click)="importValidation()">
        {{ 'generator.theme.import.button' | transloco }}
      </button>
    </div>
  } @else {
    <div class="buttons">
      <button class="default" (click)="importCancel()">
        {{ 'generator.theme.cancel' | transloco }}
      </button>
    </div>
  }
</dialog-cmp>
