<div drop-image>
    <h2>{{ 'gererator.title.' + (id ? 'edit' : 'new') | translate }}</h2>

    <classement-options [options]="options"></classement-options>

    <ng-container *ngIf="options">
        <h3>{{ 'gererator.ranking.group.title' | translate }}</h3>
        <div cdkDropListGroup>
            <table class="table-classement">
                <colgroup>
                    <col class="names" />
                    <col class="elements" />
                    <col class="actions" />
                </colgroup>
                <tbody>
                    <tr *ngFor="let group of groups; let indexGrp = index; let first = first; let last = last">
                        <td
                            class="names"
                            [style.--name-background]="group.bgColor + nameOpacity"
                            [style.--text-color]="group.txtColor"
                        >
                            <div>
                                <textarea class="name" [(ngModel)]="group.name"></textarea>
                                <input class="color" type="color" [(ngModel)]="group.bgColor" #inputBgColor />
                                <input class="color" type="color" [(ngModel)]="group.txtColor" #inputTxtColor />

                                <svg class="color txtColor" viewBox="0 0 1000 1000" (click)="inputTxtColor.click()">
                                    <path
                                        d="M225.8,255.2L10,744.8h79.6l62.1-134.1h224.8l59.8,134.1h85L313.4,255.2H225.8z M174.6,544.2l91.7-216.3l88.2,216.3H174.6z"
                                    />
                                    <path d="M733.4,438.2L861.7,562L990,438.2H733.4z" />
                                </svg>

                                <svg class="color bgColor" viewBox="0 0 1000 1000" (click)="inputBgColor.click()">
                                    <path
                                        d="M948.3,410.1c-54.1-59.7-247.6-91.9-247.6-91.9L552.8,148V40.8H177.4v375.4h1L30.9,549.1C7.4,570.2,3.1,603.8,21.2,624l288.7,320.6c18.1,20.2,52,19.5,75.4-1.6l369.8-333v217.4C755.1,827.4,1108.6,586.8,948.3,410.1z M240,353.7V285V103.4h250.3v35.9c-4.9,2.5-9.9,5-14.2,8.9L240,360.8V353.7z M755.1,537.2L369.4,884.5c-7.1,6.4-17.3,6.6-22.8,0.5L84.3,593.6c-5.6-6.1-4.3-16.3,2.8-22.7l403.2-363.1V285v68.6v62.6h62.6v-168l202.2,224.6V537.2z"
                                    />
                                </svg>
                            </div>
                        </td>
                        <td class="elements">
                            <div class="drop-list">
                                <div
                                    *ngFor="let item of group.list; let index = index"
                                    cdkDropList
                                    cdkDropListOrientation="horizontal"
                                    [cdkDropListData]="{ list: group.list, index: index }"
                                    (cdkDropListDropped)="drop(group.list, $event)"
                                >
                                    <div class="content-box" cdkDrag>
                                        <div
                                            class="content content-render"
                                            [ngClass]="options.itemTextPosition"
                                            [style.width.px]="
                                                options.itemWidthAuto
                                                    ? ((item.width || 150) / (item.height || 150)) * options.itemHeight
                                                    : null
                                            "
                                        >
                                            <div *ngIf="item.url" class="image">
                                                <img src="{{ item.url }}" alt="{{ item.name }}" />
                                            </div>
                                            <div *ngIf="item.title" class="title">
                                                <span>{{ item.title }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="drop-zone-empty-list"
                                    *ngIf="group.list.length === 0"
                                    cdkDropList
                                    cdkDropListOrientation="horizontal"
                                    [cdkDropListData]="{ list: group.list, index: 0 }"
                                    (cdkDropListDropped)="drop(group.list, $event)"
                                ></div>
                            </div>
                        </td>
                        <td class="actions">
                            <div class="button-actions">
                                <button class="button-up" (click)="upLine(indexGrp)" *ngIf="!first">↑</button>
                                <button class="button-down" (click)="downLine(indexGrp)" *ngIf="!last">↓</button>
                                <button class="button-suppr" (click)="deleteLine(indexGrp)" *ngIf="!(first && last)">
                                    {{ 'gererator.line.delete' | translate }}
                                </button>
                                <button class="button-add" (click)="addLine(indexGrp)">
                                    {{ 'gererator.line.add' | translate }}
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div class="drop-image-message">{{ 'gererator.ranking.drop.image' | translate }}</div>
                <div class="drop-list">
                    <div
                        *ngFor="let item of list; let index = index"
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        [cdkDropListData]="{ list: list, index: index }"
                        (cdkDropListDropped)="drop(list, $event)"
                    >
                        <div class="content-box" cdkDrag>
                            <div
                                class="content"
                                [style.width.px]="
                                    options.itemWidthAuto
                                        ? ((item.width || 150) / (item.height || 150)) * options.itemHeight
                                        : null
                                "
                            >
                                <button class="btn-delete" (click)="removeItem(index)">×</button>
                                <img src="{{ item.url }}" alt="{{ item.name }}" />
                                <input class="input-title" input="text" [(ngModel)]="item.title" (blur)="change()" />
                            </div>
                        </div>
                    </div>
                    <div
                        class="drop-zone-empty-list"
                        *ngIf="list.length === 0"
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        [cdkDropListData]="{ list: list, index: 0 }"
                        (cdkDropListDropped)="drop(list, $event)"
                    ></div>
                    <div class="content-box add-file" (click)="addFiles()">
                        <span>{{ 'gererator.ranking.add.image' | translate }}</span>
                    </div>
                </div>
            </div>

            <div class="save-actions">
                <button class="primary" (click)="exportImage()">
                    {{ 'gererator.actions.export.image' | translate }}
                </button>
            </div>
            <div class="save-actions">
                <button class="primary" (click)="saveLocal()">{{ 'gererator.actions.save.local' | translate }}</button>
                <button class="primary" (click)="saveJson()">{{ 'gererator.actions.export.json' | translate }}</button>
                <button class="primary" (click)="dialogImport.open()">
                    {{ 'gererator.actions.import.json' | translate }}
                </button>
                <button class="primary" (click)="dialogOptimise.open()">
                    {{ 'gererator.optimise.button.optimise' | translate }}</button
                ><br />
                <label *ngIf="options">
                    <input type="checkbox" [(ngModel)]="options.autoSave" />
                    {{ 'gererator.actions.save.local.auto' | translate }}
                </label>
            </div>
            <div class="save-actions" *ngIf="logged">
                <button class="primary" (click)="saveServer()">
                    {{ 'gererator.actions.save.server' | translate }}
                </button>
            </div>

            <div class="save-actions">
                <button class="primary" (click)="reset()">{{ 'gererator.actions.reset.groups' | translate }}</button>
            </div>
        </div>

        <div class="render">
            <table id="table-classement">
                <caption *ngIf="options.title">
                    {{
                        options.title
                    }}
                </caption>
                <colgroup>
                    <col class="names" />
                    <col class="elements" />
                </colgroup>

                <tbody>
                    <tr *ngFor="let group of groups; let indexGrp = index; let first = first; let last = last">
                        <td
                            class="names"
                            [style.--name-background]="group.bgColor + nameOpacity"
                            [style.--text-color]="group.txtColor"
                        >
                            {{ group.name }}
                        </td>
                        <td class="elements drop-list">
                            <div *ngFor="let item of group.list; let index = index">
                                <div class="content-box">
                                    <div
                                        class="content content-render"
                                        [ngClass]="options.itemTextPosition"
                                        [style.width.px]="
                                            options.itemWidthAuto
                                                ? ((item.width || 150) / (item.height || 150)) * options.itemHeight
                                                : null
                                        "
                                    >
                                        <div *ngIf="item.url" class="image">
                                            <img src="{{ item.url }}" alt="{{ item.name }}" />
                                        </div>
                                        <div *ngIf="item.title" class="title">
                                            <span>{{ item.title }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="drop-zone-empty-list" *ngIf="group.list.length === 0"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>

<dialog-cmp #dialogImage closeButton>
    <div class="button-image-save">
        {{ 'gererator.actions.save.image' | translate }}
        <button class="button-add primary" (click)="saveImage('PNG')">PNG</button>
        <button class="button-add primary" (click)="saveImage('JPG')">Jpeg</button>
        <button class="button-add primary" (click)="saveImage('WEBP')">WebP</button>
    </div>
    <div #image></div>
</dialog-cmp>

<dialog-cmp #dialogImport>
    <import-json (load)="importJson($event)"></import-json>
</dialog-cmp>

<dialog-cmp #dialogOptimise closeButton>
    <classement-optimise
        *ngIf="dialogOptimise._open"
        [list]="list"
        [groups]="groups"
        [dialog]="dialogOptimise"
    ></classement-optimise>
</dialog-cmp>

<dialog-cmp #dialogSaveServer>
    <classement-save-server
        *ngIf="logged && dialogSaveServer._open"
        [classement]="classement"
        [options]="options"
        [groups]="groups"
        [dialog]="dialogSaveServer"
    ></classement-save-server>
</dialog-cmp>
