<div drop-image mode="local" (file)="fileChange($event)" class="test">
    <h2>{{ (update ? 'gererator.server.update' : 'gererator.server.new') | translate }}</h2>

    <div *ngIf="classement && classement.user && !update" class="info-classement">
        <h3>{{ 'gererator.server.from' | translate }}</h3>
        <div>
            <strong>{{ 'gererator.server.username' | translate }}</strong>
            <span [class.anonymous]="!classement.user">{{
                classement.user || ('list.user.anonymous' | translate)
            }}</span>
        </div>
        <div>
            <strong>{{ 'gererator.options.title' | translate }}</strong>
            <span>{{ classement.name }}</span>
        </div>
        <div class="category">
            <strong>{{ 'gererator.options.group' | translate }}</strong>
            <span>{{ 'category.' + (classement.category || 'undefined') | translate }}</span>
        </div>
    </div>

    <ng-container *ngIf="options">
        <h3>{{ 'gererator.server.edit' | translate }}</h3>
        <div class="title">
            <label>{{ 'gererator.options.title' | translate }}</label>
            <div><input type="text" maxlength="150" [(ngModel)]="options.title" /></div>
        </div>

        <div class="categories" *ngIf="!classement?.user || classement?.parent">
            <label>{{ 'gererator.options.group' | translate }}</label>
            <div>
                <select2 [data]="categoriesList" [(ngModel)]="options.category"></select2>
            </div>
        </div>

        <div class="banner">
            <label class="required">{{ 'gererator.server.banner.select' | translate }}</label>
            <input type="file" accept="image/*" required (change)="fileChangeEvent($event)" #bannerInput />
        </div>

        <div class="cropper-line">
            <div class="cropper" *ngIf="imageChangedEvent || imageBase64">
                <div class="label">{{ 'gererator.server.banner.crop' | translate }}</div>
                <image-cropper
                    #imageCropper
                    [imageChangedEvent]="imageChangedEvent"
                    [imageBase64]="imageBase64"
                    [maintainAspectRatio]="true"
                    [cropperMinWidth]="300"
                    [cropperMinHeight]="300"
                    [resizeToWidth]="300"
                    [resizeToHeight]="300"
                    [aspectRatio]="1 / 1"
                    [onlyScaleDown]="true"
                    format="webp"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded($event)"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
            </div>
            <div class="image" *ngIf="croppedImage || classement?.banner">
                <div class="label">{{ 'gererator.server.banner.image' | translate }}</div>
                <img [src]="croppedImage || classement?.banner" />
                <button *ngIf="croppedImage" (click)="resetBanner()">
                    {{ 'gererator.server.banner.reset' | translate }}
                </button>
            </div>
        </div>

        <ul *ngIf="showError?.length" class="list-error">
            <li *ngFor="let error of showError">{{ error }}</li>
        </ul>

        <div class="link">
            <label>{{ 'gererator.server.link' | translate }}</label>
            <div>
                <input
                    type="text"
                    [ngModel]="this.classement?.linkId"
                    (ngModelChange)="testLink($event)"
                    (blur)="linkFormat($event)"
                />
            </div>
            <span class="validity" [class.valid]="linkIdValid">
                {{ linkIdValid !== undefined ? (linkIdValid ? 'Ｏ' : 'Ｘ') : '' }}
            </span>
        </div>

        <div class="public">
            <label>
                <input type="checkbox" [(ngModel)]="hidden" />
                {{ 'gererator.server.not.public' | translate }}
            </label>
            <span [tooltip]="'list.hide.note' | translate" class="icon-info"></span>
        </div>

        <div class="save-local">
            <label>
                <input type="checkbox" [(ngModel)]="saveLocal" />
                {{ 'gererator.server.not.remove.local' | translate }}
            </label>
            <span [tooltip]="'gererator.server.not.remove.local.info' | translate" class="icon-info"></span>
        </div>

        <div class="password" *ngIf="hidden">
            <label>{{ 'gererator.server.password' | translate }}</label>
            <div><input type="password" [(ngModel)]="password" /></div>
        </div>

        <div class="public" *ngIf="update">
            <label>
                <input type="checkbox" [(ngModel)]="history" />
                {{ 'gererator.server.history.label' | translate }}
            </label>
            <span [tooltip]="'gererator.server.history.info' | translate" class="icon-info"></span>
        </div>
    </ng-container>

    <p>
        <button (click)="cancel()">{{ 'gererator.server.cancel' | translate }}</button>
        <button class="primary" (click)="validate()" [disabled]="linkIdValid === false">
            {{ 'gererator.server.save' | translate }}
        </button>
    </p>
</div>
<loader-cmp *ngIf="loading" message="Sauvegarde en cours" [progress]="progress"></loader-cmp>
