.edit-image {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 830px) {
        flex-wrap: wrap;
    }

    .image {
        max-height: 300px;
        width: 320px;
        min-width: 320px;
    }

    image-cropper {
        max-height: 600px;
    }

    & > * {
        flex: 1 1 auto;
    }

    .selected {
        border-color: var(--button-defaut-color);
    }

    .change {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .edit-ratio {
        max-width: 130px;
        margin: 0;
    }

    .sub-input {
        margin: 0;
        padding: 0;
        font-size: 80%;
        white-space: nowrap;
        opacity: 0.5;
    }
}
