<mg-dialog #exportDialog closeButton [closeButtonTitle]="'generic.dialog.close' | transloco">
  <h3>{{ 'generator.theme.manage.themes' | transloco }}</h3>

  @let current = themeCurrent();
  @if (current?.options) {
    <theme-icon [theme]="current!" />
  }
  <mg-tabs [returnTabsLabel]="'generic.tabs.return' | transloco" (tabChange)="tabChange()">
    <!-- NEW -->

    <mg-tab-title id="new"> {{ 'generator.theme.new' | transloco }}</mg-tab-title>
    <mg-tab-content id="new">
      <p>
        <mg-input>
          <mg-input-label> {{ 'generator.theme.name.question' | transloco }}</mg-input-label>
          <mg-input-text [(ngModel)]="themeName" maxlength="100" />
        </mg-input>
      </p>
      @if (modeApi()) {
        <p>
          <mg-input>
            <mg-input-radio [(ngModel)]="saveMode" name="save-mode" value="browser">{{
              'generator.theme.browser.save' | transloco
            }}</mg-input-radio>
            <mg-input-radio [(ngModel)]="saveMode" name="save-mode" value="server">{{
              'generator.theme.account.save' | transloco
            }}</mg-input-radio>
          </mg-input>
        </p>
      }
      @if (saveMode === 'server') {
        <p>
          <mg-input>
            <mg-input-radio [(ngModel)]="saveVisibility" name="save-visibility" value="public">{{
              'generator.theme.public' | transloco
            }}</mg-input-radio>
            <mg-input-radio [(ngModel)]="saveVisibility" name="save-visibility" value="private">{{
              'generator.theme.private' | transloco
            }}</mg-input-radio>
          </mg-input>
        </p>
      }

      <p class="buttons">
        <button class="default" (click)="exportCancel()">
          {{ 'generator.theme.cancel' | transloco }}
        </button>
        @if (saveMode === 'browser') {
          <button class="primary" [disabled]="!themeName.trim()" (click)="saveBrowser()">
            {{ 'generator.theme.browser.new' | transloco }}
          </button>
        } @else {
          <button class="primary" [disabled]="!themeName.trim()" (click)="saveServer()">
            {{ 'generator.theme.account.new' | transloco }}
          </button>
        }
        <button class="primary" [disabled]="!themeName.trim()" (click)="export()">
          {{ 'generator.theme.export' | transloco }}
        </button>
      </p>
    </mg-tab-content>

    <!-- LOCAL -->

    @if (themeBrowser.length) {
      <mg-tab-title id="local"> {{ 'generator.theme.browser.update' | transloco }}</mg-tab-title>
    }
    @if (themeBrowser.length) {
      <mg-tab-content id="local">
        <p>{{ 'generator.theme.browser.replace' | transloco }}</p>
        <p>
          <mg-input>
            <mg-input-label> {{ 'generator.theme.name.rename' | transloco }}</mg-input-label>
            <mg-input-text
              name="name"
              maxlength="100"
              [(ngModel)]="themeName"
              [placeholder]="selectedTheme?.name ?? ''"
            />
          </mg-input>
        </p>

        <div class="theme-list">
          @for (theme of themeBrowser; track theme) {
            <theme-icon
              custom
              [theme]="theme"
              (select)="selectTheme($event)"
              [class.selected]="theme === selectedTheme"
            />
          }
        </div>

        <p class="buttons">
          <button class="default" (click)="exportCancel()">
            {{ 'generator.theme.cancel' | transloco }}
          </button>
          <button class="warn" [disabled]="!selectedTheme" (click)="deleteMode = 'browser'; deleteConfirm.open()">
            {{ 'generator.theme.remove.browser' | transloco }}
          </button>
          <button class="primary" [disabled]="!selectedTheme" (click)="updateBrowser()">
            {{ 'generator.theme.update.browser' | transloco }}
          </button>
        </p>
      </mg-tab-content>
    }

    <!-- SERVER -->

    @if (modeApi() && themeServer.length) {
      <mg-tab-title id="server"> {{ 'generator.theme.account.update' | transloco }}</mg-tab-title>
    }
    @if (modeApi() && themeServer.length) {
      <mg-tab-content id="server">
        <p>{{ 'generator.theme.account.replace' | transloco }}</p>
        <p>
          <mg-input>
            <mg-input-label>{{ 'generator.theme.name.rename' | transloco }}</mg-input-label>
            <mg-input-text
              name="name"
              [(ngModel)]="themeName"
              maxlength="100"
              [placeholder]="selectedTheme?.name ?? ''"
            />
          </mg-input>
        </p>
        <p>
          <mg-input>
            <mg-input-radio [(ngModel)]="saveVisibility" name="save-visibility" value="public">{{
              'generator.theme.public' | transloco
            }}</mg-input-radio>
            <mg-input-radio [(ngModel)]="saveVisibility" name="save-visibility" value="private">{{
              'generator.theme.private' | transloco
            }}</mg-input-radio>
          </mg-input>
        </p>

        <div class="theme-list">
          @for (theme of themeServer; track theme) {
            <theme-icon
              [theme]="theme"
              custom
              (select)="selectTheme($event)"
              [class.selected]="theme.id === selectedTheme?.id"
            />
          }
        </div>

        <p class="buttons">
          <button class="default" (click)="exportCancel()">
            {{ 'generator.theme.cancel' | transloco }}
          </button>
          <button class="warn" [disabled]="!selectedTheme" (click)="deleteMode = 'server'; deleteConfirm.open()">
            {{ 'generator.theme.remove.server' | transloco }}
          </button>
          <button class="primary" [disabled]="!selectedTheme" (click)="updateServer()">
            {{ 'generator.theme.update.server' | transloco }}
          </button>
        </p>
      </mg-tab-content>
    }
  </mg-tabs>
</mg-dialog>

<mg-dialog class="auto-format" #deleteConfirm>
  <p>
    {{ 'generator.theme.remove' | transloco }} <strong>{{ selectedTheme?.name }}</strong>
  </p>
  <p class="buttons">
    <button class="default" (click)="deleteConfirm.close()">
      {{ 'generator.theme.cancel' | transloco }}
    </button>
    <button
      class="warn"
      [disabled]="!selectedTheme"
      (click)="deleteMode === 'server' ? removeServer() : removeBrowser(); deleteConfirm.close()"
    >
      {{ 'generator.theme.remove.confirm' | transloco }}
    </button>
  </p>
</mg-dialog>
