<h3>{{ 'generator.options.group.title' | translate }}</h3>
<div *ngIf="options" class="options {{ options.mode }}" [class.simplified]="!options.showAdvancedOptions">
    <div class="title">
        <label for="option-title">{{ 'generator.options.title' | translate }}</label>
        <div><input for="option-title" type="text" maxlength="150" [(ngModel)]="options.title" /></div>
    </div>
    <div class="categories">
        <label for="option-category">{{ 'generator.options.group' | translate }}</label>
        <div>
            <select2
                id="option-category"
                [data]="categoriesList"
                [disabled]="lockCategory"
                [(ngModel)]="options.category"
            ></select2>
        </div>
    </div>
    <div class="mode">
        <label for="option-mode">{{ 'generator.options.mode' | translate }}</label>
        <select id="option-mode" [ngModel]="options.mode" (ngModelChange)="modeChange(options.mode, $event)" #mode>
            <option value="default">{{ 'mode.name.default' | translate }}</option>
            <option value="teams">{{ 'mode.name.teams' | translate }}</option>
            <option value="iceberg">{{ 'mode.name.iceberg' | translate }}</option>
            <option value="axis">{{ 'mode.name.axis' | translate }}</option>
        </select>
    </div>
    <div class="description">
        <label for="option-description">{{ 'generator.options.description' | translate }}</label>
        <div>
            <textarea id="option-description" autosize maxlength="1000" [(ngModel)]="options.description"></textarea>
            <div class="info-desc">
                <span *ngIf="1000 - (options.description?.length || 0) < 200">
                    {{ 1000 - options.description.length }} -
                </span>
                <span>Markdown</span>
            </div>
        </div>
    </div>

    <div class="links">
        <a tabindex="0" (click)="switchOptions()">{{
            (options.showAdvancedOptions ? 'generator.options.simple' : 'generator.options.advance') | translate
        }}</a>
    </div>
    <div class="themes">
        <a tabindex="0" (click)="themesOpen()">{{ 'generator.theme.link' | translate }}</a>
    </div>
    <div class="width-auto">
        <label class="toogle-switch">
            <input type="checkbox" [(ngModel)]="options.itemWidthAuto" />
            <span>{{ 'generator.options.item.width.auto' | translate }}</span>
        </label>
        <label class="toogle-switch" *ngIf="zoneMode.includes(options.mode)">
            <input type="checkbox" [(ngModel)]="options.itemHeightAuto" />
            <span>{{ 'generator.options.item.height.auto' | translate }}</span>
        </label>
    </div>
    <div class="stream-mode">
        <label class="toogle-switch">
            <input type="checkbox" [(ngModel)]="options.streamMode" />
            <span>{{ 'generator.options.stream.mode' | translate }}</span>
            <span [tooltip]="'generator.options.stream.mode.info' | translate" class="icon-info"></span>
        </label>
    </div>
    <ng-container *ngIf="options.showAdvancedOptions">
        <!-- ###############################  tile options ############################### -->

        <h4 class="title-item">{{ 'generator.options.item.title' | translate }}</h4>

        <div class="sizes">
            <label for="option-item-margin">{{ 'generator.options.sizes' | translate }}</label>
            <div class="item-options">
                <div class="box-border"></div>
                <div class="box-in"></div>
                <div class="height"></div>
                <div class="width"></div>
                <label for="option-item-margin" class="margin">{{ 'generator.options.margin' | translate }}</label>
                <input
                    id="option-item-margin"
                    type="number"
                    min="0"
                    max="20"
                    class="item-margin"
                    [(ngModel)]="options.itemMargin"
                    title="{{ 'generator.options.item.margin' | translate }}"
                />
                <label for="option-item-border" class="border">
                    <span>{{ 'generator.options.border' | translate }}</span>
                </label>
                <input
                    id="option-item-border"
                    type="number"
                    min="0"
                    max="20"
                    class="item-border"
                    [(ngModel)]="options.itemBorder"
                    title="{{ 'generator.options.item.border' | translate }}"
                />
                <label for="option-item-padding" class="padding">{{ 'generator.options.padding' | translate }}</label>
                <input
                    id="option-item-padding"
                    type="number"
                    min="0"
                    max="20"
                    class="item-padding"
                    [(ngModel)]="options.itemPadding"
                    title="{{ 'generator.options.item.padding' | translate }}"
                />
                <input
                    *ngIf="!options.itemHeightAuto; else itemHeightAuto"
                    id="option-item-height"
                    type="number"
                    min="16"
                    max="300"
                    class="item-height"
                    [(ngModel)]="options.itemHeight"
                    (ngModelChange)="updateSize('itemHeight')"
                    title="{{ 'generator.options.item.height' | translate }}"
                />
                <ng-template #itemHeightAuto>
                    <span id="option-item-height-auto-info" class="item-height input">auto</span>
                </ng-template>
                <span class="image">{{ 'generator.options.image' | translate }}</span>
                <input
                    *ngIf="!options.itemWidthAuto; else itemWidthAuto"
                    id="option-item-width"
                    type="number"
                    min="16"
                    max="300"
                    class="item-width"
                    [(ngModel)]="options.itemWidth"
                    (ngModelChange)="updateSize('itemWidth')"
                    title="{{ 'generator.options.item.width' | translate }}"
                />
                <ng-template #itemWidthAuto>
                    <span id="option-item-width-auto-info" class="item-width input">auto</span>
                </ng-template>
            </div>
            <div>
                <label class="toogle-switch">
                    <input id="option-item-width-auto" type="checkbox" [(ngModel)]="options.itemWidthAuto" />
                    <span>{{ 'generator.options.item.width.auto' | translate }}</span>
                </label>
                <label class="toogle-switch" *ngIf="zoneMode.includes(options.mode)">
                    <input id="option-item-height-auto" type="checkbox" [(ngModel)]="options.itemHeightAuto" />
                    <span>{{ 'generator.options.item.height.auto' | translate }}</span>
                </label>
            </div>
        </div>

        <div class="item-text-back input-button" *ngIf="options.itemTextPosition?.endsWith('over')">
            <div class="color">
                <label for="option-item-text-background-color">{{
                    'generator.options.item.text.background.color' | translate
                }}</label>
                <input
                    id="option-item-text-background-color"
                    type="color"
                    [(ngModel)]="options.itemTextBackgroundColor"
                />
            </div>
            <div class="opacity">
                <label id="option-item-text-background-opacity">{{
                    'generator.options.item.text.background.opacity' | translate
                }}</label>
                <input
                    id="option-item-text-background-opacity"
                    type="range"
                    max="100"
                    min="0"
                    step="1"
                    [disabled]="!options.itemTextBackgroundColor"
                    [(ngModel)]="options.itemTextBackgroundOpacity"
                />
            </div>
            <button (click)="resetItemTextBackground()" [disabled]="!options.itemTextBackgroundColor">
                {{ 'generator.options.clear' | translate }}
            </button>
            <div class="color-render" *ngIf="options.itemTextBackgroundColor"></div>
        </div>

        <div class="colors-item-back input-button">
            <div class="color">
                <label for="itemBackgroundColor">{{ 'generator.options.item.background.color' | translate }}</label>
                <input id="itemBackgroundColor" type="color" [(ngModel)]="options.itemBackgroundColor" />
            </div>
            <div class="opacity">
                <label for="itemBackgroundOpacity">{{ 'generator.options.item.background.opacity' | translate }}</label>
                <input
                    id="itemBackgroundOpacity"
                    type="range"
                    max="100"
                    min="0"
                    step="1"
                    [disabled]="!options.itemBackgroundColor"
                    [(ngModel)]="options.itemBackgroundOpacity"
                />
            </div>
            <button (click)="resetItemBackground()" [disabled]="!options.itemBackgroundColor">
                {{ 'generator.options.clear' | translate }}
            </button>
            <div class="color-render" *ngIf="options.itemBackgroundColor"></div>
        </div>

        <div class="colors-item-border input-button">
            <div class="color">
                <label for="itemBorderColor">{{ 'generator.options.item.border.color' | translate }}</label>
                <input id="itemBorderColor" type="color" [(ngModel)]="options.itemBorderColor" />
            </div>
            <div class="opacity">
                <label for="itemBorderOpacity">{{ 'generator.options.item.border.opacity' | translate }}</label>
                <input
                    id="itemBorderOpacity"
                    type="range"
                    max="100"
                    min="0"
                    step="1"
                    [disabled]="!options.itemBorderColor"
                    [(ngModel)]="options.itemBorderOpacity"
                />
            </div>
            <button (click)="resetItemBorder()" [disabled]="!options.itemBorderColor">
                {{ 'generator.options.clear' | translate }}
            </button>
            <div class="color-render" *ngIf="options.itemBorderColor"></div>
        </div>

        <div class="colors-item-text input-button">
            <div class="width-input">
                <label for="option-item-text-color">{{ 'generator.options.item.text.color' | translate }}</label>
                <input id="option-item-text-color" type="color" [(ngModel)]="options.itemTextColor" />
            </div>
            <div class="opacity">
                <label for="option-item-text-opacity">{{ 'generator.options.item.text.opacity' | translate }}</label>
                <input
                    for="option-item-text-opacity"
                    type="range"
                    max="100"
                    min="0"
                    step="1"
                    [disabled]="!options.itemTextColor"
                    [(ngModel)]="options.itemTextOpacity"
                />
            </div>
            <button (click)="resetItemText()" [disabled]="!options.itemTextColor">
                {{ 'generator.options.clear' | translate }}
            </button>
            <div class="color-render" *ngIf="options.itemTextColor"></div>
        </div>

        <div class="item-text-position input-value">
            <div class="select-input">
                <label for="option-item-text-position">{{ 'generator.options.item.text.position' | translate }}</label>
                <select id="option-item-text-position" [(ngModel)]="options.itemTextPosition">
                    <option value="bottom">{{ 'generator.options.item.text.position.bottom' | translate }}</option>
                    <option value="bottom-over">
                        {{ 'generator.options.item.text.position.bottom.over' | translate }}
                    </option>
                    <option value="bottom-over-hover">
                        {{ 'generator.options.item.text.position.bottom.over.hover' | translate }}
                    </option>
                    <option value="top">{{ 'generator.options.item.text.position.top' | translate }}</option>
                    <option value="top-over">{{ 'generator.options.item.text.position.top.over' | translate }}</option>
                    <option value="top-over-hover">
                        {{ 'generator.options.item.text.position.top.over.hover' | translate }}
                    </option>
                    <option value="hidden">{{ 'generator.options.item.text.position.hidden' | translate }}</option>
                </select>
            </div>
        </div>

        <!-- ###############################  line options ###############################  -->
        <ng-container *ngIf="!zoneMode.includes(options.mode)">
            <h4 class="title-line">{{ 'generator.options.line.title' | translate }}</h4>

            <div class="colors-line-back input-button">
                <div class="color">
                    <label for="option-line-background-color">{{
                        'generator.options.line.background.color' | translate
                    }}</label>
                    <input id="option-line-background-color" type="color" [(ngModel)]="options.lineBackgroundColor" />
                </div>
                <div class="opacity">
                    <label for="option-line-background-opacity">{{
                        'generator.options.line.background.opacity' | translate
                    }}</label>
                    <input
                        for="option-line-background-opacity"
                        type="range"
                        max="100"
                        min="0"
                        step="1"
                        [disabled]="!options.lineBackgroundColor"
                        [(ngModel)]="options.lineBackgroundOpacity"
                    />
                </div>
                <button (click)="resetLineBackground()" [disabled]="!options.lineBackgroundColor">
                    {{ 'generator.options.clear' | translate }}
                </button>
                <div class="color-render" *ngIf="options.lineBackgroundColor"></div>
            </div>

            <div class="colors-line-border input-button">
                <div class="color">
                    <label for="option-line-border-color">{{
                        'generator.options.line.border.color' | translate
                    }}</label>
                    <input id="option-line-border-color" type="color" [(ngModel)]="options.lineBorderColor" />
                </div>
                <div class="opacity">
                    <label for="option-line-border-opacity">{{
                        'generator.options.line.border.opacity' | translate
                    }}</label>
                    <input
                        id="option-line-border-opacity"
                        type="range"
                        max="100"
                        min="0"
                        step="1"
                        [disabled]="!options.lineBorderColor"
                        [(ngModel)]="options.lineBorderOpacity"
                    />
                </div>
                <button (click)="resetLineBorder()" [disabled]="!options.lineBorderColor">
                    {{ 'generator.options.clear' | translate }}
                </button>
                <div class="color-render" *ngIf="options.lineBorderColor"></div>
            </div>

            <div class="name-bg-opacity input-value">
                <div class="width-input">
                    <label for="options-name-background-opacity">{{
                        'generator.options.name.opacity' | translate
                    }}</label>
                    <input
                        id="options-name-background-opacity"
                        type="range"
                        max="100"
                        min="0"
                        step="1"
                        [(ngModel)]="options.nameBackgroundOpacity"
                    />
                </div>
            </div>

            <div class="font-size input-value">
                <div class="number-input">
                    <label for="option-name-font-size">{{ 'generator.options.name.font-size' | translate }}</label>
                    <input
                        id="option-name-font-size"
                        type="number"
                        min="50"
                        max="300"
                        [(ngModel)]="options.nameFontSize"
                    />
                </div>
            </div>

            <div class="name-width input-value">
                <div class="number-input">
                    <label for="option-name-width">{{ 'generator.options.name.width' | translate }}</label>
                    <input id="option-name-width" type="number" [(ngModel)]="options.nameWidth" />
                </div>
            </div>

            <div class="group-direction input-value">
                <div class="select-input">
                    <label for="option-group-direction">{{
                        'generator.options.group.direction.label' | translate
                    }}</label>
                    <select id="option-item-text-position" [(ngModel)]="options.direction">
                        <option value="rtl">{{ 'generator.options.group.direction.rtl' | translate }}</option>
                        <option value="ltr">{{ 'generator.options.group.direction.ltr' | translate }}</option>
                    </select>
                </div>
            </div>

            <div class="name-markdown input-value">
                <label class="toogle-switch">
                    <input type="checkbox" [(ngModel)]="options.nameMarkdown" />
                    <span>{{ 'generator.options.group.markdown' | translate }}</span>
                </label>
            </div>
        </ng-container>
        <ng-container *ngIf="options.mode === 'iceberg'">
            <h4 class="title-line">{{ 'generator.options.line.title' | translate }}</h4>

            <div class="zone-title-number">
                <div class="width-input">
                    <label for="option-groups-size">{{ 'generator.options.zone.title.number' | translate }}</label>
                    <input
                        id="option-groups-size"
                        type="number"
                        [ngModel]="options.groups?.length || 0"
                        (ngModelChange)="updateListGroup($event)"
                    />
                </div>
            </div>

            <div class="zone-title-groups">
                <div *ngFor="let item of options.groups">
                    <div class="width-input">
                        <label for="option-title-name">{{ 'generator.options.zone.title.name' | translate }}</label>
                        <input id="option-title-name" type="text" [(ngModel)]="item.title" />
                    </div>
                    <div class="width-input">
                        <label for="option-title-align-vertical">{{
                            'generator.options.zone.title.align.vertical.label' | translate
                        }}</label>
                        <select id="option-title-align-vertical" [(ngModel)]="item.titleVerticalPosition">
                            <option value="start">
                                {{ 'generator.options.zone.title.align.vertical.start' | translate }}
                            </option>
                            <option value="center">
                                {{ 'generator.options.zone.title.align.vertical.center' | translate }}
                            </option>
                            <option value="end">
                                {{ 'generator.options.zone.title.align.vertical.end' | translate }}
                            </option>
                        </select>
                    </div>
                    <div class="width-input">
                        <label for="option-title-align-horizontal">{{
                            'generator.options.zone.title.align.horizontal.label' | translate
                        }}</label>
                        <select id="option-title-align-horizontal" [(ngModel)]="item.titleHorizontalPosition">
                            <option value="start">
                                {{ 'generator.options.zone.title.align.horizontal.start' | translate }}
                            </option>
                            <option value="center">
                                {{ 'generator.options.zone.title.align.horizontal.center' | translate }}
                            </option>
                            <option value="end">
                                {{ 'generator.options.zone.title.align.horizontal.end' | translate }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="group-line-width input-value">
                <div class="number-input">
                    <label for="option-group-line-width">{{ 'generator.options.name.width' | translate }}</label>
                    <input
                        id="option-group-line-width"
                        type="number"
                        min="0"
                        max="50"
                        [(ngModel)]="options.groupLineSize"
                    />
                </div>
            </div>

            <div class="colors-group-line input-button">
                <div class="width-input">
                    <label for="option-title-color">{{ 'generator.options.title.color' | translate }}</label>
                    <input id="option-title-color" type="color" [(ngModel)]="options.groupLineColor" />
                </div>
                <div class="opacity">
                    <label for="option-title-opacity">{{ 'generator.options.title.opacity' | translate }}</label>
                    <input
                        for="option-title-opacity"
                        type="range"
                        max="100"
                        min="0"
                        step="1"
                        [disabled]="!options.groupLineColor"
                        [(ngModel)]="options.groupLineOpacity"
                    />
                </div>
                <button (click)="resetTitleText()" [disabled]="!options.groupLineColor">
                    {{ 'generator.options.clear' | translate }}
                </button>
                <div class="color-render" *ngIf="options.groupLineColor"></div>
            </div>
        </ng-container>
        <ng-container *ngIf="options.mode === 'axis'">
            <h4 class="title-line">{{ 'generator.options.line.title' | translate }}</h4>

            <div class="zone-title-axis">
                <div *ngFor="let item of options.groups; let index = index">
                    <div class="width-input">
                        <label for="option-title-name">{{
                            (index % 2 === 0 ? 'generator.options.zone.axis.name' : 'generator.options.zone.area.name')
                                | translate
                        }}</label>
                        <input id="option-title-name" type="text" [(ngModel)]="item.title" />
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- ###############################  other options ###############################  -->
        <h4 class="title-other">{{ 'generator.options.global.title' | translate }}</h4>

        <div class="colors-title-text input-button">
            <div class="width-input">
                <label for="option-title-color">{{ 'generator.options.title.color' | translate }}</label>
                <input id="option-title-color" type="color" [(ngModel)]="options.titleTextColor" />
            </div>
            <div class="opacity">
                <label for="option-title-opacity">{{ 'generator.options.title.opacity' | translate }}</label>
                <input
                    for="option-title-opacity"
                    type="range"
                    max="100"
                    min="0"
                    step="1"
                    [disabled]="!options.titleTextColor"
                    [(ngModel)]="options.titleTextOpacity"
                />
            </div>
            <button (click)="resetTitleText()" [disabled]="!options.titleTextColor">
                {{ 'generator.options.clear' | translate }}
            </button>
            <div class="color-render" *ngIf="options.titleTextColor"></div>
        </div>

        <div class="global-width input-button">
            <div class="width-input">
                <label for="option-global-width">{{ 'generator.options.global.width' | translate }}</label>
                <input id="option-global-width" type="number" [(ngModel)]="options.imageWidth" />
            </div>
        </div>

        <div class="global-height input-button" *ngIf="zoneMode.includes(options.mode)">
            <div class="width-input">
                <label for="option-global-width">{{ 'generator.options.global.height' | translate }}</label>
                <input id="option-global-width" type="number" [(ngModel)]="options.imageWidth" />
            </div>
        </div>

        <div class="background-image">
            <div class="width-input">
                <label for="backgroundImage">{{ 'generator.options.global.image' | translate }}</label>
                <div class="image-list">
                    <select2
                        [(ngModel)]="options.imageBackgroundImage"
                        [data]="listThemes"
                        [templates]="templates"
                        resultMaxHeight="300px"
                    >
                        <ng-template #templates let-data="data">
                            <div class="list-option">
                                <div class="view" [style.--url]="data.image"></div>
                                <div class="desc">
                                    {{ 'generator.options.global.name.image.' + data.label | translate }}
                                </div>
                            </div>
                        </ng-template>
                    </select2>
                </div>
            </div>
        </div>

        <div class="global-color input-button">
            <div class="color">
                <label for="option-global-background-color">{{
                    'generator.options.global.background' | translate
                }}</label>
                <input id="option-global-background-color" type="color" [(ngModel)]="options.imageBackgroundColor" />
            </div>
            <button (click)="options.imageBackgroundColor = ''" [disabled]="!options.imageBackgroundColor">
                {{ 'generator.options.clear' | translate }}
            </button>
            <div class="color-render" *ngIf="options.imageBackgroundColor"></div>
        </div>

        <div
            class="background-image-custom"
            *ngIf="options.imageBackgroundImage === 'custom'"
            drop-image
            mode="local"
            (file)="changeCustomBackground($event)"
        >
            <label class="required">{{
                'generator.options.background.custom' + (api ? '.api' : '') | translate
            }}</label>
            <input type="file" accept="image/*" required (change)="changeCustomBackgroundEvent($event)" />
            <div>
                <img *ngIf="options.imageBackgroundCustom" [src]="options.imageBackgroundCustom" class="image-custom" />
            </div>
        </div>
    </ng-container>

    <div class="tags">
        {{ 'generator.options.tags' | translate }}
        <tag-list [tags]="options.tags" (update)="updateTags($event)"></tag-list>
    </div>
</div>

<classement-themes (change)="changeTheme($event)" [themes]="themes"></classement-themes>

<dialog-cmp class="auto-format" #dialogChangeMode>
    <p class="question">
        {{ 'generator.actions.change.mode.question' | translate }}
    </p>
    <p class="info">
        <strong>{{ 'mode.name.' + _modeTemp | translate }}</strong>
        <span>{{ 'generator.actions.change.mode.' + _modeTemp | translate }}</span>
    </p>

    <div class="buttons">
        <button (click)="modeChangeValid(false)">
            {{ 'generator.actions.reset.groups.cancel' | translate }}
        </button>
        <button class="primary" (click)="modeChangeValid(true)">
            {{ 'generator.actions.reset.groups.ok' | translate }}
        </button>
    </div>
</dialog-cmp>
