<div>{{ 'gererator.optimise.info' | translate }}</div>

<div>
    <button class="primary" (click)="optimise()" [disabled]="start">
        {{ 'gererator.optimise.button.optimise' | translate }}
    </button>
</div>

<div>
    {{ 'gererator.optimise.current' | translate: { totalSize: (totalSize | numFormat), totalImage: total } }}
</div>

<div *ngIf="start">
    <div>
        <loading-cmp class="loading" *ngIf="progress !== total" size="20px" tickWidth="2px"></loading-cmp>
        <progress [max]="total" [value]="progress"></progress> {{ progress }} / {{ total }}
    </div>
    <div>
        <a (click)="toggle()">{{
            (!detail ? 'gererator.optimise.show.detail' : 'gererator.optimise.hide.detail') | translate
        }}</a>
    </div>
    <div>
        {{ 'gererator.optimise.reduce.files' | translate: { countResize: countResize } }}<br />
        {{ 'gererator.optimise.reduce.size' | translate: { reduceSize: (reduceSize | numFormat) } }}<br />
        {{
            'gererator.optimise.final.size'
                | translate
                    : {
                          finalSize: (finalSize | numFormat),
                          percent: (finalSize - totalSize) / totalSize | numFormat: { style: 'percent' }
                      }
        }}
    </div>

    <div>
        <button *ngIf="progress === total" class="primary" (click)="optimiseAccept()">
            {{ 'gererator.optimise.validate' | translate }}
        </button>
    </div>

    <div *ngIf="detail" class="list">
        <div *ngFor="let item of listOptimise; let index = index">
            <img
                src="{{ (item.reduceFile || item.sourceFile).url }}"
                alt="{{ (item.reduceFile || item.sourceFile).name }}"
            />
            <div class="info-reduce">
                <span class="reduce-source">
                    {{ 'gererator.optimise.size' | translate: { size: (item.sourceFile.realSize | numFormat) } }}
                </span>
                <span class="arrow">↓</span>
                <span class="reduce-target">
                    {{
                        'gererator.optimise.size'
                            | translate: { size: (item.reduceFile?.realSize || item.sourceFile.realSize | numFormat) }
                    }}
                </span>
                <span class="reduce-size">
                    {{ 'gererator.optimise.size' | translate: { size: (-1 * item.reduce | numFormat) } }}

                    <span class="percent">
                        {{
                            ((item.reduceFile?.realSize || item.sourceFile.realSize) - item.sourceFile.realSize) /
                                item.sourceFile.realSize | numFormat: { style: 'percent' }
                        }}
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
