<dialog-cmp class="auto-format">
  <p>{{ 'generator.theme.info' | transloco }}</p>

  <h3>{{ 'generator.theme.default' | transloco }}</h3>
  <div class="themes">
    @for (theme of themes(); track theme) {
      <theme-icon [theme]="theme" (select)="changeTheme($event)" [class.selected]="theme === currentTheme"></theme-icon>
    }
  </div>

  @if (themeDraft.length > 0) {
    <h3>{{ 'generator.theme.browser.themes' | transloco }}</h3>
    <div class="themes">
      @for (theme of themeDraft; track theme) {
        <theme-icon
          [theme]="theme"
          custom
          (select)="changeTheme($event)"
          [class.selected]="theme === currentTheme"
        ></theme-icon>
      }
    </div>
  }

  <div>
    <button (click)="cancel()">{{ 'generator.theme.cancel' | transloco }}</button>
    @if (currentTheme) {
      <button class="primary" (click)="validate()">
        {{ 'generator.theme.validate' | transloco }}
      </button>
    }
  </div>
</dialog-cmp>
