<mg-dialog #dialogInfo closeButton (onClose)="_open = false">
  @let cTile = currentTile();
  @if (cTile) {
    <div class="main">
      <mg-input class="s-12">
        <mg-input-label>{{ 'generator.ranking.title' | transloco }}</mg-input-label>
        <mg-input-text
          maxlength="150"
          id="ranking-title"
          [(ngModel)]="cTile.title"
          (ngModelChange)="detectChanges()"
        ></mg-input-text>
      </mg-input>
      <mg-input class="s-12">
        <mg-input-label>{{ 'generator.ranking.annotation' | transloco }}</mg-input-label>
        <mg-input-textarea
          autosize
          maxlength="500"
          id="tile-annotation"
          [(ngModel)]="cTile.annotation"
          (ngModelChange)="globalChange(); cTile.annotation = $event"
        ></mg-input-textarea>
      </mg-input>

      <div class="s-12">
        <label for="tile-image">{{ 'generator.ranking.image' | transloco }}</label>
        @if (cTile.url) {
          <div class="image-preview-content">
            <div class="image-preview">
              <img [src]="cTile.url" />
            </div>
            <div class="image-preview-button">
              <button class="primary" (click)="croppedImage = data = cTile.url; openEdit()">
                {{ 'generator.ranking.image.edit' | transloco }}
              </button>
              @if (cTile.url) {
                <button (click)="cTile.url = ''; globalChange()" class="warn">
                  {{ 'generator.ranking.image.remove' | transloco }}
                </button>
              }
            </div>
          </div>
        } @else {
          <div>
            <button class="primary" (click)="croppedImage = data = cTile.url; openEdit()">
              {{ 'generator.ranking.image.add' | transloco }}
            </button>
            <div>
              {{ 'generator.ranking.image.empty' | transloco }}
            </div>
          </div>
        }
      </div>

      <div class="s-12 group-colors">
        <div class="colors">
          <span class="new-color">
            <mg-input>
              <mg-input-label>{{ 'generator.ranking.tile.color' | transloco }}</mg-input-label>
              <mg-input-color
                [title]="'generator.ranking.tile.color.new' | transloco"
                id="tile-bg-color"
                type="color"
                alpha
                [(ngModel)]="cTile.bgColor"
              ></mg-input-color>
            </mg-input>
          </span>
          <span
            [title]="'generator.ranking.tile.color.remove' | transloco"
            class="color remove"
            (click)="cTile.bgColor = undefined"
            tabindex="0"
          ></span>
          <span
            [title]="'generator.ranking.tile.color.transparent' | transloco"
            class="color transparent"
            (click)="cTile.bgColor = 'transparent'"
            tabindex="0"
          ></span>
          @for (color of colorListBg; track color) {
            <span
              [title]="'generator.ranking.tile.color.previous' | transloco"
              class="color"
              [style.--color]="color"
              (click)="cTile.bgColor = color"
              tabindex="0"
            ></span>
          }
        </div>
        <div class="colors">
          <label for="tile-text-color"></label>
          <span class="new-color">
            <mg-input>
              <mg-input-label>{{ 'generator.ranking.text.color' | transloco }}</mg-input-label>
              <mg-input-color
                [title]="'generator.ranking.text.color.new' | transloco"
                id="tile-text-color"
                type="color"
                alpha
                [(ngModel)]="cTile.txtColor"
              ></mg-input-color>
            </mg-input>
          </span>
          <span
            [title]="'generator.ranking.text.color.remove' | transloco"
            class="color remove"
            (click)="cTile.txtColor = undefined"
            tabindex="0"
          ></span>
          @for (color of colorListTxt; track color) {
            <span
              [style.--color]="color"
              [title]="'generator.ranking.text.color.previous' | transloco"
              class="color"
              (click)="cTile.txtColor = color"
              tabindex="0"
            ></span>
          }
        </div>
        @if (_options?.mode === 'iceberg' || _options?.mode === 'axis') {
          <div class="position">
            <div class="label">{{ 'generator.ranking.tile.position' | transloco }}</div>
            <div class="new-color">
              <button
                [title]="'generator.ranking.tile.position.top' | transloco"
                (click)="tileZIndex('top')"
                class="top"
              >
                <span>↑</span>
              </button>
              <button [title]="'generator.ranking.tile.position.up' | transloco" (click)="tileZIndex('up')">↑</button>
              <button [title]="'generator.ranking.tile.position.down' | transloco" (click)="tileZIndex('down')">
                ↓
              </button>
              <button
                [title]="'generator.ranking.tile.position.bottom' | transloco"
                (click)="tileZIndex('bottom')"
                class="bottom"
              >
                <span>↓</span>
              </button>
            </div>
          </div>
        }
      </div>
      <div class="s-12 buttons">
        <button class="primary" (click)="close()">{{ 'generator.ranking.close' | transloco }}</button>
        <button class="warn" (click)="delete()">{{ 'generator.ranking.delete.tile' | transloco }}</button>
      </div>
    </div>
  }
</mg-dialog>

<mg-dialog #dialogImageEdit>
  @if (cTile && dialogImageEdit._open) {
    <div class="local" drop-image mode="local" (file)="fileChange($event)">
      <div class="s-12">
        <div class="drop-image-message">{{ 'generator.ranking.image.drop' | transloco }}</div>
        <input type="file" accept="image/*" required (change)="fileChangeEvent($event)" #bannerInput />
      </div>
      @if (data?.startsWith('data') || imageChangedEvent) {
        <div class="edit-image">
          <div class="image">
            <img class="image-render" [src]="croppedImage || data" />
          </div>
          <div class="image-edit">
            <image-cropper
              #imageCropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="maintainAspectRatio"
              [aspectRatio]="aspectRatio"
              [imageBase64]="data"
              [cropperMinWidth]="16"
              [cropperMinHeight]="16"
              [resizeToWidth]="300"
              [resizeToHeight]="300"
              [onlyScaleDown]="true"
              format="webp"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded($event)"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
            <div class="change">
              <button [class.selected]="mode === 0" (click)="changeRatio(0)">?</button>
              <button [class.selected]="mode === 1" (click)="changeRatio(1, '1:1')">1:1</button>
              <button [class.selected]="mode === 2" (click)="changeRatio(2, '4:3')">4:3</button>
              <button [class.selected]="mode === 3" (click)="changeRatio(3, '16:9')">16:9</button>
              <button [class.selected]="mode === 4" (click)="changeRatio(4, '9:16')">9:16</button>
              <div class="edit-ratio">
                <label for="ratio-image">{{ 'generator.ranking.image.ratio' | transloco }}</label>
                <input
                  id="ratio-image"
                  #ratioInput
                  value="0"
                  (focus)="changeRatio(99, ratioInput.value)"
                  (input)="changeRatio(99, ratioInput.value)"
                />
                <div class="sub-input">{{ 'generator.ranking.image.ratio.help' | transloco }}</div>
              </div>
            </div>
          </div>
        </div>
      } @else {
        <div>
          <img [src]="data" />
        </div>
      }
      <div class="buttons s-12">
        <button (click)="closeEdit()">
          {{ 'generator.ranking.image.edit.cancel' | transloco }}
        </button>
        <button class="primary" (click)="updateAndCloseEdit()">
          {{ 'generator.ranking.image.edit.ok' | transloco }}
        </button>
      </div>
    </div>
  }
</mg-dialog>
