.edit-image {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 830px) {
        flex-wrap: wrap;
    }

    .image {
        width: 320px;
        min-width: 320px;
        max-height: 300px;
    }

    image-cropper {
        max-height: 600px;
    }

    & > * {
        flex: 1 1 auto;
    }

    .selected {
        border-color: var(--button-default-color);
    }

    .change {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .edit-ratio {
        margin: 0;
        max-width: 130px;
    }

    .sub-input {
        opacity: 0.5;
        margin: 0;
        padding: 0;
        font-size: 80%;
        white-space: nowrap;
    }
}

.image-preview-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.image-preview-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.image-preview {
    flex: 1;
    max-width: 100%;
    max-height: 500px;

    img {
        max-height: inherit;
    }
}

.image-render {
    max-width: 300px;
    max-height: 300px;
}

.group-colors {
    display: flex;
    flex-wrap: wrap;
}

:where(.colors, position) {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    :where(label, .new-color) {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .color {
        cursor: pointer;
        outline: 1px solid;
        border-radius: 50%;
        background: var(--color, #fff);
        width: 30px;
        height: 30px;

        &:hover,
        &:focus {
            outline: 2px solid;
        }

        &.remove {
            background: linear-gradient(45deg, transparent 46%, #b02626 46%, #b02626 54%, transparent 54%),
                linear-gradient(-45deg, transparent 46%, #b02626 46%, #b02626 54%, transparent 54%);
        }

        &.transparent {
            background: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%),
                linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%);
            background-position:
                0 0,
                12.5px 12.5px;
            background-size: 10px 10px;
            background-size: 25px 25px;
            background-color: var(--color, #fff);
        }
    }

    * {
        margin: 0;
        padding: 0;
    }

    input {
        border-radius: 0;
        width: 50px;
        height: 30px;
    }
}

.position {
    .top span {
        border-top: 1px solid;
    }

    .bottom span {
        border-bottom: 1px solid;
    }
}
