@import '../../styles/cropper.scss';

:host {
    --cropper-image-radius: 0;

    padding: 0 10px;
    display: block;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    padding: 15px 0;
}

.info-classement strong {
    display: inline-block;
    width: 200px;
}

.public {
    text-align: center;
    margin: 20px 0 0;
}

.link {
    position: relative;

    .validity {
        position: absolute;
        bottom: 4px;
        right: 6px;
        font-weight: 900;
        color: var(--color-icon-deleted);

        &.valid {
            color: var(--color-icon-validated);
        }
    }
}
