<dialog-cmp class="auto-format">
  <p>{{ 'generator.theme.info' | translate }}</p>

  <div class="themes">
    @for (theme of themes; track theme) {
      <theme-icon
        [theme]="theme"
        (select)="changeTheme($event)"
        [class.selected]="theme === currentTheme"
      ></theme-icon>
    }
  </div>

  <div>
    <button (click)="cancel()">{{ 'generator.theme.cancel' | translate }}</button>
    @if (currentTheme) {
      <button class="primary" (click)="validate()">
        {{ 'generator.theme.validate' | translate }}
      </button>
    }
  </div>
</dialog-cmp>
