:host {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-height: 100%;

    & > div {
        position: relative;
        flex: 1;
        padding: var(--main-padding);
        max-width: calc(100% - 10px);
    }
}

.top-actions {
    display: flex;
    flex-wrap: wrap;

    .server-api {
        flex: fit-content;
        text-align: start;
    }

    .client-api {
        flex: fit-content;
        text-align: end;
    }
}

// drag'n drop --------------------------------------------------------------

.drop-list {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--over-drop-list-border-color, var(--drop-list-border-color));
    border-radius: 4px;
    background: var(--over-drop-list-background, var(--drop-list-background));
    min-height: calc(
        var(--over-item-height, 150px) +
            (var(--over-item-padding, 10px) + var(--over-item-border, 1px) + var(--over-item-margin, 2px)) * 2
    );
    overflow: hidden;
}

.height-auto {
    align-items: center;
}

.drop-zone-empty-list {
    flex: 1;
    order: 2;
    height: calc(
        var(--over-item-height, 150px) +
            (var(--over-item-padding, 10px) + var(--over-item-border, 1px) + var(--over-item-margin, 2px)) * 2
    );
}

.content-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    box-sizing: content-box;
    margin: var(--over-item-margin, 2px);
    border: var(--over-item-border, 1px) solid var(--over-item-border-color, var(--content-box-border));
    background: var(--over-item-background, var(--content-box-background));
    padding: var(--over-item-padding, 10px);
    width: var(--over-item-width, 150px);
    max-width: var(--over-item-max-width, 300px);
    height: var(--over-item-height, 150px);
    max-height: var(--over-item-max-height, 300px);
    color: var(--over-item-color, var(--content-box-color));
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    .image {
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
        min-width: 0;
        min-height: 0;
    }

    .tile-info {
        display: none;
    }

    &:hover .tile-info,
    &.with-annotation .tile-info {
        display: block;
    }
}

.add-file,
.add-text {
    cursor: pointer;
    background: var(--tile-add-file-background);
    min-width: 100px;
    max-width: 200px;
    color: var(--tile-add-file-color);
    font-weight: 600;
    text-align: center;
}

.drop-zone-empty-list + .add-file {
    width: calc(var(--over-item-width, var(--item-width, 150px)) * 2);
}

.cdk-drag-preview {
    box-sizing: content-box;
    box-shadow:
        0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    // fix size
    padding: var(--over-item-padding, 10px) !important;
    width: var(--over-item-width, 150px) !important;
    height: var(--over-item-height, 150px) !important;
}

.cdk-drag-placeholder {
    opacity: 0.3;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.cdk-drop-list {
    display: flex;
}

.cdk-drop-list:last-child {
    flex: 1;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// drag'n drop file

.drop-image-message {
    width: 100%;
}

.drop-image-zone {
    background: var(--drop-image-zone-background);
}

// buttons -----------------------------------------------------------------

.button-actions {
    display: grid;
    grid-template:
        'up suppr' 1fr
        'down add' 1fr /
        auto 1fr;
    gap: 3px;

    button {
        margin: 0;
        white-space: nowrap;
    }
}

.button-up {
    grid-area: up;
}

.button-down {
    grid-area: down;
}

.button-suppr {
    grid-area: suppr;
}

.button-add {
    grid-area: add;
}

.icon-share {
    vertical-align: -5px;
    font-size: 28px;
    line-height: 0;
}

// images

img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

// table --------------------------------------------------------------------

.table-classement {
    border-spacing: 1px;
    background-image: var(--over-image-url);
    background-repeat: repeat;
    background-color: var(--over-image-background, var(--background));
    min-width: 100%;

    tr {
        height: 100%;
    }
}

.zone-classement {
    border: 1px solid var(--over-drop-list-border-color, var(--drop-list-border-color));
    background-image: var(--over-image-url);
    background-position: var(--over-image-background-position);
    background-size: var(--over-image-background-size);
    background-repeat: repeat;
    background-color: var(--over-image-background, var(--drop-list-background));
    width: var(--over-image-width, 1170px);
    height: var(--over-image-height, 600px);

    // img {
    //     max-width: min(var(--over-item-max-width, var(--over-item-width, 300px)), 300px);
    //     max-height: min(var(--over-item-max-height, var(--over-item-height, 300px)), 300px);
    // }

    &.cdk-drop-list-dragging ::ng-deep *,
    &.cdk-drop-list-receiving ::ng-deep * {
        pointer-events: none;
    }
}

.elements {
    width: 100%;
}

.names {
    border: 1px solid var(--name-border-color);
    border-radius: 4px;
    background: var(--name-background);
    width: var(--over-name-width, 150px);
    min-width: var(--over-name-width, 150px);
    height: 100%;
    text-align: center;

    & > div {
        display: grid;
        grid-template:
            'a a a a a' auto
            '. b e c .' var(--group-option-height, 35px)
            'd d d d d' 0
            / 1fr auto 1fr auto 1fr;
        height: 100%;

        & > div {
            width: 100%;
        }
    }

    .name {
        display: flex;
        grid-area: a;
        align-items: center;
    }
}

.auto-resize {
    display: inline-grid;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    font-weight: inherit;
    font-size: inherit;

    &::after,
    textarea {
        grid-area: 1 / 1;
        box-sizing: border-box;
        margin: 0;
        border: 0;
        padding: 0;
        width: 100%;
        min-width: 1em;
        height: 100%;
        resize: none;
        color: var(--text-color);
        font-size: var(--over-name-font-size, 120%);
    }

    &::after {
        visibility: hidden;
        content: attr(data-value) ' ';
        white-space: pre-wrap;
        word-break: break-word;
    }

    &.no-border {
        &::after,
        textarea {
            appearance: none;
            outline: 0;
            background: none;
            text-align: center;
        }
    }
}

input.color {
    display: inline;
    opacity: 0;
    margin: auto;
    width: 0.1px;
    height: 0.1px;
}

.colors {
    grid-area: d;
}

.group-options {
    display: none;
}

span.color {
    display: block;
    grid-area: b;
    cursor: pointer;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #fff8;
    padding: 2px 5px;
    width: 30px;
    height: 30px;
    color: #000;
    font-size: 24px;
}

span.txt-color {
    grid-area: c;
}
span.group-options {
    display: none;
    grid-area: e;
}

[drop-image] .content-box {
    position: relative;
}

.btn-delete {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px;
    color: var(--alert-color);
}

// text only
.title:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

// image, text only
.title:not(:first-child),
.title:first-child span {
    font-size: 85%;
    text-align: center;
    word-wrap: break-word;
    max-width: min(100%, var(--over-item-max-width, 300px));
    overflow: visible;
    white-space: break-spaces;
}

.title {
    color: var(--over-item-text-color, var(--content-box-text));
}

.title-item-width-auto {
    text-align: center;

    span {
        display: inline-block;
        max-width: var(--over-item-max-width, 300px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.content-render {
    position: relative;

    &.top {
        flex-direction: column-reverse;
    }

    &.bottom-over .title,
    &.bottom-over-hover .title,
    &.top-over .title,
    &.top-over-hover .title {
        position: absolute;
        background: var(--over-item-text-background, var(--content-box-text-background));
        width: 100%;
        color: var(--over-item-text-color, var(--content-box-over-text));
        text-align: center;
    }

    &.bottom-over .title {
        bottom: 0;
    }

    &.bottom-over-hover {
        overflow: hidden;

        .title {
            bottom: -100%;
            transition: all 0.15s;
        }

        &:hover .title {
            bottom: 0px;
        }
    }

    &.top-over .title {
        top: 0;
    }

    &.top-over-hover {
        overflow: hidden;

        .title {
            top: -100%;
            transition: all 0.15s;
        }

        &:hover .title {
            top: 0px;
        }
    }

    &.hidden .title {
        display: none;
    }
}

.input-title {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0;
    background: var(--input-background-transparent);
    width: calc(100% - 30px);
    font-size: 75%;
    text-align: center;
    text-shadow:
        0 -1px var(--input-color-shadow),
        0 1px var(--input-color-shadow),
        -1px -1px var(--input-color-shadow),
        1px 1px var(--input-color-shadow),
        0 -1px 2px var(--input-color-shadow),
        0 1px 2px var(--input-color-shadow),
        -1px -1px 2px var(--input-color-shadow),
        1px 1px 2px var(--input-color-shadow);
}

.tile-info {
    position: absolute;
    top: 3px;
    right: 5px;

    &::before {
        display: block;
        cursor: default;
        box-shadow: 0 0 0 1px var(--tile-info-border-color2);
        border: 1px solid var(--tile-info-border-color);
        border-radius: 50%;
        background: var(--tile-info-background);
        width: 16px;
        height: 16px;
        content: 'i';
        color: var(--tile-info-text-color);
        line-height: 16px;
        text-align: center;
        text-shadow: 1px 1px 0 var(--tile-info-border-color2);
    }
}

.classement-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    :first-child {
        flex: 1;
    }
}

.enlarge,
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--background);
    width: 100%;
    height: 100%;
    overflow: auto;
}

.stream-mode {
    .drop-image-message span,
    .tile-info,
    .add-file,
    .add-text,
    .btn-delete,
    .input-title {
        visibility: hidden;
    }
}

.current-list {
    width: 100%;

    .cdk-drop-list {
        min-height: 40px;
    }
}

// zone : iceberg / axis -----------------------------------------------------------

.cdk-drop-zone {
    position: relative;
    overflow: hidden;
    overflow-anchor: none;
    overscroll-behavior: none;
    scroll-padding-block: 0;

    .cdk-drag {
        position: absolute;
    }

    .cdk-drag-placeholder {
        opacity: 0;
    }
}

.zone-classement-container {
    overflow: auto;
}

.mode-iceberg,
.mode-axis {
    display: flex;
    flex-wrap: wrap;
}

.help {
    flex: 1 1 150px;
    padding-left: 10px;

    p {
        margin: 1em 0 0;
    }

    ul {
        margin: 0;
        padding: 10px 0 10px 20px;
    }
}

// actions ------------------------------------------------------------------

.save-actions {
    padding: 20px;
    text-align: center;
}

// render ------------------------------------------------------------------

.render {
    position: absolute;
    top: 0;
    left: -100000px;
    width: var(--over-image-width, 1170px);
}

.button-image-save span {
    display: inline-block;
}

loading-cmp {
    vertical-align: bottom;
}

// derivatives ------------------------------------------------------------------

.table-derivatives {
    position: relative;
    margin: 0 -30px;
    border-spacing: 0;

    thead {
        position: sticky;
        top: 0;
        background: var(--list-header-background);
    }

    th {
        padding: 7px;
    }

    td {
        padding: 10px 5px;

        a {
            white-space: nowrap;
        }
    }

    tbody {
        tr:hover {
            cursor: default;
            background: var(--list-line-hover-background);
        }

        .current {
            color: var(--list-selected-text);
        }

        .date {
            text-align: center;

            span {
                display: block;
                margin: auto 5px;
            }
        }

        .groups,
        .items {
            padding-right: 10px;
            text-align: center;
        }

        .actions {
            text-align: center;
        }
    }
}

// diff tile ------------------------------------------------------------------

.content-diff {
    .container {
        padding: 30px 0;
    }

    .drop-list {
        border: none;
        background: none;
    }

    .content-box {
        cursor: pointer;

        &:hover {
            filter: var(--tile-add-filter);
        }
    }

    .buttons {
        padding-top: 30px;
    }
}

// tablet / mobile ------------------------------------------------------------------

@media screen and (max-width: 1024px) {
    :host {
        margin: 0 0 30px 0;
    }

    .current-list {
        position: sticky;
        bottom: 0;
        background: var(--background);
        max-width: calc(100vw - 10px);
        overflow: auto;
    }

    .drop-list {
        flex-wrap: nowrap;
        overflow: visible;
    }

    .drop-image-message {
        display: flex;
        position: sticky;
        left: 0;
        justify-content: space-between;
        align-items: flex-end;
        max-width: calc(100vw - 10px);
        height: 30px;

        .arrows {
            right: 8px;
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 768px) {
    .drop-image-message {
        font-size: 60%;
    }

    .names {
        width: calc(var(--over-name-width, 150px) / 2);
        min-width: calc(var(--over-name-width, 150px) / 2);
    }

    .table-classement {
        .button-up,
        .button-down,
        .button-suppr,
        .button-add,
        .txt-color,
        .bg-color,
        .actions,
        .colors {
            display: none;
        }
    }

    .colors-options {
        display: grid;
        grid-template: 'a b' 'c b' / 70px 1fr;
        gap: 5px;
        width: 100%;

        .txt-color {
            grid-area: a;
            padding: 5px;
        }

        .bg-color {
            grid-area: c;
            padding: 5px;
        }

        .name {
            grid-area: b;
        }
    }

    .auto-format .colors {
        padding: 0;
    }

    span.group-options {
        display: inline-block;
    }

    .button-actions {
        margin: auto;
        max-width: 150px;

        button {
            display: inline;
        }
    }

    .table-classement thead {
        display: none;
    }

    .save-actions {
        padding: 20px 0;
    }
}

// force reduce options ------------------------------------------------------------------

@media screen and (min-width: 769px) {
    :host.option-reduce {
        --group-option-height: 0;

        .table-classement {
            .button-up,
            .button-down,
            .button-suppr,
            .button-add,
            .txt-color,
            .bg-color,
            .colors,
            .names .group-options {
                display: none;
            }
        }

        .colors-options {
            display: grid;
            grid-template: 'a b' 'c b' / 70px 1fr;
            gap: 5px;
            width: 100%;

            .txt-color {
                grid-area: a;
                padding: 5px;
            }

            .bg-color {
                grid-area: c;
                padding: 5px;
            }

            .name {
                grid-area: b;
            }
        }

        .auto-format .colors {
            padding: 0;
        }

        span.group-options {
            display: inline-block;
            width: 24px;
        }

        .button-actions {
            margin: auto;
            max-width: 150px;

            button {
                display: inline-block;
            }
        }
    }
}

// mode no options ------------------------------------------------------------------

:host.option-hidden {
    .table-classement {
        .button-up,
        .button-down,
        .button-suppr,
        .button-add,
        .txt-color,
        .bg-color,
        .colors,
        .names .group-options {
            display: none;
        }
    }

    .names {
        --group-option-height: 0;
    }
}
