.themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.theme-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

mg-input-text {
    width: 300px;
}

.search-theme,
.buttons {
    margin: 0 auto 20px;
}
