<mg-dialog closeButton>
  <h2>{{ 'generator.external.imbd.title' | transloco }}</h2>

  @if (keyApi && languages && searchMovieForm) {
    <div class="imdb">
      <img class="logo" src="./assets/images/imdb_blue_square_2.svg" />
      <form [formGroup]="searchMovieForm" (submit)="search()">
        <mg-input class="s-12">
          <mg-input-label>{{ 'generator.external.imbd.name' | transloco }}</mg-input-label>
          <mg-input-text formControlName="query" />
        </mg-input>
        <mg-input class="s-12">
          <mg-input-checkbox formControlName="include_adult">{{
            'generator.external.imbd.adult.content' | transloco
          }}</mg-input-checkbox>
        </mg-input>
        <mg-input class="s-12">
          <mg-input-label>{{ 'generator.external.imbd.name' | transloco }}</mg-input-label>
          <mg-input-select overlay id="language" formControlName="language" [data]="languages" />
        </mg-input>
        <p class="buttons">
          <button type="submit" [disabled]="!searchMovieForm.get('query')?.value.trim()">
            {{ 'generator.external.imbd.search' | transloco }}
          </button>
        </p>
      </form>
      @if (results?.length) {
        <div class="options">
          <div>
            <mg-input>
              <mg-input-checkbox [(ngModel)]="withTitle">
                {{ 'generator.external.imbd.with.title' | transloco }}</mg-input-checkbox
              >
            </mg-input>
            <mg-input>
              <mg-input-checkbox [(ngModel)]="withYear">
                {{ 'generator.external.imbd.with.year' | transloco }}</mg-input-checkbox
              >
            </mg-input>
          </div>
        </div>
      }
      <div class="movies">
        @for (movie of results; track movie) {
          @if (movie.poster_path) {
            <div class="content-box" [class.disabled]="movie.disabled" (click)="addTile(movie)">
              <div class="content">
                <img [src]="baseImg + movie.poster_path" alt="poster_path" />
                <div class="movie-title">
                  @if (withTitle) {
                    <span>{{ movie.title }}</span>
                  }
                  @if (withYear) {
                    <span> ({{ movie.release_date | date: 'YYYY' }})</span>
                  }
                </div>
              </div>
            </div>
          }
        }
      </div>
    </div>
  }
</mg-dialog>
