<div>{{ 'generator.json.import.list' + (multi() ? '.multi' : '') | transloco }}</div>

<div>
  <input type="file" accept=".json" #fileImport (change)="importJsonFile($event)" />
</div>

@if (onLoad) {
  <div>
    <span><mg-spinner size="30px" tickWidth="2px" />{{ 'generator.loading' | transloco }}</span>
  </div>
}

@if (jsonTmp) {
  @if (jsonTmp.length > 1) {
    <div class="buttons-list button-image-save">
      <button class="button-add primary" (click)="selectAll(true)">
        {{ 'generator.json.select.all' | transloco }}
      </button>

      <button class="button-add primary" (click)="selectAll(false)">
        {{ 'generator.json.unselect.all' | transloco }}
      </button>
    </div>
  }
  @for (file of jsonTmp; track file) {
    <label class="json-infos">
      @if (!file.error) {
        @if (multi()) {
          <span class="input">
            <mg-input><mg-input-checkbox [(ngModel)]="file.selected" /></mg-input>
          </span>
        }
        <div class="infos-list">
          <span>{{ 'generator.json.title' | transloco }}</span>
          <span>{{ file.data!.options.title || ('list.title.undefined' | transloco) }}</span>
          <span>{{ 'generator.json.category' | transloco }}</span>
          <span>{{ 'category.' + (file.data!.options.category || 'undefined') | transloco }}</span>
          <span>{{ 'generator.json.count.group' | transloco }}</span>
          <span>{{ file.data!.groups.length || 0 }}</span>
          <span>{{ 'generator.json.count.item' | transloco }}</span>
          <span>{{ countItem(file) }}</span>
        </div>
      }
    </label>
  }
}

<div class="buttons-list button-image-save">
  <button class="button-add" (click)="cancelJson()">{{ 'generator.json.cancel' | transloco }}</button>
  @if (jsonTmp) {
    @if (!multi()) {
      @if (actions() === 'all') {
        <button class="button-add primary" (click)="importJson(jsonTmp[0], 'replace')">
          {{ 'generator.json.import.replace' | transloco }}
        </button>

        <button class="button-add primary" (click)="importJson(jsonTmp[0], 'new')">
          {{ 'generator.json.import.new' | transloco }}
        </button>
      } @else if (actions() === 'importOnly') {
        <button class="button-add primary" (click)="importJson(jsonTmp[0], 'new')">
          {{ 'generator.json.import.add' | transloco }}
        </button>
      }
    } @else {
      <button class="button-add primary" (click)="importMultiJson('replace')">
        {{ 'generator.json.import.multi.replace' | transloco }}
      </button>
      <button class="button-add primary" (click)="importMultiJson('new')">
        {{ 'generator.json.import.multi.add' | transloco }}
      </button>
    }
  }
</div>
