<div>{{ 'generator.json.import.list' + (multi ? '.multi' : '') | translate }}</div>

<div>
  <input type="file" accept=".json" #fileImport (change)="importJsonFile($event)" />
</div>

@if (onLoad) {
  <div>
    <span><loading-cmp size="30px" tickWidth="2px"></loading-cmp>{{ 'generator.loading' | translate }}</span>
  </div>
}

@if (jsonTmp) {
  @if (jsonTmp.length > 1) {
    <div class="buttons-list button-image-save">
      @if (jsonTmp) {
        <button class="button-add primary" (click)="selectAll(true)">
          {{ 'generator.json.select.all' | translate }}
        </button>
      }
      @if (jsonTmp) {
        <button class="button-add primary" (click)="selectAll(false)">
          {{ 'generator.json.unselect.all' | translate }}
        </button>
      }
    </div>
  }
  @for (file of jsonTmp; track file) {
    <label class="json-infos">
      @if (!file.error) {
        @if (multi) {
          <span class="input">
            <input type="checkbox" [(ngModel)]="file.selected" />
          </span>
        }
        <div class="infos-list">
          <span>{{ 'generator.json.title' | translate }}</span>
          <span>{{ file.data!.options.title || ('list.title.undefined' | translate) }}</span>
          <span>{{ 'generator.json.category' | translate }}</span>
          <span>{{ 'category.' + (file.data!.options.category || 'undefined') | translate }}</span>
          <span>{{ 'generator.json.count.group' | translate }}</span>
          <span>{{ file.data!.groups.length || 0 }}</span>
          <span>{{ 'generator.json.count.item' | translate }}</span>
          <span>{{ countItem(file) }}</span>
        </div>
      }
    </label>
  }
}

<div class="buttons-list button-image-save">
  <button class="button-add" (click)="cancelJson()">{{ 'generator.json.cancel' | translate }}</button>
  @if (!multi && actions === 'all') {
    @if (jsonTmp) {
      <button class="button-add primary" (click)="importJson(jsonTmp[0], 'replace')">
        {{ 'generator.json.import.replace' | translate }}
      </button>
    }
    @if (jsonTmp) {
      <button class="button-add primary" (click)="importJson(jsonTmp[0], 'new')">
        {{ 'generator.json.import.new' | translate }}
      </button>
    }
  }
  @if (!multi && actions === 'importOnly') {
    @if (jsonTmp) {
      <button class="button-add primary" (click)="importJson(jsonTmp[0], 'new')">
        {{ 'generator.json.import.add' | translate }}
      </button>
    }
  }
  @if (multi) {
    @if (jsonTmp) {
      <button class="button-add primary" (click)="importMultiJson('replace')">
        {{ 'generator.json.import.multi.replace' | translate }}
      </button>
    }
    @if (jsonTmp) {
      <button class="button-add primary" (click)="importMultiJson('new')">
        {{ 'generator.json.import.multi.add' | translate }}
      </button>
    }
  }
</div>
