.json-infos {
    display: flex;

    .input {
        display: flex;
        flex: 0;
        text-align: center;
    }

    .infos-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex: 1;
        gap: 0 10px;
        border: 1px solid var(--input-border-color);
        text-align: left;

        :nth-child(2n-1) {
            font-weight: 700;
            text-align: right;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: var(--primary6);
    }
}

loading-cmp {
    vertical-align: middle;
    padding: 5px;
}
