<mg-dialog
  #dialogInfo
  closeButton
  [closeButtonTitle]="'generic.dialog.close' | transloco"
  (closed)="_open = false"
  stopPropagation
  stopKeydown
>
  @let cTile = currentTile();
  @if (cTile) {
    <div class="main">
      <mg-input class="s-12">
        <mg-input-label>{{ 'generator.ranking.title' | transloco }}</mg-input-label>
        <mg-input-text maxlength="150" id="ranking-title" [(ngModel)]="cTile.title" (ngModelChange)="detectChanges()" />
      </mg-input>
      <mg-input class="s-12">
        <mg-input-label>{{ 'generator.ranking.annotation' | transloco }}</mg-input-label>
        <mg-input-textarea
          autosize
          maxlength="500"
          id="tile-annotation"
          [(ngModel)]="cTile.annotation"
          (ngModelChange)="globalChange(); cTile.annotation = $event"
        />
      </mg-input>

      <div class="s-12">
        <label>{{ 'generator.ranking.image' | transloco }}</label>
        <image-pick [value]="cTile.url || undefined" (valueChange)="onTileImageChange($event)" />
      </div>

      <div class="s-12 group-colors">
        <div class="colors">
          <span class="new-color">
            <mg-input>
              <mg-input-label>{{ 'generator.ranking.tile.color' | transloco }}</mg-input-label>
              <mg-input-color
                [title]="'generator.ranking.tile.color.new' | transloco"
                id="tile-bg-color"
                type="color"
                alpha
                [(ngModel)]="cTile.bgColor"
                [texts]="{
                  hsl: 'magma.color.piker.hsl' | transloco,
                  palette: 'magma.color.piker.palette' | transloco,
                }"
              />
            </mg-input>
          </span>
          <span
            [title]="'generator.ranking.tile.color.remove' | transloco"
            class="color remove"
            (click)="cTile.bgColor = undefined"
            tabindex="0"
          ></span>
          <span
            [title]="'generator.ranking.tile.color.transparent' | transloco"
            class="color transparent"
            (click)="cTile.bgColor = 'transparent'"
            tabindex="0"
          ></span>
          @for (color of colorListBg; track color) {
            <span
              [title]="'generator.ranking.tile.color.previous' | transloco"
              class="color"
              [style.--color]="color"
              (click)="cTile.bgColor = color"
              tabindex="0"
            ></span>
          }
        </div>
        <div class="colors">
          <label for="tile-text-color"></label>
          <span class="new-color">
            <mg-input>
              <mg-input-label>{{ 'generator.ranking.text.color' | transloco }}</mg-input-label>
              <mg-input-color
                [title]="'generator.ranking.text.color.new' | transloco"
                id="tile-text-color"
                type="color"
                alpha
                [(ngModel)]="cTile.txtColor"
                [texts]="{
                  hsl: 'magma.color.piker.hsl' | transloco,
                  palette: 'magma.color.piker.palette' | transloco,
                }"
              />
            </mg-input>
          </span>
          <span
            [title]="'generator.ranking.text.color.remove' | transloco"
            class="color remove"
            (click)="cTile.txtColor = undefined"
            tabindex="0"
          ></span>
          @for (color of colorListTxt; track color) {
            <span
              [style.--color]="color"
              [title]="'generator.ranking.text.color.previous' | transloco"
              class="color"
              (click)="cTile.txtColor = color"
              tabindex="0"
            ></span>
          }
        </div>
        @if (_options?.mode === 'iceberg' || _options?.mode === 'axis') {
          <div class="position">
            <div class="label">{{ 'generator.ranking.tile.position' | transloco }}</div>
            <div class="new-color">
              <button
                [title]="'generator.ranking.tile.position.top' | transloco"
                (click)="tileZIndex('top')"
                class="top"
              >
                <span>↑</span>
              </button>
              <button [title]="'generator.ranking.tile.position.up' | transloco" (click)="tileZIndex('up')">↑</button>
              <button [title]="'generator.ranking.tile.position.down' | transloco" (click)="tileZIndex('down')">
                ↓
              </button>
              <button
                [title]="'generator.ranking.tile.position.bottom' | transloco"
                (click)="tileZIndex('bottom')"
                class="bottom"
              >
                <span>↓</span>
              </button>
            </div>
          </div>
        }
      </div>
      <div class="s-12 buttons">
        <button class="primary" (click)="close()">{{ 'generator.ranking.close' | transloco }}</button>
        <button class="warn" (click)="delete()">{{ 'generator.ranking.delete.tile' | transloco }}</button>
      </div>
    </div>
  }
</mg-dialog>
