.container {
    display: block;
    margin: 20px 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
    border: 1px solid var(--neutral300);
    padding: 5px;
}

.content-box {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: stretch;
    cursor: pointer;
    box-sizing: content-box;
    margin: var(--over-item-margin, 2px);
    border: var(--over-item-border, 1px) solid var(--over-item-border-color, var(--content-box-border));
    background: var(--over-item-background, var(--content-box-background));
    padding: var(--over-item-padding, 10px);

    color: var(--over-item-color, var(--content-box-color));
    font-size: 14px;

    &.selection-item {
        z-index: 1;
        outline: 2px solid var(--neutral950);
        outline-offset: -2px;
    }

    &:hover {
        --click-enter-hover-background: var(--neutral300);
    }
}

.content {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    &.cover {
        all: unset;
        width: max-content;
    }

    .image {
        all: unset;
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
        width: var(--over-item-width, 150px);
        height: var(--over-item-height, 150px);

        img {
            max-width: var(--over-item-width, 300px);
            max-height: var(--over-item-height, 300px);
        }
    }

    .title {
        color: var(--over-item-text-color, var(--content-box-text));

        &:not(.title-item-width-auto) span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            min-height: calc(1.25em * var(--over-item-text-min-line));
            -webkit-line-clamp: var(--over-item-text-max-line);
            line-clamp: var(--over-item-text-max-line);
            overflow: hidden;
        }
    }
}

.buttons {
    margin-top: 20px;
}
