:host {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap: 5px;
    cursor: pointer;

    &.dark .toggle {
        justify-content: end;
    }
}

.light,
.dark {
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.toggle {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-mode-border-color);
    border-radius: 20px;
    width: 40px;
    height: 20px;

    &::before {
        display: block;
        margin: 2px;
        border-radius: 50%;
        background: var(--color-mode-border-color);
        width: 16px;
        height: 16px;
        content: ' ';
    }
}

path {
    fill: var(--color-mode-border-color);
}
