:host {
    display: block;
    margin: var(--main-padding);
}

.infos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 10px;

    & > div {
        flex: 1;
        text-align: center;
    }
}

.img-block {
    display: inline-block;
}

.licence svg {
    margin: -20px 0;
    height: 85px;
}

.licence path {
    fill: var(--licence-color);
}

.tiles-navigate {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 30px;
    text-align: center;
}

.tile-navigate {
    display: flex;
    flex: 1 0 150px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    box-shadow: 2px 2px 8px 0px var(--menu-box-shadow-color);
    border-radius: 5px;
    background: var(--menu-background);
    padding: 10px;
    height: 200px;
    color: var(--menu-color);
    text-align: center;

    &:hover {
        background: var(--menu-hover-background);
        color: var(--menu-hover-color);
    }

    .icon {
        font-size: 100px;
    }
}

navigate-result {
    --image-size: 200px;
    --cell: repeat(11, minmax(200px, 1fr));
    position: relative;
    margin: -10px 0 0 -10px;
    padding: 10px;
    overflow: hidden;

    :host-context([dir='rtl']) & {
        margin: -10px -10px 0 0;
    }

    ::ng-deep {
        .classement {
            min-width: var(--image-size);
            max-width: 320px;
        }
    }
}

.navigate-result {
    position: relative;

    &::before {
        --dir: -90deg;
        --gradient: linear-gradient(var(--dir), var(--background) 10px, transparent);
        display: block;
        position: absolute;
        z-index: 2;
        backdrop-filter: blur(8px);
        mask-image: var(--gradient);
        inset-inline-end: 0;
        background: var(--gradient);
        width: 150px;
        height: 100%;
        pointer-events: none;
        content: '';

        :host-context([dir='rtl']) & {
            --dir: 90deg;
        }
    }
}

.source-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .source-links {
        gap: 15px;
        margin-top: 5px;

        svg {
            max-width: 24px;
            max-height: 24px;
        }
    }
}

.github-logo path,
.gitlab-framagit-logo .body {
    fill: var(--neutral0);
}

.badges {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    height: 20px;
}

@media (hover: none) {
    navigate-result {
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        ::ng-deep > .classement {
            scroll-snap-align: start;
        }
    }
}

@media screen and (max-width: 800px) {
    .tiles-navigate {
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 0 calc(min(20%, 30px) * 0.5);
        width: calc(100% + min(20%, 30px) * -1);
    }

    .tile-navigate {
        flex: 1 1 max(150px, 33%);
        height: 150px;
        scroll-snap-align: center;
    }

    navigate-result {
        --image-size: 175px;
    }
}

@media screen and (max-width: 450px) {
    .tile-navigate {
        flex: 1 1 33%;
        height: 100px;
        font-size: 20px;

        .icon {
            font-size: 60px;
        }
    }

    navigate-result {
        --image-size: 150px;
    }
}
