:host {
    display: block;
    margin: 0 15px 30px 30px;
}

.infos {
    display: flex;
    padding: 40px 10px;

    & > div {
        flex: 1;
    }
}

.source,
.licence {
    text-align: center;
}

.licence svg {
    height: 85px;
    margin: -20px 0;
}

.licence path {
    fill: var(--licence-color);
}

.tiles-navigate {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 30px;
    justify-content: flex-start;
}

.tile-navigate {
    flex: 1 0 200px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: var(--menu-color);
    background: var(--menu-background);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 8px 0px var(--menu-box-shadow-color);

    &:hover {
        color: var(--menu-hover-color);
        background: var(--menu-hover-background);
    }

    .icon {
        font-size: 100px;
    }
}

@media screen and (max-width: 800px) {
    .tiles-navigate {
        scroll-snap-type: x proximity;
        max-width: 100%;
        overflow: auto;
        padding: 0 min(20%, 30px);
        margin: 0 -15px 0 -30px;
    }

    .tile-navigate {
        scroll-snap-align: center;
    }
}
