@if (pageMode()) {
  <h2>{{ 'menu.list' | transloco }}</h2>
}

<div class="infos">
  <p>
    <span class="icon-info"></span> {{ 'list.intro' | transloco }}<br />
    <span class="space">
      {{ 'list.space' | transloco }}{{ quota?.usage || 0 | fileSize }} / {{ quota?.quota || 0 | fileSize }}
    </span>
  </p>
  <div class="list-actions">
    <mg-input class="filter" id="browser-list-filter">
      <mg-input-label>{{ 'list.filter' | transloco }}</mg-input-label>
      <mg-input-text clearCross maxlength="150" [(ngModel)]="filter" #filterInput></mg-input-text>
    </mg-input>
    <button class="primary" (click)="exportAll()">
      {{ 'generator.actions.export.all.json' | transloco }}
    </button>
    <button class="primary" (click)="dialogImport.open()">
      {{ 'generator.actions.import.json' | transloco }}
    </button>
  </div>
</div>

<ng-container [sortable]="result" [sortable-filter-input]="filterInput.inputElement" [sortable-filter]="sortableFilter">
  @if (result && result.length) {
    <table mg hoverRow>
      <thead mg>
        <tr mg>
          <th mg class="title" [sort-rule]="{ type: 'string', attr: 'options.title' }">
            {{ 'list.title.name' | transloco }}
          </th>
          <th
            mg
            class="mode"
            [sort-rule]="{
              type: 'translate',
              attr: 'options.mode',
              translate: translateSort,
              translateId: 'mode.name.%value%',
              default: 'default',
            }"
          >
            {{ 'list.mode.name' | transloco }}
          </th>
          <th
            mg
            class="category"
            [sort-rule]="{
              type: 'translate',
              attr: 'options.category',
              translateId: 'category.%value%',
              translate: translateSort,
            }"
          >
            {{ 'list.category.name' | transloco }}
          </th>
          <th mg class="date" [sort-rule]="{ type: 'date', attr: 'dateChange,dateCreate,date', init: 'desc' }">
            {{ 'list.date' | transloco }}
          </th>
          <th mg class="groups" [sort-rule]="{ type: 'number', attr: 'groupsLength,groupsLenght' }">
            {{ 'list.count.group' | transloco }}
          </th>
          <th mg class="items" [sort-rule]="{ type: 'number', attr: 'listLength,listLenght' }">
            {{ 'list.count.item' | transloco }}
          </th>
          <th mg class="actions">{{ 'list.action.name' | transloco }}</th>
        </tr>
      </thead>
      <tbody mg>
        @for (item of result; track item) {
          <tr mg>
            <td mg class="title">
              <div>
                {{ item.options.title || ('list.title.undefined' | transloco) }}
              </div>
              <div class="category-rwd">
                {{ 'mode.name.' + (item.options.mode || 'default') | transloco }} |
                {{ 'category.' + (item.options.category || 'undefined') | transloco }}
              </div>
              @if (item.options.tags && item.options.tags.length) {
                <div class="tags">
                  <tag-list
                    [tags]="item.options.tags"
                    readOnly
                    allowTagClick
                    (tagClick)="tagClick($event, filterInput)"
                  ></tag-list>
                </div>
              }
              <div>
                @if (modeApi() && item.rankingId && serverIds.includes(item.rankingId)) {
                  <a
                    class="from"
                    [mgTooltip]="'list.server.link' | transloco: { id: item.rankingId }"
                    [routerLink]="['/navigate/view', item.rankingId]"
                    >➡ <span class="icon-server"></span
                  ></a>
                }
              </div>
            </td>
            <td mg class="mode">{{ 'mode.name.' + (item.options.mode || 'default') | transloco }}</td>
            <td mg class="category">{{ 'category.' + (item.options.category || 'undefined') | transloco }}</td>
            <td mg class="date">
              <span>{{ item.dateChange || item.dateCreate || item.date | date: ('date.dd/MM/yyyy' | transloco) }}</span>
              <span>{{ item.dateChange || item.dateCreate || item.date | date: ('date.HH:mm' | transloco) }}</span>
            </td>
            <td mg class="groups">{{ item.groupsLength || item.groupsLenght }}</td>
            <td mg class="items">{{ item.listLength || item.listLenght }}</td>
            <td mg class="actions">
              <button class="primary" [routerLink]="'/edit/' + item.id" title="{{ 'list.action.edit' | transloco }}">
                <span class="icon-edit"></span>
              </button>
              <button (click)="clone(item)" title="{{ 'list.action.clone' | transloco }}">
                <span class="icon-clone"></span>
              </button>
              <button class="warn" (click)="delete(item)" title="{{ 'list.status.delete' | transloco }}">
                <span class="icon-remove"></span>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p class="no-result">{{ 'list.no.result' | transloco }}</p>
    <p>
      <a routerLink="/edit/new" routerLinkActive="active">{{ 'list.create.new' | transloco }}</a>
    </p>
  }
</ng-container>

<mg-dialog #dialogImport class="auto-format">
  <import-json (load)="importJson($event)" actions="importOnly" [multi]="true"></import-json>
</mg-dialog>

<mg-dialog #dialogDelete class="dialog-delete">
  <p>{{ 'list.delete.question' | transloco }}</p>
  <p class="title">{{ itemCurrent?.options?.title || ('list.title.undefined' | transloco) }}</p>
  <div class="buttons">
    <button (click)="deleteCurrent(false)">{{ 'list.delete.cancel' | transloco }}</button>
    <button class="warn" (click)="deleteCurrent(true)">{{ 'list.delete.delete' | transloco }}</button>
  </div>
</mg-dialog>

<mg-dialog #dialogClone class="auto-format dialog-clone">
  <p>{{ 'list.clone.question' | transloco }}</p>
  <p class="title">{{ itemCurrent?.options?.title || ('list.title.undefined' | transloco) }}</p>

  <div>
    <mg-input class="s-12">
      <mg-input-label>{{ 'list.clone.title' | transloco }}</mg-input-label>
      <mg-input-text maxlength="150" [value]="itemCurrent?.options?.title" #title></mg-input-text>
    </mg-input>

    <mg-input class="s-12">
      <mg-input-checkbox maxlength="150" [(ngModel)]="changeTemplate">{{
        'list.clone.new.template' | transloco
      }}</mg-input-checkbox>
    </mg-input>
  </div>

  <div class="buttons">
    <button (click)="cloneCurrent(false)">{{ 'list.clone.cancel' | transloco }}</button>
    <button class="primary" (click)="cloneCurrent(true, title.getValue())">
      {{ 'list.clone.validate' | transloco }}
    </button>
    <button class="primary" (click)="cloneCurrent(true, title.getValue(), true)">
      {{ 'list.clone.edit' | transloco }}
    </button>
  </div>
</mg-dialog>
