:host.page {
    display: block;
    margin: var(--main-padding);
}

.infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
}

.list-actions {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: flex-end;
    gap: 10px 0;
}

.filter {
    min-width: 200px;
}

.space {
    font-size: 80%;
}

table {
    width: 100%;
    border-spacing: 0;
    position: relative;
}

.date,
.groups,
.items {
    width: 100px;
}

.category {
    width: 200px;
}

.category-rwd {
    display: none;
}

.tags {
    margin-top: 3px;
    font-size: 80%;
}

.sort {
    cursor: pointer;

    &:hover {
        background-color: var(--list-header-background-hover);
    }
}

.actions {
    width: 200px;
    white-space: nowrap;
}

thead {
    background: var(--list-header-background);
    position: sticky;
    top: 0;
}

th {
    padding: 7px 0;
}

tbody {
    tr:hover {
        background: var(--list-line-hover-background);
        cursor: default;
    }

    .date {
        text-align: center;
        span {
            margin: auto 5px;
        }
    }

    .groups,
    .items {
        text-align: center;
        padding-right: 10px;
    }

    .actions {
        text-align: center;
    }
}

td {
    padding: 10px 5px;
}

.from,
.from * {
    vertical-align: -1px;
}

@media screen and (max-width: 1400px) {
    .date {
        width: 100px;
        max-width: 100px;
        word-wrap: break-word;
    }

    .category {
        width: 100px;
    }

    .actions {
        width: 100px;
        word-wrap: break-word;

        a {
            display: block;
            padding: 7px 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    :host {
        margin: 0 0 30px 0;
    }

    th {
        padding: 15px 0;
    }
}

@media screen and (max-width: 900px) {
    .groups,
    .items {
        display: none;
    }
    .category {
        display: none;
    }
    .category-rwd {
        display: block;
        font-size: 80%;
        font-weight: 700;
    }
    .title a {
        margin: 0px;
    }
}

@media screen and (max-width: 600px) {
    .date {
        display: none;
    }
}
