:host {
    display: block;
    margin: 0 15px 30px 30px;
}

table {
    width: 100%;
    border-spacing: 0;
}

.date,
.groups,
.items {
    width: 100px;
}
.category {
    width: 200px;
}

.actions {
    width: 200px;
}

thead {
    background: var(--list-header-background);
}

tbody {
    tr:hover {
        background: var(--list-line-hover-background);
        cursor: default;
    }

    .date {
        text-align: center;
        span {
            margin: auto 5px;
        }
    }

    .groups,
    .items {
        text-align: right;
        padding-right: 10px;
    }

    .actions {
        text-align: center;
    }
}

td {
    padding: 10px 5px;
}

.no-result {
    padding: 10px 5px;
    text-align: center;
    background: var(--no-result-background);
}
