:host {
    --width: var(--over-axis-line-size, 3px);
    --arrow-size: var(--over-axis-arrow-size, 15px);
    --color: var(--over-axis-line-color, var(--axis-line-color));
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden; /* fix Firefox */
}

.axis {
    display: grid;
    position: absolute;
    grid-template:
        ' . . . . . ' calc(4px + var(--width))
        ' . . . . . ' 1fr
        ' . . . . . ' var(--width)
        ' . . . . . ' 1fr
        ' . . . . . ' calc(4px + var(--width)) /
        calc(4px + var(--width)) 1fr var(--width) 1fr calc(4px + var(--width));
    width: 100%;
    height: 100%;

    .axis-v,
    .axis-h {
        position: relative;
        grid-row: 2/5;
        grid-column: 3/4;
        background: var(--color);

        &::before,
        &::after {
            display: block;
            position: absolute;
            border: 0 solid var(--color);
            border-width: var(--width) 0 0 var(--width);
            width: var(--arrow-size);
            height: var(--arrow-size);
            content: ' ';
        }

        &::before {
            top: calc(var(--arrow-size) / 7);
            left: calc(var(--arrow-size) / -2);
            transform: rotate(45deg);
        }

        &::after {
            bottom: calc(var(--arrow-size) / 7);
            left: calc(var(--arrow-size) / -2);
            transform: rotate(-135deg);
        }
    }

    .axis-h {
        grid-row: 3/4;
        grid-column: 2/5;

        &::before {
            top: calc(var(--arrow-size) / -2);
            left: calc(var(--arrow-size) / 7);
            transform: rotate(-45deg);
        }

        &::after {
            top: calc(var(--arrow-size) / -2);
            right: calc(var(--arrow-size) / 7);
            left: auto;
            transform: rotate(135deg);
        }
    }
}

.names {
    display: grid;
    top: 0;
    grid-template:
        ' tl . . t . tr ' auto
        ' .  . . . . .  ' 1fr
        ' .  . . . . .  ' calc(var(--arrow-size) * 2)
        ' l  . . . . r  ' auto
        ' .  . . . . .  ' 1fr
        ' bl . . b . br ' auto /
        auto 1fr calc(var(--arrow-size) * 2) 0 1fr auto;
    width: 100%;
    height: 100%;

    & > * {
        position: relative;
        & > span {
            position: absolute;
            white-space: pre;
        }
    }

    :nth-child(1) {
        grid-area: t;
        & > :where(span, input) {
            top: 2px;
            left: 2px;
        }
    }
    :nth-child(2) {
        grid-area: tr;
        & > :where(span, input) {
            top: 2px;
            right: 2px;
            text-align: right;
        }
    }
    :nth-child(3) {
        grid-area: r;

        & > :where(span, input) {
            top: 2px;
            right: 2px;
            text-align: right;
        }
    }
    :nth-child(4) {
        grid-area: br;
        & > :where(span, input) {
            right: 2px;
            bottom: 2px;
            text-align: right;
        }
    }
    :nth-child(5) {
        grid-area: b;
        & > :where(span, input) {
            bottom: 2px;
            left: 2px;
        }
    }
    :nth-child(6) {
        grid-area: bl;
        & > :where(span, input) {
            bottom: 2px;
            left: 2px;
        }
    }
    :nth-child(7) {
        grid-area: l;
        & > :where(span, input) {
            top: 2px;
            left: 2px;
        }
    }
    :nth-child(8) {
        grid-area: tl;
        & > :where(span, input) {
            top: 2px;
            left: 2px;
        }
    }

    input {
        margin: 0;
        border: 0;
        padding: 2px;
        width: 150px;
    }
}
