:host {
    --cell: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 20px;
    display: grid;
    grid-template-columns: var(--cell);
    gap: 30px 10px;

    figcaption {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-end;
        margin-bottom: 5px;

        .groups {
            padding-top: 3px;
            display: flex;
            justify-content: center;
            gap: 20px;

            & + * {
                border-top: 1px solid var(--menu-separator);
                margin-top: 5px;
                padding-top: 5px;
            }
        }

        .name {
            flex: 1;
        }

        .username {
            font-weight: 700;
            font-size: 80%;
        }

        .date {
            font-size: 80%;
        }
    }
}

:where(figure, .template) {
    text-align: center;
    padding: 10px;
    margin: 0;
    color: var(--menu-color);
    background: var(--menu-background);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px 0px var(--menu-box-shadow-color);

    img {
        max-width: 100%;
    }

    @media screen and (max-width: 400px) {
        padding: 3px;
    }
}

a:hover :where(figure, .template) {
    color: var(--menu-hover-color);
    background: var(--menu-hover-background);
}

.template {
    margin-top: 5px;
}

.classement {
    a {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
        gap: 10px;
        height: 100%;
        width: 100%;
    }
}

.category {
    &:first-child {
        font-size: 120%;
        font-weight: 700;
        padding-top: 10px;
    }

    &:not(:first-child) {
        padding-top: 10px;
        font-weight: 700;
    }
}

.hide {
    visibility: hidden;
}

.no-result {
    padding: 10px 5px;
    text-align: center;
    background: var(--no-result-background);
    width: 100%;
}

@media screen and (max-width: 800px) {
    :host.categories {
        --cell: repeat(4, calc(25% - 4px));

        gap: 10px 5px;

        .result {
            figcaption .date {
                margin-top: 4px;
                font-size: 60%;
                height: 12px;
            }
        }

        .category,
        .category:first-child {
            font-size: 60%;
        }

        .groups {
            font-size: 80%;
        }
    }

    :host:not(.categories) {
        gap: 5px;
        --cell: repeat(2, calc(50% - 4px));

        figure {
            flex-direction: row;
        }

        .template {
            display: none;
        }

        img {
            max-width: 40%;
            width: 40%;
            align-self: center;
        }
    }
}

@media screen and (max-width: 450px) {
    :host.categories {
        --cell: repeat(3, calc(33.3% - 4px));

        gap: 5px;
    }

    :host:not(.categories) {
        gap: 5px;
        --cell: 100%;

        figure {
            flex-direction: row;
        }

        .hide {
            display: none;
        }

        img {
            max-width: 40%;
        }
    }
}
