<div class="block" [style]="styles">
  <div class="group-name"></div>
  <div class="group">
    <div class="item"><div class="image"></div></div>
  </div>
</div>
@if (theme().hidden) {
  <div class="icon-private" title="{{ 'generator.theme.private' | transloco }}"></div>
}
@if (theme().showMode) {
  <div class="mode" [attr.data-mode]="'mode.name.' + (theme().options.mode || 'default') | transloco"></div>
}
@if (custom()) {
  <div class="name">{{ theme().name }}</div>
} @else if (theme().name !== 'custom') {
  <div class="name">{{ 'generator.theme.name.' + theme().name | transloco }}</div>
}
