:host {
    display: inline-flex;
    gap: 5px;
}

button {
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
}

div,
label {
    background: #302828;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    span {
        padding: 3px 10px;
    }
}

label {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;

    &::after,
    input {
        width: auto;
        min-width: 1em;
        grid-area: 1 / 2;
        font: inherit;
        padding: 3px 10px;
        margin: 0;
        resize: none;
        background: none;
        appearance: none;
        border: none;
    }

    &::after {
        content: attr(data-value) ' ';
        visibility: hidden;
        white-space: pre-wrap;
    }

    &:focus-within {
        input:focus {
            outline: none;
        }
    }
}
