:host {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    box-shadow: none;
    border: 0;
    background: transparent;
    padding: 0;
}

div,
label {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background: var(--tag-background);
    font-weight: inherit;
    font-size: inherit;
}

.tag {
    padding: 3px 0 3px 10px;

    &:only-child {
        padding: 3px 10px;
    }
}

button,
.allow-tag-click {
    cursor: pointer;
}

label {
    display: inline-grid;
    position: relative;
    align-items: center;
    outline: 1px solid var(--tag-input-border-color);
    background: var(--tag-input-background);

    &::after,
    input {
        grid-area: 1 / 2;
        appearance: none;
        margin: 0;
        outline: none;
        border: none;
        background: none;
        padding: 3px 10px;
        width: auto;
        min-width: 1em;
        resize: none;
        font: inherit;
    }

    &:has(> input:focus) {
        outline-color: var(--tag-input-focus-border-color);
    }

    &::after {
        visibility: hidden;
        content: attr(data-value) ' ';
        white-space: pre-wrap;
        word-break: break-word;
    }

    &:focus-within {
        input:focus {
            outline: none;
        }
    }
}
