:host {
    display: inline-flex;
    gap: 5px;
}

button {
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
}

div {
    background: #302828;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    input {
        padding: 3px 10px;
        background-color: transparent;
        border: 0;

        &:focus {
            border: 0px;
            outline: 0;
        }
    }

    span {
        padding: 3px 10px;
    }
}
