<div *ngFor="let tag of tags">
    <span>{{ tag }}</span
    ><button (click)="remove(tag)">×</button>
</div>
<ng-container *ngIf="!readOnly">
    <div>
        <label>
            <input
                #input
                list="data"
                (input)="onInput($event)"
                (keyup.enter)="onEnter()"
                size="5"
                onInput="this.parentNode.dataset.value = this.value"
            />
        </label>
    </div>
    <datalist id="data">
        <option *ngFor="let proposal of proposals" [value]="proposal"></option>
    </datalist>
</ng-container>
