.json-infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 0 10px;

    :nth-child(2n-1) {
        font-weight: 700;
        text-align: right;
    }

    .input {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;

        input {
            width: auto;
        }
    }
}

loading-cmp {
    vertical-align: middle;
    padding: 5px;
}
