:host {
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    vertical-align: middle;

    &.dark .toggle {
        justify-content: end;
    }
}
.light,
.dark {
    height: 20px;
    width: 20px;
}

.toggle {
    height: 20px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid var(--color-mode-border-color);
    display: flex;
    align-items: center;

    &::before {
        content: ' ';
        display: block;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        margin: 2px;
        background: var(--color-mode-border-color);
    }
}

path {
    fill: var(--color-mode-border-color);
}
