:host {
    --height: 80px;
    --width: 6px;

    display: inline-block;
    position: relative;
    width: var(--height);
    height: var(--height);

    div {
        transform-origin: calc(var(--height) / 2) calc(var(--height) / 2);
        animation: spinner 1.2s linear infinite;
        transform: rotate(calc(var(--index) * 30deg));
        animation-delay: calc(var(--index) * 0.1s - 1.1s);
        position: absolute;

        &:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: calc(var(--height) / 2 - var(--width) / 2);
            width: var(--width);
            height: calc(var(--height) / 3);
            border-radius: 20%;
            background: #fff;
        }
    }
}

@keyframes spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
