:host {
    background: var(--loading-background);
    height: 100%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
    font-weight: 700;
    z-index: 1;

    div {
        padding-top: 5px;
        color: var(--loading-text-color);
        text-shadow: 0 0 3px var(--loading-text-shadow-color);
    }
}
