:host {
    --main-padding-left: 15px;
    --main-padding-right: 15px;
    --main-padding: 0 var(--main-padding-right) 30px var(--main-padding-left);

    display: grid;
    grid-template:
        'header header header' 50px
        'menu   main   help  ' 1fr /
        var(--aside-width, 200px) 1fr var(--aside-help-width, 0);

    transition: all 0.5s;
    height: 100%;

    &.show-menu {
        --aside-content-left: var(--aside-content-left-open);
        --aside-content-backdrop-color: var(--aside-content-backdrop-color-open);
        --aside-content-backdrop-width: var(--aside-content-backdrop-width-open);
    }
}

header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background: var(--header-background);
    padding: 0 15px;

    .title {
        font-weight: 700;
        font-size: 37px;
    }

    select {
        width: auto;
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 20px;

        & > :not(.buton-menu-mobile) {
            display: flex;
        }
    }

    .buton-menu-mobile {
        display: var(--show-mobile, none);
        cursor: pointer;
        font-size: 30px;
    }
}

.aside-menu {
    position: relative;
    grid-area: menu;
    background: var(--aside-background);

    .backdrop {
        display: var(--show-mobile, none);
        position: absolute;
        z-index: 1;
        backdrop-filter: blur(2px);
        transition: var(--aside-transition);
        background-color: var(--aside-content-backdrop-color, transparent);
        width: var(--aside-content-backdrop-width, 0);
        height: 100%;
        content: ' ';
    }

    .menu {
        display: flex;
        position: var(--aside-content-position);
        left: var(--aside-content-left, -100vw);
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        transition: var(--menu-transition);
        background: var(--header-background);
        padding-top: 2px;
        width: var(--aside-content-width, 100%);
        height: 100%;
        overflow: hidden auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    li {
        list-style: none;

        a,
        .link {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0 5px;
            border: 1px solid var(--menu-border-color);
            border-radius: 5px;
            background: var(--menu-background);
            padding: var(--menu-item-padding, 5px);
            color: var(--menu-color);
            font-weight: 700;

            &.active {
                background-color: var(--menu-active-background);
                color: var(--menu-active-color);
            }

            &:not(.active):hover {
                background-color: var(--menu-hover-background);
                color: var(--menu-hover-color);
            }

            .icon {
                padding-right: 3px;
                width: 35px;
                font-size: 31px;
                line-height: 28px;

                & + span {
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    .section-top + :not(.section-top) {
        margin-top: auto;
    }

    .licenses {
        margin-bottom: 15px;
    }
}

:host.show-help {
    --aside-help-width: 200px;
}

.aside-help {
    grid-area: help;
    box-sizing: border-box;
    background: var(--aside-background);
    padding: 5px;
    width: 200px;
    height: 100%;
    overflow: auto;
}

.choice-mode ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0;
    list-style: none;
    text-align: center;

    & > * {
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;

        [class] {
            font-size: 148px;

            & + * {
                font-size: 24px;
            }
        }

        &:hover {
            color: var(--menu-hover-color);
        }
    }

    li:hover {
        color: var(--neutral5);
    }
}

.mode-dialog {
    .info-block {
        opacity: 0;
        transition: opacity 0.3s;

        &.visible {
            opacity: 1;
        }
    }

    .info {
        display: grid;
        position: relative;
        grid-template-columns: repeat(var(--size), 100%);
        overflow: hidden;

        & > * {
            transform: translateX(calc(-100% * var(--pos)));
        }
    }
}

.mode-dialog ::ng-deep > .content {
    max-width: 780px;
}

.menu-mode {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 3px;

    .icon {
        padding: 0 3px 0 12px;
        width: 35px;
        font-size: 31px;
        line-height: 28px;

        & + span {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.zoom-mobile {
    position: relative;

    label {
        position: absolute;
        top: -7px;
        left: 3px;
    }
}

main {
    position: relative;
    grid-area: main;
    overflow: auto;

    &::before {
        display: var(--main-shadow, block);
        position: fixed;
        box-shadow: 10px 10px 10px var(--menu-box-shadow-color) inset;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: ' ';
    }
}

@media screen and (width >= 1024px) {
    :host.reduce-menu {
        --aside-width: 55px;

        .icon + span {
            opacity: 0;
            transition: all 0.5s;
            width: 0;
        }
    }

    .zoom-mobile {
        display: none !important;
    }
}

@media screen and (width < 1024px) {
    :host {
        --main-padding: 0 5px;
        --main-padding-left: 5px;
        --main-padding-right: 5px;
        --aside-width: 0;
        --show-mobile: block;
        --menu-transition: left 0.5s;
        --aside-transition: background-color 0.5s;
        --aside-content-width: 90vw;
        --aside-content-left: -90vw;
        --aside-content-left-open: 0;
        --aside-content-position: absolute;
        --aside-content-backdrop-width-open: 100vw;
        --aside-content-backdrop-color-open: #000c;
        --menu-item-padding: 25px;
        --main-shadow: none;
    }

    header .title {
        font-size: 30px;
    }

    .menu-mode {
        display: none;
    }

    .aside-help {
        position: relative;
        background: transparent;
        padding: 0;
        width: 0;
        height: 100%;
        overflow: visible;

        & ::ng-deep help {
            display: block;
            position: absolute;
            top: 0;
            right: -200px;
            z-index: 1;
            transition: right 0.3s;
            box-sizing: border-box;
            background: var(--aside-background);
            padding: 5px;
            width: 200px;
            height: 100%;
            overflow: auto;
        }
    }

    :host.show-help {
        --aside-help-width: 0;

        .aside-help ::ng-deep help {
            right: 0;
        }
    }
}

@media screen and (width < 600px) {
    :host {
        --aside-actions-display: flex;
    }

    header .title {
        font-size: 24px;
    }

    aside ul {
        height: auto;
    }
}
