<loader-cmp *ngIf="loading" [message]="'gererator.loading' | translate"></loader-cmp>

<header>
    <div class="title">{{ 'classement' | translate }}</div>
    <div class="actions">
        <light-dark></light-dark>
        <select [(ngModel)]="selectedLang" (ngModelChange)="updateLanguage($event)">
            <option *ngFor="let lang of languages" [value]="lang.value">{{ lang.label }}</option>
        </select>
        <div class="buton-menu-mobile" (click)="toggleMenu()">☰</div>
    </div>
</header>
<aside>
    <div class="backdrop" (click)="toggleMenu()"></div>
    <div class="menu">
        <ul>
            <li class="section-top">
                <a
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="toggleMenu()"
                >
                    {{ 'menu.home' | translate }}
                </a>
            </li>
            <li *ngIf="!modeApi || !userService.logged" class="section-top">
                <a
                    routerLink="/list"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="toggleMenu()"
                >
                    {{ 'menu.list' | translate }}
                </a>
            </li>
            <ng-container *ngIf="modeApi">
                <li *ngIf="userService.logged" class="section-top">
                    <a
                        routerLink="/user/lists"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.my.lists' | translate }}
                    </a>
                </li>

                <li *ngIf="!userService.logged" class="section-top">
                    <a
                        routerLink="/user/login"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.login' | translate }}
                    </a>
                </li>
                <li *ngIf="userService.logged" class="section-top">
                    <a
                        routerLink="/user/profile"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.profile' | translate }}
                    </a>
                </li>
                <li class="section-top">
                    <a
                        routerLink="/navigate"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: false }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.navigate' | translate }}
                    </a>
                </li>
            </ng-container>
            <li class="section-top">
                <a
                    routerLink="/edit/new"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="toggleMenu()"
                >
                    {{ 'menu.new' | translate }}
                </a>
            </li>
            <li *ngIf="modeApi && modeModerator" class="section-top">
                <a
                    routerLink="/admin"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: false }"
                    (click)="toggleMenu()"
                >
                    {{ 'menu.admin' | translate }}
                </a>
            </li>
            <ng-container *ngIf="modeApi">
                <li>
                    <a *ngIf="userService.logged" class="logout" (click)="logout()">
                        {{ 'menu.logout' | translate }}
                    </a>
                </li>
                <li class="information">
                    <a
                        routerLink="/user/information"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.information' | translate }}
                    </a>
                </li>
            </ng-container>

            <li class="licences">
                <a
                    routerLink="/licences"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="toggleMenu()"
                >
                    {{ 'menu.licences' | translate }}
                </a>
            </li>
        </ul>
        <div class="actions-mobile">
            <light-dark></light-dark>
            <select [(ngModel)]="selectedLang" (ngModelChange)="updateLanguage($event)">
                <option *ngFor="let lang of languages" [value]="lang.value">{{ lang.label }}</option>
            </select>
        </div>
    </div>
</aside>
<div #main>
    <router-outlet *ngIf="!loading"></router-outlet>
    <info-messages></info-messages>
</div>

<dialog-cmp class="auto-format" #warningExit>
    <p class="title">{{ 'gererator.change.warning' | translate }}</p>
    <p>{{ 'gererator.change.question' | translate }}</p>
    <div>
        <button (click)="exit(false)">{{ 'list.delete.cancel' | translate }}</button>
        <button class="primary" (click)="exit(true)">{{ 'list.delete.validate' | translate }}</button>
    </div>
</dialog-cmp>
