@if (loading) {
  <loader-cmp [message]="'generator.loading' | transloco" />
}

<header>
  <div class="title">{{ 'classement' | transloco }}</div>
  <div class="actions">
    @if (preferencesService.preferences.zoomMobile && globalService.zoomActive()) {
      <div class="zoom-mobile">
        <label for="zoom"> Zoom </label>
        <input
          id="zoom"
          type="range"
          min="30"
          max="100"
          list="tick-marks"
          [(ngModel)]="preferencesService.preferences.zoomMobile"
          (ngModelChange)="preferencesService.saveAndUpdate(preferencesService.preferences)"
        />
        <datalist id="tick-marks">
          <option value="30"></option>
          <option value="40"></option>
          <option value="50"></option>
          <option value="60"></option>
          <option value="70"></option>
          <option value="80"></option>
          <option value="90"></option>
          <option value="100"></option>
        </datalist>
      </div>
    }

    @if (showHelpButton()) {
      <div class="button-help" [title]="'help' | transloco" (click)="toggleHelp()">?</div>
    }
    <div class="buton-menu-mobile" (click)="toggleMenu()">☰</div>
  </div>
</header>
<aside class="aside-menu">
  <div class="backdrop" (click)="toggleMenu()"></div>
  <div class="menu" [class.main-menu-reduce]="preferences().preferencesForm?.get('mainMenuReduce')?.value">
    <ul>
      <li class="section-top" [title]="'menu.home' | transloco">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">
          <span class="icon icon-home"></span>
          <span>{{ 'menu.home' | transloco }}</span>
        </a>
      </li>
      @if (!modeApi || !logged) {
        <li class="section-top" [title]="'menu.list' | transloco">
          <a
            routerLink="/list"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="toggleMenu()"
          >
            <span class="icon icon-bookmark"></span>
            <span>{{ 'menu.list' | transloco }}</span>
          </a>
        </li>
      }
      @if (modeApi()) {
        @if (logged) {
          <li class="section-top" [title]="'menu.my.lists' | transloco">
            <a
              routerLink="/user/lists"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="toggleMenu()"
            >
              <span class="icon icon-bookmark"></span>
              <span>{{ 'menu.my.lists' | transloco }}</span>
            </a>
          </li>
        }
        <li class="section-top" [title]="'menu.navigate' | transloco">
          <a
            routerLink="/navigate"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            (click)="toggleMenu()"
          >
            <span class="icon icon-public-search"></span>
            <span>{{ 'menu.navigate' | transloco }}</span>
          </a>
        </li>
      }
      <li class="section-top" [title]="'menu.new' | transloco">
        @if (preferences().preferencesForm?.get('mode')?.value !== 'choice') {
          <a
            routerLink="/edit/new"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true, queryParams: 'ignored' }"
            (click)="toggleMenu()"
          >
            <span class="icon icon-add"></span>
            <span>{{ 'menu.new' | transloco }}</span>
          </a>
        } @else {
          <a (clickEnter)="openChoice()" [class.active]="routerUrl.startsWith('/edit/new')">
            <span class="icon icon-add"></span>
            <span>{{ 'menu.new' | transloco }}</span>
          </a>
        }
      </li>
      <li [title]="'menu.preferences' | transloco">
        <a (clickEnter)="openPreferences()">
          <span class="icon icon-params"></span>
          <span>{{ 'menu.preferences' | transloco }}</span>
        </a>
      </li>
      @if (modeApi()) {
        @if (modeModerator()) {
          <li [title]="'menu.admin' | transloco">
            <a
              routerLink="/admin"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="toggleMenu()"
            >
              <span class="icon icon-admin"></span>
              <span>{{ 'menu.admin' | transloco }}</span>
            </a>
          </li>
        }
        @if (logged) {
          <li [title]="'menu.profile' | transloco">
            <a
              routerLink="/user/profile"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="toggleMenu()"
            >
              <span class="icon icon-profile"></span>
              <span>{{ 'menu.profile' | transloco }}</span>
            </a>
          </li>
        } @else {
          <li [title]="'menu.login' | transloco">
            <a
              routerLink="/user/login"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="toggleMenu()"
            >
              <span class="icon icon-login"></span>
              <span>{{ 'menu.login' | transloco }}</span>
            </a>
          </li>
          <li [title]="'menu.sign-up' | transloco">
            <a
              routerLink="/user/sign-up"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="toggleMenu()"
            >
              <span class="icon icon-signup"></span>
              <span>{{ 'menu.sign-up' | transloco }}</span>
            </a>
          </li>
        }
        <li [title]="'menu.logout' | transloco">
          @if (logged) {
            <a class="logout" (click)="logout()" (keydown.enter)="logout()" tabindex="0">
              <span class="icon icon-logout"></span>
              <span>{{ 'menu.logout' | transloco }}</span>
            </a>
          }
        </li>
      }

      <li class="information" [title]="'menu.information' | transloco">
        <a
          routerLink="/infos"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMenu()"
        >
          <span class="icon icon-info"></span>
          <span>{{ 'menu.information' | transloco }}</span>
        </a>
      </li>
    </ul>
    <div
      tabindex="0"
      class="menu-mode"
      (click)="toggleResizeMenu()"
      (keydown.enter)="toggleResizeMenu()"
      [title]="
        (preferences().preferencesForm?.get('mainMenuReduce')?.value ? 'menu.mode.reduce' : 'menu.mode.expand')
          | transloco
      "
    >
      <span
        class="icon"
        [class.icon-reduce]="!preferences().preferencesForm?.get('mainMenuReduce')?.value"
        [class.icon-expand]="preferences().preferencesForm?.get('mainMenuReduce')?.value"
      ></span>
      <span>{{
        (preferences().preferencesForm?.get('mainMenuReduce')?.value ? 'menu.mode.expand' : 'menu.mode.reduce')
          | transloco
      }}</span>
    </div>
  </div>
</aside>
<aside class="aside-help">
  @if (helpComponent) {
    <ng-container [ngComponentOutlet]="helpComponent" />
  }
</aside>
<div #main>
  @if (!loading) {
    <router-outlet />
  }
</div>

<mg-dialog class="auto-format" #warningExit>
  <p class="title">{{ 'generator.change.warning' | transloco }}</p>
  <p>{{ 'generator.change.question' | transloco }}</p>
  <div>
    <button (click)="exit(false)">{{ 'list.delete.cancel' | transloco }}</button>
    <button class="primary" (click)="exit(true, true)">{{ 'list.delete.exit.save' | transloco }}</button>
    <button class="warn" (click)="exit(true)">{{ 'list.delete.exit' | transloco }}</button>
  </div>
</mg-dialog>

<mg-dialog class="auto-format mode-dialog" #choice closeBackdrop>
  <h2 class="title">{{ 'generator.choice.title' | transloco }}</h2>
  <nav class="choice-mode">
    <ul>
      @for (mode of modes; track $index; let index = $index) {
        <li
          id="mode_{{ mode.id }}"
          (click)="beginNew(mode.id)"
          (mouseenter)="_visiblity = true; _modeTemp = mode.id; _index = index"
          (mouseleave)="_visiblity = false"
          tabIndex="0"
        >
          <span class="icon-mode-{{ mode.icon ?? mode.id }}"></span>
          <span>{{ 'mode.name.' + mode.id | transloco }}</span>
        </li>
      }
    </ul>
  </nav>
  <p class="info-block" [class.visible]="_visiblity">
    <strong>{{ 'mode.name.' + _modeTemp | transloco }}</strong>
    <span class="info" [style.--pos]="_index" [style.--size]="modes.length">
      @for (mode of modes; track $index) {
        <span>{{ 'generator.actions.change.mode.' + mode.id | transloco }}</span>
      }
    </span>
  </p>
</mg-dialog>

<preferences-dialog #pref (mainMenuReduce)="mainMenuReduce.set($event)" />
