:host {
    height: 100%;
    display: grid;
    grid-template:
        'header header' 50px
        'aside  main' 1fr /
        var(--aside-width, 150px) 1fr;

    &.show-menu {
        --aside-content-left: var(--aside-content-left-open);
        --aside-content-backdrop-color: var(--aside-content-backdrop-color-open);
        --aside-content-backdrop-width: var(--aside-content-backdrop-width-open);
    }
}

header {
    grid-area: header;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background);

    .title {
        font-size: 37px;
        font-weight: 700;
    }

    light-dark {
        margin: 0 10px;
    }

    select {
        width: auto;
    }

    .actions {
        display: flex;

        & > :not(.buton-menu-mobile) {
            display: var(--header-actions-display, flex);
        }
    }

    .buton-menu-mobile {
        display: var(--show-mobile, none);
        cursor: pointer;
        font-size: 30px;
        margin: 0 0 0 20px;
    }
}

aside {
    grid-area: aside;
    background: var(--aside-background);
    position: relative;

    .backdrop {
        display: var(--show-mobile, none);
        transition: var(--aside-transition);
        content: ' ';
        position: absolute;
        width: var(--aside-content-backdrop-width, 0);
        height: 100%;
        background-color: var(--aside-content-backdrop-color, transparent);
        z-index: 1;
    }

    .menu {
        overflow: auto;
        transition: var(--menu-transition);
        position: var(--aside-content-position);
        left: var(--aside-content-left, -100vw);
        background: var(--header-background);
        height: 100%;
        width: var(--aside-content-width, 100%);
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin: 5px;
        padding: var(--menu-item-padding, 5px);
        border: 1px solid var(--menu-border-color);
        list-style: none;
        font-weight: 700;
        cursor: default;
        color: var(--menu-color);
        background: var(--menu-background);
        border-radius: 5px;

        &.active {
            color: var(--menu-active-color);
            background-color: var(--menu-active-background);
        }

        &:not(.active):hover {
            cursor: pointer;
            color: var(--menu-hover-color);
            background-color: var(--menu-hover-background);
        }
    }

    .actions-mobile {
        display: var(--aside-actions-display, none);
        flex-direction: column;

        & > * {
            margin: var(--menu-item-padding);
            justify-content: center;
            width: auto;
        }

        light-dark {
            transform: scale(1.72);
        }

        select {
            padding: var(--menu-item-padding, 5px);
            font-weight: 700;
        }
    }
}

:host > div {
    grid-area: main;
    overflow: auto;
    position: relative;

    &::before {
        display: block;
        position: fixed;
        content: ' ';
        height: 100%;
        width: 100%;
        box-shadow: 10px 10px 10px var(--menu-box-shadow-color) inset;
        pointer-events: none;
    }
}

@media screen and (max-width: 1024px) {
    :host {
        --aside-width: 0;
        --show-mobile: display;
        --menu-transition: left 0.5s;
        --aside-transition: background-color 0.5s;
        --aside-content-width: 90vw;
        --aside-content-left: -90vw;
        --aside-content-left-open: 0;
        --aside-content-position: absolute;
        --aside-content-backdrop-width-open: 100vw;
        --aside-content-backdrop-color-open: #000c;
        --menu-item-padding: 25px;
    }
}

@media screen and (max-width: 600px) {
    :host {
        --aside-actions-display: flex;
        --header-actions-display: none;
    }
}
