::ng-deep {
    body,
    html {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

:host {
    height: 100%;
    display: grid;
    grid-template:
        'header header' 50px
        'aside  main' 1fr /
        150px 1fr;
}

header {
    grid-area: header;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background);

    .title {
        font-size: 37px;
        font-weight: 700;
    }
    light-dark {
        margin: 0 10px;
    }

    select {
        width: auto;
    }
}

aside {
    grid-area: aside;
    overflow: auto;
    background: var(--aside-background);

    ul {
        margin: 0;
        padding: 0;
    }
    li {
        margin: 5px;
        padding: 5px;
        border: 1px solid var(--menu-border-color);
        list-style: none;
        font-weight: 700;
        cursor: default;
        color: var(--menu-color);
        background: var(--menu-background);
        border-radius: 5px;

        &.active {
            color: var(--menu-active-color);
            background-color: var(--menu-active-background);
        }

        &:not(.active):hover {
            cursor: pointer;
            color: var(--menu-hover-color);
            background-color: var(--menu-hover-background);
        }
    }
}

:host > div {
    grid-area: main;
    overflow: auto;
    position: relative;

    &::before {
        display: block;
        position: fixed;
        content: ' ';
        height: 100%;
        width: 100%;
        box-shadow: 10px 10px 10px var(--menu-box-shadow-color) inset;
        pointer-events: none;
    }
}

dialog-cmp {
    .title {
        font-weight: 700;
    }

    p,
    div {
        text-align: center;
        padding: 15px 0;
    }
}
