<loader-cmp *ngIf="loading" [message]="'gererator.loading' | translate"></loader-cmp>

<header>
    <div class="title">{{ 'classement' | translate }}</div>
    <div class="actions">
        <light-dark></light-dark>
        <select [(ngModel)]="selectedLang" (ngModelChange)="updateLanguage($event)">
            <option *ngFor="let lang of languages" [value]="lang.value">{{ lang.label }}</option>
        </select>
        <div class="buton-menu-mobile" (click)="toggleMenu()">☰</div>
    </div>
</header>
<aside>
    <div class="backdrop" (click)="toggleMenu()"></div>
    <div class="menu">
        <ul>
            <li class="section-top">
                <a
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="toggleMenu()"
                >
                    {{ 'menu.home' | translate }}
                </a>
            </li>
            <li *ngIf="!modeApi || !userService.logged" class="section-top">
                <a
                    routerLink="/list"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="toggleMenu()"
                >
                    {{ 'menu.list' | translate }}
                </a>
            </li>
            <ng-container *ngIf="modeApi">
                <li *ngIf="userService.logged" class="section-top">
                    <a
                        routerLink="/user/lists"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: false }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.my.lists' | translate }}
                    </a>
                </li>

                <li class="section-top">
                    <a
                        routerLink="/navigate"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: false }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.navigate' | translate }}
                    </a>
                </li>
            </ng-container>
            <li class="section-top">
                <a
                    routerLink="/edit/new"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="toggleMenu()"
                >
                    {{ 'menu.new' | translate }}
                </a>
            </li>
            <li>
                <a (click)="openPreferences()">
                    {{ 'menu.preferences' | translate }}
                </a>
            </li>
            <li *ngIf="modeApi && modeModerator">
                <a
                    routerLink="/admin"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: false }"
                    (click)="toggleMenu()"
                >
                    {{ 'menu.admin' | translate }}
                </a>
            </li>
            <ng-container *ngIf="modeApi">
                <li *ngIf="userService.logged">
                    <a
                        routerLink="/user/profile"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.profile' | translate }}
                    </a>
                </li>
                <li *ngIf="!userService.logged">
                    <a
                        routerLink="/user/login"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.login' | translate }}
                    </a>
                </li>
                <li *ngIf="!userService.logged">
                    <a
                        routerLink="/user/sign-up"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.sign-up' | translate }}
                    </a>
                </li>
                <li>
                    <a *ngIf="userService.logged" class="logout" (click)="logout()">
                        {{ 'menu.logout' | translate }}
                    </a>
                </li>
                <li class="information">
                    <a
                        routerLink="/user/information"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        (click)="toggleMenu()"
                    >
                        {{ 'menu.information' | translate }}
                    </a>
                </li>
            </ng-container>

            <li class="licences">
                <a
                    routerLink="/licences"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="toggleMenu()"
                >
                    {{ 'menu.licences' | translate }}
                </a>
            </li>
        </ul>
        <div class="actions-mobile">
            <light-dark></light-dark>
            <select [(ngModel)]="selectedLang" (ngModelChange)="updateLanguage($event)">
                <option *ngFor="let lang of languages" [value]="lang.value">{{ lang.label }}</option>
            </select>
        </div>
    </div>
</aside>
<div #main>
    <router-outlet *ngIf="!loading"></router-outlet>
    <info-messages></info-messages>
</div>

<dialog-cmp class="auto-format" #warningExit>
    <p class="title">{{ 'gererator.change.warning' | translate }}</p>
    <p>{{ 'gererator.change.question' | translate }}</p>
    <div>
        <button (click)="exit(false)">{{ 'list.delete.cancel' | translate }}</button>
        <button class="primary" (click)="exit(true, true)">{{ 'list.delete.exit.save' | translate }}</button>
        <button class="warn" (click)="exit(true)">{{ 'list.delete.exit' | translate }}</button>
    </div>
</dialog-cmp>

<dialog-cmp class="preferences" #preferences>
    <ng-container *ngIf="preferencesForm" [formGroup]="preferencesForm">
        <h2>{{ 'preferences.title' | translate }}</h2>
        <h3>{{ 'preferences.tile.title' | translate }}</h3>
        <label>
            <input type="checkbox" formControlName="nameCopy" /> {{ 'preferences.tile.name.copy' | translate }}
        </label>

        <h3>{{ 'preferences.color.title' | translate }}</h3>
        <label>
            <input type="radio" formControlName="newColor" value="mixed" />
            {{ 'preferences.color.new.color.mixed' | translate }}
        </label>
        <label>
            <input type="radio" formControlName="newColor" value="same" />
            {{ 'preferences.color.new.color.same' | translate }}
        </label>

        <h3>{{ 'preferences.group.title' | translate }}</h3>
        <label
            ><input type="radio" formControlName="newLine" value="below" />
            {{ 'preferences.group.new.line.below' | translate }}
        </label>
        <label
            ><input type="radio" formControlName="newLine" value="above" />
            {{ 'preferences.group.new.line.above' | translate }}
        </label>
        <!-- <label
            ><input type="radio" formControlName="newLine" value="ask-me" />
            {{ 'preferences.group.new.line.ask.me' | translate }}
        </label> -->

        <h3>{{ 'preferences.group.line.option.title' | translate }}</h3>
        <label
            ><input type="radio" formControlName="lineOption" value="auto" />
            {{ 'preferences.group.line.option.auto' | translate }}
        </label>
        <label
            ><input type="radio" formControlName="lineOption" value="reduce" />
            {{ 'preferences.group.line.option.reduce' | translate }}
        </label>

        <h3>{{ 'preferences.theme.title' | translate }}</h3>
        <select formControlName="theme">
            <option *ngFor="let theme of themes" [value]="theme">
                {{ 'gererator.theme.name.' + theme | translate }}
            </option>
        </select>

        <div class="buttons">
            <button (click)="preferences.close()">{{ 'preferences.close' | translate }}</button>
        </div>
    </ng-container>
</dialog-cmp>
