<mg-dialog class="preferences" #preferences closeBackdrop closeButton>
  @if (preferencesForm) {
    <ng-container [formGroup]="preferencesForm">
      <h2>{{ 'preferences.title' | transloco }}</h2>
      <mg-tabs #preferencesTabs>
        <mg-tab-title id="general"> {{ 'preferences.tab.general' | transloco }}</mg-tab-title>
        <mg-tab-content id="general">
          <h3 class="s-12">{{ 'preferences.interface.title' | transloco }}</h3>
          <div class="s-12 label">{{ 'preferences.interface.light-dark' | transloco }}</div>
          <mg-light-dark (change)="changeLightDark($event)"></mg-light-dark>
          <mg-input id="language" class="s-12">
            <mg-input-label>{{ 'preferences.interface.language' | transloco }}</mg-input-label>
            <mg-input-select formControlName="interfaceLanguage" [data]="languages"> </mg-input-select>
          </mg-input>
          @if (modeApi()) {
            <h3 class="s-12">{{ 'preferences.navigation.title' | transloco }}</h3>
            <mg-input id="language" class="s-12">
              <mg-input-label>{{ 'preferences.navigation.page.size' | transloco }}</mg-input-label>
              <mg-input-before>{{ 'preferences.navigation.page.size.pre' | transloco }}</mg-input-before>
              <mg-input-number
                formControlName="pageSize"
                min="9"
                max="50"
                noDecimal
                noNegative
                forceMinMax
              ></mg-input-number>
              <mg-input-after>{{ 'preferences.navigation.page.size.per' | transloco }}</mg-input-after>
            </mg-input>
            <mg-input class="s-12">
              <mg-input-label>{{ 'preferences.navigation.adult.label' | transloco }}</mg-input-label>
              <mg-input-checkbox formControlName="adult" mode="toggle">{{
                'preferences.navigation.adult.input' | transloco
              }}</mg-input-checkbox>
              <mg-input-desc
                ><ul>
                  <li>{{ 'preferences.navigation.adult.desc.1' | transloco }}</li>
                  <li>{{ 'preferences.navigation.adult.desc.2' | transloco }}</li>
                </ul></mg-input-desc
              >
            </mg-input>
          }
        </mg-tab-content>
        <mg-tab-title id="editor"> {{ 'preferences.editor.title' | transloco }}</mg-tab-title>
        <mg-tab-content id="editor">
          <h3 class="s-12">{{ 'preferences.editor.title' | transloco }}</h3>
          <h4 class="s-12">{{ 'preferences.tiles.title' | transloco }}</h4>

          <mg-input class="s-12">
            <mg-input-label>{{ 'preferences.tile.title' | transloco }}</mg-input-label>
            <mg-input-checkbox formControlName="nameCopy" mode="toggle">{{
              'preferences.tile.name.copy' | transloco
            }}</mg-input-checkbox>
          </mg-input>

          <h4 class="s-12">{{ 'preferences.groups.title' | transloco }}</h4>

          <mg-input alignMode="column" class="s-12">
            <mg-input-label>{{ 'preferences.color.title' | transloco }}</mg-input-label>
            <mg-input-radio formControlName="newColor" value="mixed">{{
              'preferences.color.new.color.mixed' | transloco
            }}</mg-input-radio>
            <mg-input-radio formControlName="newColor" value="same">{{
              'preferences.color.new.color.same' | transloco
            }}</mg-input-radio>
          </mg-input>

          <mg-input alignMode="column" class="s-12">
            <mg-input-label>{{ 'preferences.group.new.line.title' | transloco }}</mg-input-label>
            <mg-input-radio formControlName="newLine" value="below">{{
              'preferences.group.new.line.below' | transloco
            }}</mg-input-radio>
            <mg-input-radio formControlName="newLine" value="above">{{
              'preferences.group.new.line.above' | transloco
            }}</mg-input-radio>
          </mg-input>

          <mg-input alignMode="column" class="s-12">
            <mg-input-label>{{ 'preferences.group.line.option.title' | transloco }}</mg-input-label>
            <mg-input-radio formControlName="lineOption" value="auto">{{
              'preferences.group.line.option.auto' | transloco
            }}</mg-input-radio>
            <mg-input-radio formControlName="lineOption" value="reduce">{{
              'preferences.group.line.option.reduce' | transloco
            }}</mg-input-radio>
            <mg-input-radio formControlName="lineOption" value="hidden">{{
              'preferences.group.line.option.hidden' | transloco
            }}</mg-input-radio>
          </mg-input>

          <h4 class="s-12">{{ 'preferences.other.title' | transloco }}</h4>

          <mg-input class="s-6">
            <mg-input-label>{{ 'preferences.mode.title' | transloco }}</mg-input-label>
            <mg-input-select
              [data]="modes"
              [templates]="templatesModes"
              formControlName="mode"
              displaySearchStatus="hidden"
              overlay
              listPosition="auto"
              ><ng-template #templatesModes let-label="label">
                {{ 'mode.name.' + label | transloco }}
              </ng-template>
            </mg-input-select>
          </mg-input>

          @if (preferencesForm.get('mode')?.value !== 'choice' && this.themes()) {
            <mg-input class="s-6">
              <mg-input-label>{{ 'preferences.theme.title' | transloco }}</mg-input-label>
              <mg-input-select
                [data]="themesList()!"
                [templates]="themesTemplate"
                formControlName="theme"
                displaySearchStatus="hidden"
                overlay
                listPosition="auto"
                ><ng-template #themesTemplate let-label="label">
                  {{ 'generator.theme.name.' + label | transloco }}
                </ng-template>
              </mg-input-select>
            </mg-input>
          }
        </mg-tab-content>
        @if (modeApi()) {
          <mg-tab-title id="emoji"> {{ 'preferences.tab.emoji' | transloco }}</mg-tab-title>
        }
        @if (modeApi()) {
          <mg-tab-content id="emoji" formGroupName="authApiKeys">
            <div class="current-emoji">
              <h3>{{ 'preferences.emoji.quick.list' | transloco }}</h3>
              <ul
                class="emoji-list"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"
              >
                @for (emoji of emojiSort; track emoji) {
                  <li [tabIndex]="0" cdkDrag (click)="emojiSort.length > 1 ? removeEmoji(emoji) : null">{{ emoji }}</li>
                }
              </ul>
              <div class="emoji-info">{{ 'preferences.emoji.quick.list.info' | transloco }}</div>
            </div>
            <h3>{{ 'preferences.emoji.all.list' | transloco }}</h3>
            <div>
              @for (emojiGroup of emojiList; track emojiGroup) {
                <h4>{{ 'preferences.emoji.' + emojiGroup.label | transloco }}</h4>
                <ul class="emoji-list">
                  @for (emojis of emojiGroup.options; track emojis) {
                    @if (emojis.length === 1) {
                      <li
                        tabIndex="0"
                        (click)="emojiAction(emojis[0])"
                        [class.disabled]="emojiSort.includes(emojis[0])"
                      >
                        {{ emojis[0] }}
                      </li>
                    } @else {
                      @let hide = { test: true };
                      <li tabIndex="0" class="multiple">
                        <div (click)="toggleEmoji($event, hide)">{{ emojis[0] }}</div>
                        @if (!hide.test) {
                          <ul class="sub-list" (clickOutside)="hide.test = !hide.test">
                            @for (emoji of emojis; track emoji) {
                              <li
                                [tabIndex]="0"
                                (click)="emojiAction(emoji, hide)"
                                [class.disabled]="emojiSort.includes(emoji)"
                              >
                                {{ emoji }}
                              </li>
                            }
                          </ul>
                        }
                      </li>
                    }
                  }
                </ul>
              }
            </div>
          </mg-tab-content>
        }
        <mg-tab-title id="api"> {{ 'preferences.tab.api' | transloco }}</mg-tab-title>
        <mg-tab-content id="api" formGroupName="authApiKeys">
          <mg-input class="s-12">
            <mg-input-label>{{ 'preferences.imdb.key' | transloco }}</mg-input-label>
            <mg-input-text formControlName="imdb"></mg-input-text>
            <mg-input-desc>
              <span class="icon-info"></span>
              {{ 'preferences.imdb.info' | transloco }}<a href="https://www.themoviedb.org/settings/api">API</a>
            </mg-input-desc>
          </mg-input>
        </mg-tab-content>
      </mg-tabs>
      <div class="buttons">
        <button (click)="preferences.close()">{{ 'preferences.close' | transloco }}</button>
      </div>
    </ng-container>
  }
</mg-dialog>
