:host {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 5px;
}

a {
    cursor: pointer;
    border: 1px solid var(--page-item-border-color);
    border-radius: 5px;
    min-width: 40px;
    color: var(--page-item-text-color);
    text-align: center;

    &.current {
        background: var(--page-item-current-background);
        color: var(--page-item-current-test-color);
        font-weight: 700;
    }

    &:hover {
        background: var(--page-item-hover-background);
    }
}

.separator {
    min-width: 20px;
    text-align: center;
}
