<h2>{{ 'navigate.template' | translate }}</h2>

<div class="return">
    <button (click)="retrun()">{{ 'navigate.back.search' | translate }}</button>
</div>

<ng-container *ngIf="!loading">
    <div class="result">
        <div class="classement" *ngFor="let category of classements">
            <figure (click)="openClassement(category)">
                <img [src]="category.banner" />
                <figcaption>
                    <div class="name">{{ category.name }}</div>
                    <div class="category">{{ 'category.' + (category.category || 'undefined') | translate }}</div>
                    <div class="username">{{ 'user.by' | translate: { autor: category.user } }}</div>
                    <div class="date">{{ category.dateCreate | date: ('date.dd/MM/yyyy HH:mm' | translate) }}</div>
                </figcaption>
            </figure>
        </div>
    </div>
</ng-container>

<loader-item *ngIf="loading"></loader-item>
