<h2>{{ 'navigate.template' | translate }}</h2>

<div class="return">
    <button (click)="retrun()">retrun</button>
</div>

<div class="result">
    <div class="classement" *ngFor="let category of classements">
        <figure (click)="openClassement(category)">
            <img [src]="category.banner" />
            <figcaption>
                <div class="category">{{ category.category }}</div>
                <div class="name">{{ category.name }}</div>
                <div class="date">{{ category.dateCreate | date: 'dd/MM/yyy' }}</div>
            </figcaption>
        </figure>
    </div>
</div>
