<h2>{{ 'menu.navigate' | translate }}</h2>

<div class="return" *ngIf="!isCatagoryList">
    <button (click)="showChatList()">{{ 'navigate.back.category' | translate }}</button>
</div>

<div class="search">
    <div class="name">
        <label>{{ 'navigate.title' | translate }}</label>
        <input type="search" [(ngModel)]="searchKey" />
    </div>
    <div class="categories">
        <label>{{ 'navigate.category' | translate }}</label>
        <select type="text" maxlength="150" [(ngModel)]="category">
            <option></option>
            <option *ngFor="let item of categories" [value]="item">{{ 'category.' + item | translate }}</option>
        </select>
    </div>
    <button (click)="submit()">{{ 'navigate.search' | translate }}</button>
</div>

<h3>{{ (isCatagoryList ? 'navigate.categories' : 'navigate.classements') | translate }} ({{ classements.length }})</h3>

<ng-container *ngIf="!loading">
    <div *ngIf="classements?.length; else noResult" class="result" [class.cateories]="isCatagoryList">
        <div class="classement" *ngFor="let category of classements">
            <figure (click)="isCatagoryList ? openCategory(category) : openClassement(category)">
                <img [src]="category.banner" />
                <figcaption>
                    <div class="name" *ngIf="!isCatagoryList">{{ category.name }}</div>
                    <div class="category">
                        {{ 'category.' + (category.category || 'undefined') | translate }}
                        <ng-container *ngIf="isCatagoryList"> ({{ category.templateTotal }}) </ng-container>
                    </div>
                    <div class="username" *ngIf="!isCatagoryList">{{ category.user }}</div>
                    <div class="date" *ngIf="!isCatagoryList">
                        {{ category.dateCreate | date: ('date.dd/MM/yyyy HH:mm' | translate) }}
                    </div>
                </figcaption>
            </figure>
            <div
                *ngIf="!isCatagoryList"
                class="template"
                [class.hide]="category.templateTotal === 1"
                (click)="seeTemplate(category)"
            >
                {{ 'navigate.see.derivatives' | translate }} ({{ category.templateTotal }})
            </div>
        </div>
    </div>
    <ng-template #noResult>
        <div class="no-result">{{ 'navigate.search.nothing' | translate }}</div>
    </ng-template>
</ng-container>

<loader-item *ngIf="loading"></loader-item>
