<h2>{{ 'menu.navigate' | translate }}</h2>

<div class="search">
    <div class="name">
        <label>{{ 'navigate.title' | translate }}</label>
        <input type="search" [(ngModel)]="searchKey" />
    </div>
    <div class="categories">
        <label>{{ 'navigate.category' | translate }}</label>
        <select type="text" maxlength="150" [(ngModel)]="category">
            <option></option>
            <option *ngFor="let item of categories" [value]="item">{{ 'category.' + item | translate }}</option>
        </select>
    </div>
    <button (click)="submit(true)">{{ 'navigate.search' | translate }}</button>
</div>

<h3>
    {{ (isCatagoryList ? 'navigate.categories' : 'navigate.classements') | translate }}
    <ng-container *ngIf="!loading">({{ total }})</ng-container>
</h3>

<div class="return" *ngIf="!isCatagoryList">
    <a (click)="showCategoriesList()">🢀 {{ 'navigate.back.category' | translate }}</a>
</div>

<paginate-cmp
    *ngIf="!isCatagoryList && total && total / 25 > 1"
    [total]="total"
    [page]="page"
    [base]="url"
    [queryParams]="queryParams"
></paginate-cmp>

<ng-container *ngIf="!loading">
    <div *ngIf="classements?.length; else noResult" class="result" [class.cateories]="isCatagoryList">
        <div class="classement" *ngFor="let category of classements">
            <figure (click)="isCatagoryList ? openCategory(category) : openClassement(category)">
                <img [src]="category.banner" />
                <figcaption>
                    <div class="name" *ngIf="!isCatagoryList">{{ category.name }}</div>
                    <div class="category">
                        {{ 'category.' + (category.category || 'undefined') | translate }}
                        <ng-container *ngIf="isCatagoryList"> ({{ category.templateTotal }}) </ng-container>
                    </div>
                    <ng-container *ngIf="!isCatagoryList">
                        <div class="groups">
                            <div [title]="'list.count.group' | translate">
                                <span class="icon-group"></span> {{ category.totalGroups }}
                            </div>
                            <div [title]="'list.count.item' | translate">
                                <span class="icon-tile"></span> {{ category.totalItems }}
                            </div>
                        </div>
                        <div class="username">
                            {{ 'user.by' | translate: { autor: category.user || ('list.user.anonymous' | translate) } }}
                        </div>
                        <div class="date">
                            {{ category.dateCreate | date: ('date.dd/MM/yyyy HH:mm' | translate) }}
                        </div>
                        <div class="date change">
                            <ng-container *ngIf="category.dateChange">{{
                                'gererator.ranking.change'
                                    | translate
                                        : {
                                              DATE: category.dateChange | date: ('date.dd/MM/yyyy HH:mm' | translate)
                                          }
                            }}</ng-container>
                        </div>
                    </ng-container>
                </figcaption>
            </figure>
            <div
                *ngIf="!isCatagoryList"
                class="template"
                [class.hide]="category.templateTotal === 1"
                (click)="seeTemplate(category)"
            >
                {{ 'navigate.see.derivatives' | translate }} ({{ category.templateTotal }})
            </div>
        </div>
    </div>
    <ng-template #noResult>
        <div class="no-result">{{ 'navigate.search.nothing' | translate }}</div>
    </ng-template>
</ng-container>

<paginate-cmp
    *ngIf="!isCatagoryList && total && total / 25 > 1"
    [total]="total"
    [page]="page"
    [base]="url"
    [queryParams]="queryParams"
></paginate-cmp>

<loader-item *ngIf="loading"></loader-item>
