<h2>{{ 'navigate.visualization' | transloco }}</h2>

@if (classement) {
  <div class="return">
    <a [routerLink]="['/navigate/template', classement.templateId]" class="icon-left">
      {{ 'navigate.see.derivatives' | transloco }}
    </a>
  </div>
}

@if (!loading && classement && classement.data) {
  <div class="infos">
    <h3 class="name">
      <span>{{ classement.name }}</span>
      @if (classement.historyId) {
        <span class="history">{{ 'generator.actions.history.warning' | transloco }}</span>
      }
    </h3>
    <div class="category">
      {{ 'category.' + (classement.category || 'undefined') | transloco }}
    </div>
    <div class="groups">
      @if (classement.mode === 'default' || classement.mode === 'teams') {
        <div [title]="'list.count.group' | transloco">
          <span class="icon-group"></span> {{ classement.totalGroups }}
        </div>
      }
      <div [title]="'list.count.item' | transloco"><span class="icon-tile"></span> {{ classement.totalItems }}</div>
      <div class="mode">
        {{ 'mode.name.' + (classement.mode || 'default') | transloco }}
      </div>
    </div>
    <div class="username">
      @if (classement.user) {
        <a [routerLink]="['/user', '@' + classement.user]">
          @if (classement.userAvatar) {
            <div>
              <img class="avatar" [src]="classement.userAvatar" alt="avatar" />
            </div>
          }
          <div>
            {{ 'user.by' | transloco: { author: classement.user } }}
          </div>
        </a>
      } @else {
        <div>
          {{ 'user.by' | transloco: { author: ('list.user.anonymous' | transloco) } }}
        </div>
      }
    </div>
    @if (classement.data.options.description) {
      <div class="desc">
        <markdown [data]="classement.data.options.description"></markdown>
      </div>
    }
    <div class="dates">
      <div class="date">
        {{
          'generator.ranking.create'
            | transloco: { DATE: classement.dateCreate | date: ('date.dd/MM/yyyy HH:mm' | transloco) }
        }}
      </div>
      @if (classement.dateChange) {
        <div class="date">
          {{
            'generator.ranking.change'
              | transloco: { DATE: classement.dateChange | date: ('date.dd/MM/yyyy HH:mm' | transloco) }
          }}
        </div>
      }
    </div>
    @if (classement.data.options.tags && classement.data.options.tags.length) {
      <div class="tags">
        <span>{{ 'generator.options.tags' | transloco }}</span>
        <tag-list [tags]="classement.data.options.tags" readOnly></tag-list>
      </div>
    }
    <div class="buttons">
      @if (!currentUser) {
        <button (click)="openClassementFork()" class="primary">
          {{
            (!apiActive
              ? 'generator.actions.edit.local.empty'
              : !logged
                ? 'generator.actions.make.my.derivative.empty'
                : 'generator.actions.new.derivative.empty'
            ) | transloco
          }}
        </button>
      }
      <!-- <button (click)="openClassement()" *ngIf="!currentUser">
      {{
      (!apiActive
      ? 'generator.actions.edit.local'
      : !logged
      ? 'generator.actions.make.my.derivative'
      : 'generator.actions.new.derivative'
      ) | transloco
      }}
    </button> -->
    </div>
    <div class="buttons">
      @if (classement.withHistory) {
        <button (click)="seeHistory()" class="primary">
          {{ 'generator.actions.history.show' | transloco }} ({{ classement.withHistory + 1 }})
        </button>
      }
      @if (myClassement) {
        @if (!currentUser) {
          <button (click)="seeMyClassement()" class="primary">
            {{
              (myClassementCount > 1
                ? 'generator.actions.see.my.last.derivative'
                : 'generator.actions.see.my.derivative'
              ) | transloco
            }}
          </button>
        }
        <button (click)="openMyClassement()" class="primary">
          {{
            (myClassementCount > 1
              ? 'generator.actions.edit.my.last.derivative'
              : 'generator.actions.edit.my.derivative'
            ) | transloco
          }}
        </button>
      }
      @if (myClassementCount > 1) {
        <button (click)="seeMyClassements()" class="primary">
          {{ 'navigate.my.derivatives' | transloco }}
        </button>
        <div class="note">
          {{ 'generator.actions.my.derivative.count' | transloco: { count: myClassementCount } }}
        </div>
      }
    </div>
  </div>
  <div class="save-actions buttons">
    <button class="primary" (click)="copyLink()">🔗 {{ 'generator.ranking.share.link' | transloco }}</button>
    <button class="primary" (click)="exportImage()" [disabled]="exportImageDisabled">
      @if (!exportImageDisabled) {
        <span class="icon-share"></span>
      } @else {
        <loading-cmp size="22px" tickWidth="2px"></loading-cmp>
      }
      {{ 'generator.actions.export.image' | transloco }}
    </button>
  </div>
  <div class="link-option">
    <label
      ><input type="checkbox" [(ngModel)]="showLink" />
      <span>{{ 'generator.ranking.show.link' | transloco }}</span></label
    >
  </div>
  @if (!exportImageDisabled) {
    <see-classement
      class="render"
      render
      [options]="classement.data.options"
      [groups]="classement.data.groups"
      [list]="classement.data.list"
      [id]="classement.rankingId"
      [imagesCache]="imagesCache"
      [link]="showLink ? getLink() : ''"
    ></see-classement>
  }
  <div [ngClass]="classScreenMode" #div>
    <div class="classement-top">
      <h3>{{ 'generator.ranking.group.title' | transloco }}</h3>
      @if (classScreenMode !== 'default') {
        <button id="default-view" (click)="screenMode('default', div)">
          {{ 'generator.screen.default' | transloco }}
        </button>
      }
      @if (classScreenMode !== 'enlarge') {
        <button id="enlarge-view" (click)="screenMode('enlarge', div)">
          {{ 'generator.screen.window' | transloco }}
        </button>
      }
      @if (classScreenMode !== 'fullscreen') {
        <button id="fullscreen-view" (click)="screenMode('fullscreen', div)">
          {{ 'generator.screen.fullscreen' | transloco }}
        </button>
      }
    </div>
    <see-classement
      class="preview"
      [options]="classement.data.options"
      [groups]="classement.data.groups"
      [list]="classement.data.list"
      [id]="classement.rankingId"
      withAnnotation
    ></see-classement>
  </div>
}

@if (loading) {
  <loader-item></loader-item>
}

<dialog-cmp class="auto-format" #dialogImage closeButton>
  <div class="button-image-save">
    {{ 'generator.actions.save.image' | transloco }}
    <span>
      <button class="button-add primary png" (click)="saveImage('PNG')">PNG</button>
      <button class="button-add primary jpg" (click)="saveImage('JPG')">Jpeg</button>
      <button class="button-add primary webp" (click)="saveImage('WEBP')">WebP</button>
    </span>
  </div>
  <div #image></div>
</dialog-cmp>

<dialog-cmp #dialogDerivatives closeButton>
  @if (myClassements) {
    <table class="table-derivatives">
      <thead>
        <tr>
          <th class="title">{{ 'list.title.name' | transloco }}</th>
          <th class="date">{{ 'list.date' | transloco }}</th>
          <th class="groups">{{ 'list.count.group' | transloco }}</th>
          <th class="items">{{ 'list.count.item' | transloco }}</th>
          <th class="actions">{{ 'list.action.name' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        @for (derivative of myClassements; track derivative) {
          <tr [class.current]="derivative.rankingId === classement?.rankingId">
            <td class="title">
              {{ derivative.data.options.title || ('list.title.undefined' | transloco) }}
            </td>
            <td class="date">
              <span>{{ derivative.dateCreate | date: ('date.dd/MM/yyyy' | transloco) }}</span>
              <span>{{ derivative.dateCreate | date: ('date.HH:mm' | transloco) }}</span>
            </td>
            <td class="groups">{{ derivative.totalGroups }}</td>
            <td class="items">{{ derivative.totalItems }}</td>
            <td class="actions">
              @if (derivative.rankingId !== classement?.rankingId) {
                <button class="primary" (click)="loadDerivativeClassement(derivative)">
                  {{ 'generator.actions.see.this.derivative' | transloco }}
                </button>
              } @else {
                {{ 'list.current' | transloco }}
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</dialog-cmp>

<dialog-cmp class="auto-format" #dialogPassword>
  <div class="button-image-save">
    {{ 'navigate.password.required' | transloco }}
    <div>
      <input type="password" id="classement-passeword" name="classement-passeword" autocomplete="off" #password />
    </div>
    @if (showError) {
      <ul class="list-error">
        <li>{{ showError }}</li>
      </ul>
    }
    <span>
      <button class="button-add" (click)="cancelPassword()">{{ 'navigate.password.cancel' | transloco }}</button>
      <button class="button-add primary" (click)="openClassementWithPassword(password.value)">
        {{ 'navigate.password.ok' | transloco }}
      </button>
    </span>
  </div>
</dialog-cmp>

<dialog-cmp #dialogHistory closeButton>
  @if (classement && history) {
    <table class="table-history">
      <thead>
        <tr>
          <th class="title">{{ 'list.title.name' | transloco }}</th>
          <th class="date">{{ 'list.date' | transloco }}</th>
          <th class="actions">{{ 'list.action.name' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        @for (item of history; track item) {
          <tr [class.current]="item.id === classement.historyId">
            <td class="title">
              {{ item.name || ('list.title.undefined' | transloco) }}
            </td>
            <td class="date">
              <span>{{ item.date | date: ('date.dd/MM/yyyy' | transloco) }}</span>
              <span>{{ item.date | date: ('date.HH:mm' | transloco) }}</span>
            </td>
            <td class="actions">
              @if (item.id !== classement.historyId) {
                <button class="primary" (click)="loadHistoryClassement(item)">
                  {{ 'generator.actions.see.this.derivative' | transloco }}
                </button>
              } @else {
                <span class="current">
                  {{ 'list.current' | transloco }}
                </span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</dialog-cmp>
