@import './classement-navigate.scss';

.search {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .name {
        flex: 1;
        min-width: 160px;
    }
}

.hide {
    visibility: hidden;
}
