@import './classement-navigate.scss';

.search {
    display: flex;
    gap: 5px;
}

.name {
    flex: 1;
}

.categories {
    width: 250px;
}

.return {
    margin-bottom: 15px;
    text-align: center;
}
