@import './classement-navigate.scss';

.search {
    display: flex;
    gap: 5px;
}

.result {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.name {
    flex: 1;
}

.categories {
    width: 250px;
}

.return {
    margin-bottom: 15px;
    text-align: center;
}
