:host {
    display: block;
    margin: 0 15px 30px 30px;
}

// info block

.infos {
    margin: 15px;
    padding: 15px;
    border: 1px solid var(--menu-separator);
}

.groups {
    padding-top: 3px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.name {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .history {
        text-align: right;
    }
}

.dates {
    margin-top: 10px;
}

.date {
    font-size: 80%;
}

.category,
.username {
    font-weight: 700;
}
.username {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    height: 40px;
}

.note {
    width: 100%;
    text-align: center;
    font-size: 80%;
}

.buttons {
    margin-top: 15px;
}

.desc {
    white-space: pre-line;
    padding: 20px 0 10px;
}

.tags {
    padding: 10px 0 10px;
    font-size: 80%;
}

// preview

.preview {
    display: flex;
    justify-content: center;
}

// render

.render {
    width: var(--over-image-width, 1200px);
    position: absolute;
    top: 0;
    left: -100000px;
}

loading-cmp {
    vertical-align: bottom;
}

// derivatives ------------------------------------------------------------------

.table-derivatives,
.table-history {
    border-spacing: 0;
    position: relative;
    margin: 0 -30px;
    width: calc(100% + 60px);

    thead {
        background: var(--list-header-background);
        position: sticky;
        top: 0;
    }

    th {
        padding: 7px;
    }

    td {
        padding: 10px 5px;

        a {
            white-space: nowrap;
        }
    }

    tbody {
        tr:hover {
            background: var(--list-line-hover-background);
            cursor: default;
        }

        .current {
            color: var(--list-selected-text);
        }

        .title {
            width: 100%;
        }

        .date {
            text-align: center;

            span {
                margin: auto 5px;
                display: block;
            }
        }

        .groups,
        .items {
            text-align: center;
            padding-right: 10px;
        }

        .actions {
            text-align: center;
        }
    }
}
