:host {
    display: block;
    margin: 0 15px 30px 30px;
}

.return {
    margin-bottom: 15px;
}

.search {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .name {
        flex: 1;
        min-width: 160px;
    }
}

.categories {
    width: 250px;
}
