:host {
    display: block;
    margin: var(--main-padding);
}

/* preview */

.preview {
    display: flex;
    justify-content: center;

    @media screen and (width < 1024px) {
        & ::ng-deep .render {
            zoom: calc(var(--zoom) / 100);
        }
    }
}

/* render */

.render {
    position: absolute;
    top: 0;
    left: -100000px;
    width: var(--over-image-width, 1170px);
}

mg-spinner {
    vertical-align: bottom;
}

/* view modes */

.classement-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    :first-child {
        flex: 1;
    }
}

.enlarge,
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--background);
    width: 100%;
    height: 100%;
    overflow: auto;

    see-classement {
        --over-image-width: calc(100% - 40px);
    }
}

.link-option {
    padding: 10px;
    text-align: center;
}

@media (hover: none) and (device-width: 100vw) and (device-height: 100vh) {
    #fullscreen-view {
        display: none;
    }
}

/* --- Tile list --- */

.drop-list {
    display: table-cell; /* fix chromium */
    border: var(--over-drop-list-border-size, var(--drop-list-border-size)) solid
        var(--over-drop-list-border-color, var(--drop-list-border-color));
    border-radius: var(--over-drop-border-radius, var(--drop-list-border-radius));
    background: var(--over-drop-list-background, var(--drop-list-background));
    min-height: calc(
        var(--over-item-height, 150px) +
            (var(--over-item-padding, 10px) + var(--over-item-border, 1px) + var(--over-item-margin, 2px)) * 2
    );
    overflow: hidden;

    & > * {
        display: inline-flex; /* fix chromium */
        vertical-align: bottom;
        text-align: center;
    }
}

/* accessibility ------------------------------------------------------------------ */

.alt {
    mg-input {
        margin-top: 5px;
        width: 100%;
    }
}

/* derivatives ------------------------------------------------------------------ */

.table-derivatives,
.table-history {
    position: relative;
    margin: 0 -30px;
    border-spacing: 0;
    width: calc(100% + 60px);

    thead {
        position: sticky;
        top: 0;
        background: var(--list-header-background);
    }

    th {
        padding: 7px;
    }

    td {
        padding: 10px 5px;

        a {
            white-space: nowrap;
        }
    }

    tbody {
        tr:hover {
            cursor: default;
            background: var(--list-line-hover-background);
        }

        .current {
            color: var(--list-selected-text);
        }

        .title {
            width: 100%;
        }

        .date {
            text-align: center;

            span {
                display: block;
                margin: auto 5px;
            }
        }

        .groups,
        .items {
            padding-inline-end: 10px;
            text-align: center;
        }

        .actions {
            text-align: center;

            button {
                white-space: nowrap;
            }
        }
    }
}

@media screen and (width < 768px) {
    .preview ::ng-deep .names {
        width: calc(var(--over-name-width, 150px) / 2);
        min-width: calc(var(--over-name-width, 150px) / 2);
    }
}
