<h2>{{ 'menu.navigate' | translate }}</h2>

<div class="search">
    <div class="name">
        <label>{{ 'navigate.title' | translate }}</label>
        <input type="search" [(ngModel)]="searchKey" />
    </div>
    <div class="categories">
        <label>{{ 'navigate.category' | translate }}</label>
        <select type="text" maxlength="150" [(ngModel)]="category">
            <option></option>
            <option *ngFor="let item of categories" [value]="item">{{ 'category.' + item | translate }}</option>
        </select>
    </div>
    <button (click)="submit(true)">{{ 'navigate.search' | translate }}</button>
</div>

<h3>
    {{ (isCatagoryList ? 'navigate.categories' : 'navigate.classements') | translate }}
    <ng-container *ngIf="!loading">({{ total }})</ng-container>
</h3>

<div class="return" *ngIf="!isCatagoryList">
    <a [routerLink]="['/navigate']">🢀 {{ 'navigate.back.category' | translate }}</a>
</div>

<paginate-cmp
    *ngIf="!isCatagoryList && total && total / 25 > 1"
    [total]="total"
    [page]="page"
    [base]="url"
    [queryParams]="queryParams"
></paginate-cmp>

<ng-container *ngIf="!loading">
    <div *ngIf="classements?.length; else noResult" class="result" [class.cateories]="isCatagoryList">
        <div class="classement" *ngFor="let classement of classements">
            <a
                [routerLink]="isCatagoryList ? ['/navigate'] : ['/navigate/view', classement.rankingId]"
                [queryParams]="isCatagoryList ? { category: classement.category } : {}"
            >
                <figure>
                    <img [src]="classement.banner" [alt]="classement.name" />
                    <figcaption>
                        <div class="name" *ngIf="!isCatagoryList">{{ classement.name }}</div>
                        <div class="category">
                            {{ 'category.' + (classement.category || 'undefined') | translate }}
                            <ng-container *ngIf="isCatagoryList"> ({{ classement.templateTotal }}) </ng-container>
                        </div>
                        <ng-container *ngIf="!isCatagoryList">
                            <div class="groups">
                                <div [title]="'list.count.group' | translate">
                                    <span class="icon-group"></span> {{ classement.totalGroups }}
                                </div>
                                <div [title]="'list.count.item' | translate">
                                    <span class="icon-tile"></span> {{ classement.totalItems }}
                                </div>
                            </div>
                            <div class="username">
                                {{
                                    'user.by'
                                        | translate: { autor: classement.user || ('list.user.anonymous' | translate) }
                                }}
                            </div>
                            <div class="date">
                                {{ classement.dateCreate | date: ('date.dd/MM/yyyy HH:mm' | translate) }}
                            </div>
                            <div class="date change">
                                <ng-container *ngIf="classement.dateChange">{{
                                    'gererator.ranking.change'
                                        | translate
                                            : {
                                                  DATE:
                                                      classement.dateChange
                                                      | date: ('date.dd/MM/yyyy HH:mm' | translate)
                                              }
                                }}</ng-container>
                            </div>
                        </ng-container>
                    </figcaption>
                </figure>
            </a>
            <a
                *ngIf="!isCatagoryList"
                class="template"
                [class.hide]="classement.templateTotal === 1"
                [routerLink]="['/navigate/template', classement.templateId]"
            >
                {{ 'navigate.see.derivatives' | translate }} ({{ classement.templateTotal }})
            </a>
        </div>
    </div>
    <ng-template #noResult>
        <div class="no-result">{{ 'navigate.search.nothing' | translate }}</div>
    </ng-template>
</ng-container>

<paginate-cmp
    *ngIf="!isCatagoryList && total && total / 25 > 1"
    [total]="total"
    [page]="page"
    [base]="url"
    [queryParams]="queryParams"
></paginate-cmp>

<loader-item *ngIf="loading"></loader-item>
