<h2>{{ 'navigate.visualization' | transloco }}</h2>

@if (classement) {
  <div class="return">
    <a [routerLink]="['/navigate/template', classement.templateId]" class="icon-left">
      {{ 'navigate.see.derivatives' | transloco }}
    </a>
  </div>
}

@if (!loading && classement && classement.data) {
  <classement-infos [classementInfo]="classement">
    <div class="buttons">
      @if (!currentUser) {
        <button (click)="openClassementFork()" class="primary">
          {{
            (!modeApi()
              ? 'generator.actions.edit.local.empty'
              : !logged
                ? 'generator.actions.make.my.derivative.empty'
                : 'generator.actions.new.derivative.empty'
            ) | transloco
          }}
        </button>
      } @else if (!myClassement) {
        <button (click)="openClassement()" class="primary">
          {{ 'generator.actions.edit.my.derivative' | transloco }}
        </button>
      }

      @if (history?.length) {
        <button (click)="seeHistory()" class="primary">
          {{ 'generator.actions.history.show' | transloco }} ({{ classement.withHistory }})
        </button>
      }
      @if (myClassement) {
        @if (!currentUser) {
          <button (click)="seeMyClassement()" class="primary">
            {{
              (myClassementCount > 1
                ? 'generator.actions.see.my.last.derivative'
                : 'generator.actions.see.my.derivative'
              ) | transloco
            }}
          </button>
        }
        <button (click)="openMyClassement()" class="primary">
          {{
            (myClassementCount > 1
              ? 'generator.actions.edit.my.last.derivative'
              : 'generator.actions.edit.my.derivative'
            ) | transloco
          }}
        </button>
      }
      @if (myClassementCount > 1) {
        <button (click)="seeMyClassements()" class="primary">
          {{ 'navigate.my.derivatives' | transloco }}
        </button>
        <div class="note">
          {{ 'generator.actions.my.derivative.count' | transloco: { count: myClassementCount } }}
        </div>
      }
    </div>
  </classement-infos>
  <div class="save-actions buttons">
    <button class="primary" (click)="copyLink()">🔗 {{ 'generator.ranking.share.link' | transloco }}</button>
    <button class="primary" (click)="exportImage()" [disabled]="exportImageDisabled">
      @if (!exportImageDisabled) {
        <span class="icon-share"></span>
      } @else {
        <mg-spinner size="22" tickWidth="2" />
      }
      {{ 'generator.actions.export.image' | transloco }}
    </button>
  </div>
  <div class="link-option">
    <mg-input>
      <mg-input-checkbox mode="toggle" [(ngModel)]="showLink">{{
        'generator.ranking.show.link' | transloco
      }}</mg-input-checkbox>
    </mg-input>
  </div>
  @if (!exportImageDisabled) {
    <see-classement
      class="render"
      render
      [options]="classement.data.options"
      [groups]="classement.data.groups"
      [list]="classement.data.list"
      [id]="classement.rankingId"
      [imagesCache]="imagesCache"
      [link]="showLink ? getLink() : ''"
    ></see-classement>
  }
  <div [ngClass]="classScreenMode" #div>
    <div class="classement-top">
      <h3>{{ 'generator.ranking.group.title' | transloco }}</h3>
      @if (classScreenMode !== 'default') {
        <button id="default-view" (click)="screenMode('default', div)">
          {{ 'generator.screen.default' | transloco }}
        </button>
      }
      @if (classScreenMode !== 'enlarge') {
        <button id="enlarge-view" (click)="screenMode('enlarge', div)">
          {{ 'generator.screen.window' | transloco }}
        </button>
      }
      @if (classScreenMode !== 'fullscreen') {
        <button id="fullscreen-view" (click)="screenMode('fullscreen', div)">
          {{ 'generator.screen.fullscreen' | transloco }}
        </button>
      }
    </div>
    <see-classement
      class="preview"
      [options]="classement.data.options"
      [groups]="classement.data.groups"
      [list]="classement.data.list"
      [id]="classement.rankingId"
      withAnnotation
    ></see-classement>
  </div>

  @if (emptyGroups) {
    <div class="drop-list">
      @for (item of classement.data.list; track item; let index = $index) {
        @if (item) {
          <tile-item [item]="item" [options]="classement.data.options"></tile-item>
        }
      }
    </div>
  }
}

@if (loading) {
  <mg-loader-block>
    <mg-loader-tile size="220px / 300px" />
    <mg-loader-tile size="220px / 300px" />
  </mg-loader-block>
}

<mg-dialog class="auto-format" #dialogImage closeButton [closeButtonTitle]="'generic.dialog.close' | transloco">
  <div class="button-image-save">
    {{ 'generator.actions.save.image' | transloco }}
    <span>
      <button class="button-add primary png" (click)="saveImage('PNG')">PNG</button>
      <button class="button-add primary jpg" (click)="saveImage('JPG')">Jpeg</button>
      <button class="button-add primary webp" (click)="saveImage('WEBP')">WebP</button>
    </span>
  </div>
  <details class="alt">
    <summary>{{ 'generator.actions.alt.detail' | transloco }}</summary>
    <mg-input>
      <mg-input-textarea [value]="altImage" readonly></mg-input-textarea>
    </mg-input>
  </details>
  <div #image></div>
</mg-dialog>

<mg-dialog #dialogDerivatives closeButton [closeButtonTitle]="'generic.dialog.close' | transloco">
  @if (myClassements) {
    <table class="table-derivatives">
      <thead>
        <tr>
          <th class="title">{{ 'list.title.name' | transloco }}</th>
          <th class="date">{{ 'list.date' | transloco }}</th>
          <th class="groups">{{ 'list.count.group' | transloco }}</th>
          <th class="items">{{ 'list.count.item' | transloco }}</th>
          <th class="actions">{{ 'list.action.name' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        @for (derivative of myClassements; track derivative) {
          <tr [class.current]="derivative.rankingId === classement?.rankingId">
            <td class="title">
              {{ derivative.data.options.title || ('list.title.undefined' | transloco) }}
            </td>
            <td class="date">
              <span>{{ derivative.dateCreate | date: ('date.dd/MM/yyyy' | transloco) }}</span>
              <span>{{ derivative.dateCreate | date: ('date.HH:mm' | transloco) }}</span>
            </td>
            <td class="groups">{{ derivative.totalGroups }}</td>
            <td class="items">{{ derivative.totalItems }}</td>
            <td class="actions">
              @if (derivative.rankingId !== classement?.rankingId) {
                <button class="primary" (click)="loadDerivativeClassement(derivative)">
                  {{ 'generator.actions.see.this.derivative' | transloco }}
                </button>
              } @else {
                {{ 'list.current' | transloco }}
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</mg-dialog>

<mg-dialog class="auto-format" #dialogPassword>
  <div class="button-image-save">
    {{ 'navigate.password.required' | transloco }}
    <div>
      <mg-input>
        <mg-input-password
          id="classement-passeword"
          name="classement-passeword"
          autocomplete="off"
          #password
        ></mg-input-password>
      </mg-input>
    </div>
    @if (showError) {
      <ul class="list-error">
        <li>{{ showError }}</li>
      </ul>
    }
    <p>
      <button class="button-add" (click)="cancelPassword()">{{ 'navigate.password.cancel' | transloco }}</button>
      <button class="button-add primary" (click)="openClassementWithPassword(password.getValue()!)">
        {{ 'navigate.password.ok' | transloco }}
      </button>
    </p>
  </div>
</mg-dialog>

<mg-dialog #dialogHistory closeButton [closeButtonTitle]="'generic.dialog.close' | transloco">
  @if (classement && history) {
    <table class="table-history">
      <thead>
        <tr>
          <th class="title">{{ 'list.title.name' | transloco }}</th>
          <th class="date">{{ 'list.date' | transloco }}</th>
          <th class="actions">{{ 'list.action.name' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        @for (item of history; track item) {
          <tr [class.current]="item.id === classement.historyId">
            <td class="title">
              {{ item.name || ('list.title.undefined' | transloco) }}
            </td>
            <td class="date">
              <span>{{ item.date ?? item.dateChange ?? item.dateCreate | date: ('date.dd/MM/yyyy' | transloco) }}</span>
              <span>{{ item.date ?? item.dateChange ?? item.dateCreate | date: ('date.HH:mm' | transloco) }}</span>
            </td>
            <td class="actions">
              @if (item.id !== classement.historyId) {
                <button class="primary" (click)="loadHistoryClassement(item)">
                  {{ 'generator.actions.see.this.derivative' | transloco }}
                </button>
              } @else {
                <span class="current">
                  {{ 'list.current' | transloco }}
                </span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</mg-dialog>

<mg-dialog #dialogCopy closeButton [closeButtonTitle]="'generic.dialog.close' | transloco">
  <p>{{ 'generator.fork.question' | transloco }}</p>
  <mg-input alignMode="column">
    <mg-input-checkbox [(ngModel)]="optionFork" value="image" disabled>
      {{ 'generator.fork.options.image' | transloco }}
    </mg-input-checkbox>
    <mg-input-checkbox [(ngModel)]="optionFork" value="annotations">
      {{ 'generator.fork.options.annotations' | transloco }}
    </mg-input-checkbox>
    <mg-input-checkbox [(ngModel)]="optionFork" value="bg-color">
      {{ 'generator.fork.options.bg-color' | transloco }}
    </mg-input-checkbox>
    <mg-input-checkbox [(ngModel)]="optionFork" value="txt-color">
      {{ 'generator.fork.options.txt-color' | transloco }}
    </mg-input-checkbox>
    <mg-input-checkbox [(ngModel)]="optionFork" value="reset-groups">
      {{ 'generator.fork.options.reset-groups' | transloco }}
    </mg-input-checkbox>
  </mg-input>
  <p>
    <button class="button-add" (click)="cancelCopy()">{{ 'generator.fork.cancel' | transloco }}</button>
    <button class="button-add primary" (click)="openClassementForkWithOptions()">
      {{ 'generator.fork.ok' | transloco }}
    </button>
  </p>
</mg-dialog>
