:host {
    display: block;
    margin: 0 15px 30px 30px;
}

:where(figure, .template) {
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: var(--menu-color);
    background: var(--menu-background);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px 0px var(--menu-box-shadow-color);

    img {
        max-width: 100%;
    }

    @media screen and (max-width: 800px) {
        width: 150px;
    }
}

a:hover :where(figure, .template) {
    color: var(--menu-hover-color);
    background: var(--menu-hover-background);
}

.template {
    margin-top: 5px;
}

.result {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;

    figcaption {
        display: flex;
        flex-direction: column;
        flex: 1;

        .groups {
            padding-top: 3px;
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .name {
            flex: 1;
        }

        .username {
            border-top: 1px solid var(--menu-separator);
            margin-top: 5px;
            padding-top: 5px;
            font-weight: 700;
            font-size: 80%;
        }

        .date {
            font-size: 80%;
            height: 16px;
            white-space: nowrap;
        }
    }
}

.classement a {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    gap: 10px;
    height: 100%;
}

.category {
    &:first-child {
        font-size: 120%;
        font-weight: 700;
        padding-top: 10px;
    }

    &:not(:first-child) {
        padding-top: 10px;
        font-weight: 700;
    }
}

.return {
    margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
    .result {
        gap: 20px 5px;

        figcaption .date {
            margin-top: 4px;
            font-size: 60%;
            height: 12px;
        }
    }
}
