:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & > * {
        flex: 1;
        display: flex;
        justify-content: var(--h);
        align-items: var(--v);

        &:not(:first-child) {
            border-top: var(--over-group-line-size, var(--group-line-size)) solid
                var(--over-group-line-color, var(--group-line-color));
        }
    }
}

.group-title {
    padding: 3px;
}
