:host {
    display: block;
    cursor: pointer;
    border-bottom: 5px solid var(--tab-border-color);
    padding: 5px 20px;
    font-weight: 700;
    font-size: 20px;

    &:not(.selected) {
        color: var(--tab-text-color);
    }

    &.selected {
        border-color: var(--tab-select-border-color);
    }

    &:hover {
        border-color: var(--tab-hover-border-color);
        color: var(--tab-text-border-color);
    }
}
