:host {
    display: block;
    margin: var(--main-padding);
}

pre {
    white-space: pre-wrap;
}

:host ::ng-deep {
    h3 {
        padding-bottom: 3px;
        margin-bottom: 3px;
        border-bottom: 1px solid;
    }
    .license {
        font-size: 20px;
    }
}
