:host {
    display: block;
    margin: 15px;
}

// content --------------------------------------------------------------------

.elements {
    width: 100%;
}

.content-box {
    padding: var(--over-item-padding, 10px);
    margin: var(--over-item-margin, 2px);
    width: var(--over-item-width, 150px);
    max-width: var(--over-item-max-width, 300px);
    height: var(--over-item-height, 150px);
    max-height: var(--over-item-max-height, 300px);
    border: var(--over-item-border, 1px) solid var(--over-item-border-color, var(--content-box-border));
    background: var(--over-item-background, var(--content-box-background));
    color: var(--over-item-color, var(--content-box-color));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: var(--over-item-max-width, 100%);
    max-height: var(--over-item-max-height, 100%);

    .image {
        flex: 1 1 100%;
        min-width: 0;
        min-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// images

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

// table --------------------------------------------------------------------

.render {
    width: var(--over-image-width, 1170px);
    height: var(--over-image-height, auto);
    position: relative;
}

#html2canvas-element {
    min-width: 100%;
    background-color: var(--over-image-background, var(--background));
    background-image: var(--over-image-url);
    background-position: var(--over-image-background-position);
    background-size: var(--over-image-background-size);
    background-repeat: repeat;
    border-spacing: 1px;
}

.zone-classement,
.zone-classement-container {
    width: 100%;
    height: 100%;
}

// fix the preview background
:host.preview .render {
    background-color: var(--over-image-background, var(--background));
    background-image: var(--over-image-url);

    table {
        background: none;
    }
}

.elements {
    width: 100%;
}

.names {
    width: var(--over-name-width, 150px);
    min-width: var(--over-name-width, 150px);
    text-align: center;
    border-radius: 4px;
    color: var(--text-color);
    background: var(--name-background);
    border: 1px solid var(--name-border-color);
    font-size: var(--over-name-font-size, 120%);

    pre {
        white-space: pre-line;
        margin: 0;
    }

    markdown ::ng-deep * {
        font-weight: normal;
        list-style: none;
        padding: 0;
        margin: 0;
        color: var(--text-color);

        &:not(strong) {
            font-weight: normal;
        }

        a {
            pointer-events: none;
        }
    }
}

// text only
.title:first-child {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

// image, text only
.title:not(:first-child),
.title:first-child span {
    text-align: center;
    font-size: 85%;
    word-wrap: break-word;
    max-width: min(100%, var(--over-item-max-width, 300px));
    overflow: visible;
    white-space: break-spaces;
}

.title {
    color: var(--over-item-text-color, var(--content-box-text));
}

.title-item-width-auto {
    text-align: center;

    span {
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        max-width: var(--over-item-max-width, 300px);
        text-overflow: ellipsis;
    }
}

.content-render {
    position: relative;
    &.top {
        flex-direction: column-reverse;
    }

    &.bottom-over .title:last-child:not(:first-child),
    &.bottom-over-hover .title:last-child:not(:first-child),
    &.top-over .title:last-child:not(:first-child),
    &.top-over-hover .title:last-child:not(:first-child) {
        position: absolute;
        text-align: center;
        width: 100%;
        background: var(--over-item-text-background, var(--content-box-text-background));
    }

    &.bottom-over .title:last-child:not(:first-child) {
        bottom: 0;
    }

    &.bottom-over-hover {
        overflow: hidden;

        .title:last-child:not(:first-child) {
            transition: all 0.15s;
            bottom: -100%;
        }

        &:hover .title:last-child:not(:first-child) {
            bottom: 0px;
        }
    }

    &.top-over .title:last-child:not(:first-child) {
        top: 0;
    }

    &.top-over-hover {
        overflow: hidden;

        .title:last-child:not(:first-child) {
            transition: all 0.15s;
            top: -100%;
        }

        &:hover .title:last-child:not(:first-child) {
            top: 0px;
        }
    }

    &.hidden .title {
        display: none;
    }
}

.drop-list {
    min-height: calc(
        var(--over-item-height, 150px) +
            (var(--over-item-padding, 10px) + var(--over-item-border, 1px) + var(--over-item-margin, 2px)) * 2
    );
    border: 1px solid var(--over-drop-list-border-color, var(--drop-list-border-color));
    background: var(--over-drop-list-background, var(--drop-list-background));
    border-radius: 4px;
    overflow: hidden;
    display: table-cell; // fix chromium

    & > div {
        display: inline-flex; // fix chromium
        text-align: center;
        vertical-align: bottom;
    }

    .content-box {
        display: flex;
    }
}

.drop-zone-empty-list {
    flex: 1;
    height: calc(
        var(--over-item-height, 150px) +
            (var(--over-item-padding, 10px) + var(--over-item-border, 1px) + var(--over-item-margin, 2px)) * 2
    );
    order: 2;
}

caption {
    font-size: 120%;
    padding: 10px;
    color: var(--over-title-text-color, var(--content-title-text-color));
}

img {
    // fix html2canvas
    margin: auto;
    position: relative;
    // fix chromium (see : https://github.com/niklasvh/html2canvas/issues/2829)
    display: initial !important;
}

.tile-info {
    position: absolute;
    top: 0px;
    right: 0px;

    &::before {
        content: 'i';
        display: block;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background: var(--input-background-transparent);
        border: 1px solid var(--text-color);
        text-align: center;
        line-height: 16px;
        cursor: default;
    }
}

.title-item-width-auto {
    text-align: center;

    span {
        white-space: nowrap;
        display: inline-block;
    }
}

// ----------------- ZONE -----------------

.zone-classement-container {
    padding: 0 2px 2px 0;

    .elements {
        display: contents;

        & > div {
            position: absolute;
            top: var(--top, 0);
            left: var(--left, 0);
        }
    }
}

.zone-classement {
    background-color: var(--over-image-background, var(--drop-list-background));
    background-image: var(--over-image-url);
    background-position: var(--over-image-background-position);
    background-size: var(--over-image-background-size);
    background-repeat: repeat;
    border: 1px solid var(--over-drop-list-border-color, var(--drop-list-border-color));
    width: var(--over-image-width, 1170px);
    height: var(--over-image-height, 600px);

    img {
        max-width: min(var(--over-item-max-width, var(--over-item-width, 300px)), 300px);
        max-height: min(var(--over-item-max-height, var(--over-item-height, 300px)), 300px);
    }
}
