@let opts = options();

@if (opts) {
  @if (!render() && opts.mode === 'bingo') {
    <div class="options">
      <div class="select">
        <label for="icon-validated">{{ 'action.validated.label' | transloco }}</label>
        <select2
          id="icon-category"
          [data]="checkChoices"
          [(ngModel)]="checkChoice"
          (update)="updateIconStyle($event)"
          [templates]="{ template: templateMode, templateSelection: templateSelectionMode }"
          grid="80px"
        >
          <ng-template #templateMode let-label="label" let-value="value">
            <div class="list-mode option">
              <div class="view">
                @if (value === 'Z') {
                  <span>{{ emojiDefault }}</span>
                } @else {
                  <span [ngClass]="'icon-validated-' + value + '1'"></span>
                }
              </div>
              <div class="desc">
                {{ 'action.validated.name.' + label | transloco }}
              </div>
            </div>
          </ng-template>
          <ng-template #templateSelectionMode let-label="label" let-data="data" let-value="value">
            <div class="list-mode">
              <div class="view">
                @if (value === 'Z') {
                  <span>{{ emojiDefault }}</span>
                } @else {
                  <span [ngClass]="'icon-validated-' + value + '1'"></span>
                }
              </div>
              <div class="desc">
                {{ 'action.validated.name.' + label | transloco }}
              </div>
            </div>
          </ng-template>
        </select2>
      </div>
      <div>
        <button (click)="bingoClear()">{{ 'action.validated.clear' | transloco }}</button>
      </div>
    </div>
  }

  <div class="render">
    @if (opts.mode === 'default' || opts.mode === 'teams' || !opts.mode) {
      <table
        [id]="render() ? 'html2canvas-element' : 'preview-element'"
        class="html2canvas-element"
        [attr.dir]="opts.direction"
        [class.mode-default]="opts.mode === 'default'"
        [class.mode-teams]="opts.mode === 'teams'"
        [class.line-fusion]="opts.borderSpacing < 0"
      >
        @if (opts.title) {
          <caption>
            {{
              opts.title
            }}
          </caption>
        }
        <colgroup>
          <col class="names" />
          <col class="elements" />
        </colgroup>
        <tbody>
          @for (group of groups(); track group; let indexGrp = $index; let first = $first; let last = $last) {
            <tr>
              <td
                class="names"
                [style.--name-background]="group.bgColor + nameOpacity"
                [style.--text-color]="group.txtColor"
              >
                @if (opts.nameMarkdown) {
                  <markdown [data]="group.name"></markdown>
                } @else {
                  <pre>{{ group.name }}</pre>
                }
              </td>
              <td class="elements drop-list">
                @for (item of group.list; track item; let index = $index) {
                  @if (item) {
                    <div [style.--over-item-background]="item.bgColor" [style.--over-item-text-color]="item.txtColor">
                      <div class="content-box">
                        <div class="content content-render" [ngClass]="opts.itemTextPosition" #tile>
                          @if (item.url) {
                            <div [class.image]="calcWidth(item, tile)">
                              <img
                                (ngInit)="calcWidth(item, tile); detectChanges()"
                                (load)="calcWidth(item, tile); detectChanges()"
                                [class.cover]="opts.itemImageCover"
                                src="{{ imagesCache()[item.url] || item.url }}"
                                alt="{{ item.name }}"
                              />
                            </div>
                          }
                          @if (item.title || (opts.itemTextMinLine && !opts.itemTextPosition.endsWith('bubble'))) {
                            <div class="title" [class.title-item-width-auto]="opts.itemWidthAuto">
                              <span class="title-span" (ngInit)="detectChanges()">{{ item.title || '' }}</span>
                            </div>
                          }
                          @if (withAnnotation() && item.annotation) {
                            <div class="tile-info" [tooltip]="item.annotation"></div>
                          }
                        </div>
                      </div>
                    </div>
                  }
                }
                @if (group.list.length === 0) {
                  <div class="drop-zone-empty-list"></div>
                }
              </td>
            </tr>
          }
        </tbody>
        @if (link()) {
          <tfoot>
            <tr>
              <td colspan="2" class="link">{{ link() }}</td>
            </tr>
          </tfoot>
        }
      </table>
    } @else if (opts.mode === 'bingo') {
      @if (checkChoice === 'Z') {
        <div class="active-mode">
          <label> <input type="checkbox" [(ngModel)]="editMode" /> Mode édition des emoji </label>
        </div>
      }

      <table
        [id]="render() ? 'html2canvas-element' : 'preview-element'"
        class="html2canvas-element mode-bingo"
        [class.line-fusion]="opts.borderSpacing < 0"
        [attr.dir]="opts.direction"
      >
        @if (opts.title) {
          <caption>
            {{
              opts.title
            }}
          </caption>
        }
        <tbody>
          @for (group of groups(); track group; let indexGrp = $index; let first = $first; let last = $last) {
            <tr>
              @for (item of group.list; track item; let index = $index) {
                <td class="elements drop-list">
                  @if (item) {
                    <div [style.--over-item-background]="item.bgColor" [style.--over-item-text-color]="item.txtColor">
                      <div
                        class="content-box clickable"
                        (click)="!editMode || checkChoice !== 'Z' ? bingoToggleCheck(indexGrp, index) : null"
                        [contextMenu]="{ contextMenu: contextMenuBingo, data: { item, groupIndex: indexGrp, index } }"
                        contextMenuMode="bubble"
                      >
                        <div class="content content-render" [ngClass]="opts.itemTextPosition" #tile>
                          @if (item.url) {
                            <div [class.image]="calcWidth(item, tile)">
                              <img
                                (ngInit)="calcWidth(item, tile); detectChanges()"
                                (load)="calcWidth(item, tile); detectChanges()"
                                [class.cover]="opts.itemImageCover"
                                src="{{ imagesCache()[item.url] || item.url }}"
                                alt="{{ item.name }}"
                              />
                            </div>
                          }
                          @let value = bingoValue(indexGrp, index);
                          @if (value.visible) {
                            @if (checkChoice === 'Z') {
                              @if (editMode) {
                                <moveable-zone
                                  [transform]="value.transform"
                                  (transformUpdate)="value.transform = $event"
                                  >{{ value.content ?? emojiDefault }}</moveable-zone
                                >
                              } @else {
                                <span class="tile-validate" [style.--transform]="value.transform">{{
                                  value.content ?? emojiDefault
                                }}</span>
                              }
                            } @else {
                              <div
                                class="tile-validate icon-validated-{{ checkChoice }}{{
                                  (indexGrp * group.list.length + index) % 3 || 3
                                }}"
                                [style.--transform]="value.transform"
                              ></div>
                            }
                          }
                          @if (item.title || (opts.itemTextMinLine && !opts.itemTextPosition.endsWith('bubble'))) {
                            <div class="title" [class.title-item-width-auto]="opts.itemWidthAuto">
                              <span class="title-span" (ngInit)="detectChanges()">{{ item.title || '' }}</span>
                            </div>
                          }
                          @if (withAnnotation() && item.annotation) {
                            <div class="tile-info" [tooltip]="item.annotation"></div>
                          }
                        </div>
                      </div>
                    </div>
                  }
                </td>
              }
            </tr>
          }
        </tbody>
        @if (link()) {
          <tfoot>
            <tr>
              <td [attr.colspan]="groups()[0].list.length" class="link">{{ link() }}</td>
            </tr>
          </tfoot>
        }
      </table>
    } @else if (opts.mode === 'iceberg' || opts.mode === 'axis') {
      <div [id]="render() ? 'html2canvas-element' : 'preview-element'" class="html2canvas-element">
        <div class="zone-classement-container">
          <div class="zone-classement">
            @if (opts.groups?.length) {
              @switch (opts.mode) {
                @case ('iceberg') {
                  <zone-area [groups]="opts.groups"></zone-area>
                }
                @case ('axis') {
                  <zone-axis [groups]="opts.groups"></zone-axis>
                }
              }
            }
            <div class="elements">
              @for (item of groups()[0].list; track item; let index = $index) {
                @if (item) {
                  <div
                    [style.--over-item-background]="item.bgColor"
                    [style.--over-item-text-color]="item.txtColor"
                    [style.--left.px]="item.x"
                    [style.--top.px]="item.y"
                  >
                    <div class="content-box">
                      <div class="content content-render" [ngClass]="opts.itemTextPosition" #tile>
                        @if (item.url) {
                          <div [class.image]="calcWidth(item, tile)">
                            <img
                              (ngInit)="calcWidth(item, tile); detectChanges()"
                              (load)="calcWidth(item, tile); detectChanges()"
                              [class.cover]="opts.itemImageCover"
                              src="{{ imagesCache()[item.url] || item.url }}"
                              alt="{{ item.name }}"
                            />
                          </div>
                        }
                        @if (item.title || (opts.itemTextMinLine && !opts.itemTextPosition.endsWith('bubble'))) {
                          <div class="title" [class.title-item-width-auto]="opts.itemWidthAuto">
                            <span class="title-span" (ngInit)="detectChanges()">{{ item.title || '' }}</span>
                          </div>
                        }
                        @if (withAnnotation() && item.annotation) {
                          <div class="tile-info" [tooltip]="item.annotation"></div>
                        }
                      </div>
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        </div>
        @if (link()) {
          <div class="link">
            {{ link() }}
          </div>
        }
      </div>
    }
  </div>
}
