:host {
    display: block;
    margin: 15px;
}

// content --------------------------------------------------------------------

.elements {
    width: 100%;
}

.content-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin: var(--over-item-margin, 2px);
    border: var(--over-item-border, 1px) solid var(--over-item-border-color, var(--content-box-border));
    background: var(--over-item-background, var(--content-box-background));
    padding: var(--over-item-padding, 10px);
    width: var(--over-item-width, 150px);
    max-width: var(--over-item-max-width, 300px);
    height: var(--over-item-height, 150px);
    max-height: var(--over-item-max-height, 300px);
    color: var(--over-item-color, var(--content-box-color));
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: var(--over-item-max-width, 100%);
    height: 100%;
    max-height: var(--over-item-max-height, 100%);

    .image {
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
        min-width: 0;
        min-height: 0;
    }
}

// images

img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;

    &.cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// table --------------------------------------------------------------------

.render {
    position: relative;
    width: var(--over-image-width, 1170px);
}

.html2canvas-element {
    border-spacing: var(--over-drop-border-spacing, var(--drop-list-border-spacing));
    background-image: var(--over-image-url);
    background-position: var(--over-image-background-position);
    background-size: var(--over-image-background-size);
    background-repeat: repeat;
    background-color: var(--over-image-background, var(--background));
    min-width: 100%;
}

.zone-classement,
.zone-classement-container {
    position: relative;
    height: var(--over-image-height, auto);
}

// fix the preview background
:host.preview .render {
    background-image: var(--over-image-url);
    background-color: var(--over-image-background, var(--background));

    table {
        background: none;
    }
}

.elements {
    width: 100%;
}

.names {
    border: var(--over-drop-list-border-size, var(--drop-list-border-size)) solid var(--name-border-color);
    border-radius: var(--over-drop-border-radius, var(--drop-list-border-radius));
    background: var(--name-background);
    width: var(--over-name-width, 150px);
    min-width: var(--over-name-width, 150px);
    color: var(--text-color);
    font-size: var(--over-name-font-size, 120%);
    text-align: center;

    pre {
        margin: 0;
        white-space: pre-line;
    }

    markdown ::ng-deep * {
        margin: 0;
        padding: 0;
        color: var(--text-color);
        font-weight: normal;
        list-style: none;

        &:not(strong) {
            font-weight: normal;
        }

        a {
            pointer-events: none;
        }
    }
}

// text only
.title:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --over-item-text-size: var(--over-item-text-only-size, 24px);
}

// image, text only
.title:not(:first-child),
.title:first-child span {
    font-size: var(--over-item-text-size, 12px);
    text-align: center;
    word-wrap: break-word;
    max-width: min(100%, var(--over-item-max-width, 300px));
    overflow: visible;
    white-space: break-spaces;
}

.title {
    color: var(--over-item-text-color, var(--content-box-text));

    &:not(.title-item-width-auto) span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--over-item-text-max-line);
        min-height: calc(1.25em * var(--over-item-text-min-line));
        overflow: hidden;
    }
}

.title-item-width-auto {
    text-align: center;

    span {
        display: inline-block;
        max-width: var(--over-item-max-width, 300px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.content-render {
    position: relative;
    &.top {
        flex-direction: column-reverse;
    }

    &.bottom-over .title:last-child:not(:first-child),
    &.bottom-over-hover .title:last-child:not(:first-child),
    &.bottom-bubble .title:last-child:not(:first-child),
    &.top-over .title:last-child:not(:first-child),
    &.top-over-hover .title:last-child:not(:first-child),
    &.top-bubble .title:last-child:not(:first-child) {
        position: absolute;
        background: var(--over-item-text-background, var(--content-box-text-background));
        width: 100%;
        color: var(--over-item-text-color, var(--content-box-over-text));
        text-align: center;
    }

    &.bottom-bubble .title:last-child:not(:first-child),
    &.top-bubble .title:last-child:not(:first-child) {
        bottom: 5px;
        align-self: center;
        box-sizing: border-box;
        margin: auto;
        border-radius: 1em;
        padding: 3px 7px;
        width: auto;
        max-width: calc(100% - 10px);
    }

    &.bottom-over .title:last-child:not(:first-child) {
        bottom: 0;
    }

    &.bottom-over-hover {
        overflow: hidden;

        .title:last-child:not(:first-child) {
            bottom: -100%;
            transition: all 0.15s;
        }

        &:hover .title:last-child:not(:first-child) {
            bottom: 0px;
        }
    }

    &.top-over .title:last-child:not(:first-child) {
        top: 0;
    }

    &.top-over-hover {
        overflow: hidden;

        .title:last-child:not(:first-child) {
            top: -100%;
            transition: all 0.15s;
        }

        &:hover .title:last-child:not(:first-child) {
            top: 0px;
        }
    }

    &.top-bubble .title:last-child:not(:first-child) {
        top: 10px;
        bottom: auto;
    }

    &.hidden .title:last-child:not(:first-child) {
        display: none;
    }
}

.drop-list {
    display: table-cell; // fix chromium
    border: var(--over-drop-list-border-size, var(--drop-list-border-size)) solid
        var(--over-drop-list-border-color, var(--drop-list-border-color));
    border-radius: var(--over-drop-border-radius, var(--drop-list-border-radius));
    background: var(--over-drop-list-background, var(--drop-list-background));
    min-height: calc(
        var(--over-item-height, 150px) +
            (var(--over-item-padding, 10px) + var(--over-item-border, 1px) + var(--over-item-margin, 2px)) * 2
    );
    overflow: hidden;

    & > div {
        display: inline-flex; // fix chromium
        vertical-align: bottom;
        text-align: center;
    }

    .content-box {
        display: flex;
    }
}

.drop-zone-empty-list {
    flex: 1;
    order: 2;
    height: calc(
        var(--over-item-height, 150px) +
            (var(--over-item-padding, 10px) + var(--over-item-border, 1px) + var(--over-item-margin, 2px)) * 2
    );
}

caption {
    padding: 10px;
    color: var(--over-title-text-color, var(--content-title-text-color));
    font-size: 120%;
}

img {
    // fix chromium (see : https://github.com/niklasvh/html2canvas/issues/2829)
    display: initial !important;
    position: relative;
    // fix html2canvas
    margin: auto;
}

.tile-info {
    position: absolute;
    top: 0px;
    right: 0px;

    &::before {
        display: block;
        cursor: default;
        box-shadow: 0 0 0 1px var(--tile-info-border-color2);
        border: 1px solid var(--tile-info-border-color);
        border-radius: 50%;
        background: var(--tile-info-background);
        width: 16px;
        height: 16px;
        content: 'i';
        color: var(--tile-info-text-color);
        line-height: 16px;
        text-align: center;
        text-shadow: 1px 1px 0 var(--tile-info-border-color2);
    }
}

.title-item-width-auto {
    text-align: center;

    span {
        display: inline-block;
        white-space: nowrap;
    }
}

.render:has(> #preview-element) {
    max-width: 100vw;
    overflow: auto;
}

.link {
    font-size: 12px;
    text-align: right;
}

.mode-default,
.mode-teams {
    &.line-fusion {
        td.names {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        td:not(.names) {
            border-right-width: var(--over-drop-list-border-size);
            border-left-width: calc(var(--over-drop-list-border-size) / 2);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        tr:not(:last-child) td {
            border-bottom-width: calc(var(--over-drop-list-border-size) / 2);
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        tr:not(:first-child) td {
            border-top-width: calc(var(--over-drop-list-border-size) / 2);
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

// ----------------- ZONE -----------------

.zone-classement-container {
    padding: 0 2px 2px 0;

    .elements {
        display: contents;

        & > div {
            position: absolute;
            top: var(--top, 0);
            left: var(--left, 0);
        }
    }
}

.zone-classement {
    border: var(--over-drop-list-border-size, var(--drop-list-border-size)) solid
        var(--over-drop-list-border-color, var(--drop-list-border-color));
    background-image: var(--over-image-url);
    background-position: var(--over-image-background-position);
    background-size: var(--over-image-background-size);
    background-repeat: repeat;
    background-color: var(--over-image-background, var(--drop-list-background));
    width: var(--over-image-width, 1170px);
    height: var(--over-image-height, 600px);

    :host:not(.render) & img {
        max-width: min(var(--over-item-max-width, var(--over-item-width, 300px)), 300px);
        max-height: min(var(--over-item-max-height, var(--over-item-height, 300px)), 300px);
    }
}

// bingo -----------------------------------------------------------

.mode-bingo {
    margin: auto;
    width: auto;
    min-width: auto;

    .elements,
    .elements > div {
        --border: var(--over-item-border) * 2 + var(--over-item-padding) * 2 + var(--over-item-margin) * 2;
        width: calc(var(--over-item-width) + var(--border));
        max-width: calc(var(--over-item-width) + var(--border));
        height: calc(var(--over-item-height) + var(--border));
        max-height: calc(var(--over-item-height) + var(--border));
    }

    .content-box {
        width: var(--over-item-width);
        height: var(--over-item-height);
    }

    &.line-fusion {
        .elements:not(:last-child) {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .elements:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        tr:not(:last-child) .elements {
            border-bottom: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        tr:not(:first-child) .elements {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

.clickable {
    cursor: pointer;
}

.tile-validate {
    position: absolute;
    top: 0;
    left: 0;
    transform: var(--transform);
    color: var(--symbol-color);
    font-size: calc(min(var(--over-item-width), var(--over-item-height)) - 20px);
}

.list-mode {
    display: flex;
    gap: 10px;

    .view span {
        vertical-align: -4px;
        font-size: 20px;
    }
    .desc {
        text-align: left;
    }

    &.option {
        flex-direction: column;
        align-items: center;

        .view span {
            font-size: 40px;
            text-align: left;
        }
        .desc {
            text-align: center;
        }
    }
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;

    .select {
        width: 300px;
    }
}

:host.preview:has(.options) {
    flex-wrap: wrap;
}

.active-mode {
    margin-top: 10px;
    text-align: center;
}
