<div *ngIf="options" class="render">
    <table id="table-classement" [attr.dir]="options.direction">
        <caption *ngIf="options.title">
            {{
                options.title
            }}
        </caption>
        <colgroup>
            <col class="names" />
            <col class="elements" />
        </colgroup>

        <tbody>
            <tr *ngFor="let group of groups; let indexGrp = index; let first = first; let last = last">
                <td
                    class="names"
                    [style.--name-background]="group.bgColor + nameOpacity"
                    [style.--text-color]="group.txtColor"
                >
                    <pre *ngIf="!options.nameMarkdown">{{ group.name }}</pre>
                    <markdown *ngIf="options.nameMarkdown" [data]="group.name"></markdown>
                </td>
                <td class="elements drop-list">
                    <div
                        *ngFor="let item of group.list; let index = index"
                        [style.--over-item-background]="item.bgColor"
                    >
                        <div class="content-box">
                            <div class="content content-render" [ngClass]="options.itemTextPosition" #tile>
                                <div *ngIf="item.url" [class.image]="calcWidth(item, tile)">
                                    <img
                                        (ngInit)="calcWidth(item, tile); detectChanges()"
                                        (load)="calcWidth(item, tile); detectChanges()"
                                        src="{{ imagesCache[item.url] || item.url }}"
                                        alt="{{ item.name }}"
                                    />
                                </div>
                                <div
                                    *ngIf="item.title"
                                    class="title"
                                    [class.title-item-width-auto]="options.itemWidthAuto"
                                >
                                    <span class="title-span" (ngInit)="detectChanges()">{{ item.title }}</span>
                                </div>
                                <div
                                    *ngIf="withAnnotation && item.annotation"
                                    class="tile-info"
                                    [tooltip]="item.annotation"
                                ></div>
                            </div>
                        </div>
                    </div>
                    <div class="drop-zone-empty-list" *ngIf="group.list.length === 0"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
