@import '../node_modules/@fontsource/roboto/400.css';
@import '../node_modules/@fontsource/roboto/500.css';
@import '../node_modules/@fontsource/roboto/700.css';
@import '../node_modules/@fontsource/roboto/900.css';

@import '../node_modules/@fontsource/zen-maru-gothic/400.css';
@import '../node_modules/@fontsource/dela-gothic-one/400.css';
@import '../node_modules/@fontsource/klee-one/400.css';
@import '../node_modules/@fontsource/hachi-maru-pop/400.css';
@import '../node_modules/@fontsource/train-one/400.css';
@import '../node_modules/@fontsource/sunflower/500.css';
@import '../node_modules/@fontsource/kalam/400.css';
@import '../node_modules/@fontsource/cinzel/400.css';
@import '../node_modules/@fontsource/noto-sans/400.css';
@import '../node_modules/@fontsource/noto-sans-jp/400.css';
@import '../node_modules/@fontsource/noto-sans-kr/400.css';
@import '../node_modules/@fontsource/noto-serif/400.css';
@import '../node_modules/@fontsource/noto-serif-jp/400.css';
@import '../node_modules/@fontsource/noto-serif-kr/400.css';

@font-face {
    font-style: normal;
    font-weight: normal;
    src:
        url('./assets/fonts/Classicone.ttf?la6til') format('truetype'),
        url('./assets/fonts/Classicone.woff?la6til') format('woff'),
        url('./assets/fonts/Classicone.svg?la6til#Classicone') format('svg');
    font-family: 'Classicone';
    font-display: block;
}

:root {
    --font-icon: 'Classicone', 'Segoe UI', 'Geneva', 'Verdana', sans-serif;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: var(--font-icon) !important;
    speak: never;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: '\e91b';
}
.icon-arrow-down-1FBA6:before {
    content: '\1fba6';
}
.icon-background-color:before {
    content: '\e90c';
}
.icon-bookmark:before {
    content: '\e915';
}
.icon-browser:before {
    content: '\e913';
}
.icon-clone:before {
    content: '\e919';
}
.icon-down:before {
    content: '\e91e';
}
.icon-edit:before {
    content: '\e917';
}
.icon-edit-2:before {
    content: '\e91d';
}
.icon-enlarge:before {
    content: '\e92a';
}
.icon-expand:before {
    content: '\e931';
}
.icon-fullscreen:before {
    content: '\e92c';
}
.icon-group:before {
    content: '\e908';
}
.icon-home:before {
    content: '\e930';
}
.icon-info:before {
    content: '\e914';
}
.icon-left:before {
    content: '\e921';
}
.icon-licenses:before {
    content: '\e92d';
}
.icon-login:before {
    content: '\e927';
}
.icon-logout:before {
    content: '\e926';
}
.icon-minimize:before {
    content: '\e929';
}
.icon-minimize-2:before {
    content: '\e92b';
}
.icon-mode-columns:before {
    content: '\e943';
}
.icon-mode-axis:before {
    content: '\e923';
}
.icon-mode-bingo:before {
    content: '\e933';
}
.icon-mode-iceberg:before {
    content: '\e922';
}
.icon-mode-teams:before {
    content: '\e925';
}
.icon-mode-tierlist:before {
    content: '\e924';
}
.icon-moon:before {
    content: '\e90d';
}
.icon-not-verified:before {
    content: '\e907';
}
.icon-params:before {
    content: '\e92e';
}
.icon-power:before {
    content: '\e92f';
}
.icon-private:before {
    content: '\e912';
}
.icon-private-search:before {
    content: '\e910';
}
.icon-profile:before {
    content: '\e918';
}
.icon-public:before {
    content: '\e911';
}
.icon-public-search:before {
    content: '\e90f';
}
.icon-reduce:before {
    content: '\e932';
}
.icon-remove:before {
    content: '\e91a';
}
.icon-right:before {
    content: '\e91f';
}
.icon-save-server:before {
    content: '\e90a';
}
.icon-search:before {
    content: '\e916';
}
.icon-server:before {
    content: '\e91c';
}
.icon-share:before {
    content: '\e906';
}
.icon-signup:before {
    content: '\e928';
}
.icon-sun:before {
    content: '\e90e';
}
.icon-text-color:before {
    content: '\e90b';
}
.icon-tile:before {
    content: '\e909';
}
.icon-up:before {
    content: '\e920';
}
.icon-validated-A1:before {
    content: '\e942';
}
.icon-validated-A2:before {
    content: '\e941';
}
.icon-validated-A3:before {
    content: '\e940';
}
.icon-validated-B1:before {
    content: '\e93f';
}
.icon-validated-B2:before {
    content: '\e93e';
}
.icon-validated-B3:before {
    content: '\e93d';
}
.icon-validated-C1:before {
    content: '\e93c';
}
.icon-validated-C2:before {
    content: '\e93b';
}
.icon-validated-C3:before {
    content: '\e93a';
}
.icon-validated-D1:before {
    content: '\e939';
}
.icon-validated-D2:before {
    content: '\e938';
}
.icon-validated-D3:before {
    content: '\e937';
}
.icon-validated-E1:before {
    content: '\e936';
}
.icon-validated-E2:before {
    content: '\e935';
}
.icon-validated-E3:before {
    content: '\e934';
}
.icon-deleted:before {
    content: '\e900';
    color: var(--color-icon-deleted);
}
.icon-admin:before {
    content: '\e901';
    color: var(--color-icon-admin);
}
.icon-moderator:before {
    content: '\e902';
    color: var(--color-icon-moderator);
}
.icon-banned:before {
    content: '\e903';
    color: var(--color-icon-banned);
}
.icon-validated:before {
    content: '\e904';
    color: var(--color-icon-validated);
}
.icon-user:before {
    content: '\e905';
    color: var(--color-icon-user);
}
