@import '../node_modules/@fontsource/roboto/400.css';
@import '../node_modules/@fontsource/roboto/500.css';
@import '../node_modules/@fontsource/roboto/700.css';
@import '../node_modules/@fontsource/roboto/900.css';

@import '../node_modules/@fontsource/zen-maru-gothic/400.css';
@import '../node_modules/@fontsource/dela-gothic-one/400.css';
@import '../node_modules/@fontsource/klee-one/400.css';
@import '../node_modules/@fontsource/hachi-maru-pop/400.css';
@import '../node_modules/@fontsource/train-one/400.css';
@import '../node_modules/@fontsource/sunflower/500.css';
@import '../node_modules/@fontsource/kalam/400.css';
@import '../node_modules/@fontsource/cinzel/400.css';
@import '../node_modules/@fontsource/noto-sans/400.css';
@import '../node_modules/@fontsource/noto-sans-jp/400.css';
@import '../node_modules/@fontsource/noto-sans-kr/400.css';
@import '../node_modules/@fontsource/noto-serif/400.css';
@import '../node_modules/@fontsource/noto-serif-jp/400.css';
@import '../node_modules/@fontsource/noto-serif-kr/400.css';

@font-face {
    font-style: normal;
    font-weight: normal;
    src:
        url('./assets/fonts/Classicone.ttf?la6til') format('truetype'),
        url('./assets/fonts/Classicone.woff?la6til') format('woff'),
        url('./assets/fonts/Classicone.svg?la6til#Classicone') format('svg');
    font-family: 'Classicone';
    font-display: block;
}

.icon-deleted:before {
    color: var(--color-icon-deleted);
}
.icon-admin:before {
    color: var(--color-icon-admin);
}
.icon-moderator:before {
    color: var(--color-icon-moderator);
}
.icon-banned:before {
    color: var(--color-icon-banned);
}
.icon-validated:before {
    color: var(--color-icon-validated);
}
.icon-user:before {
    color: var(--color-icon-user);
}
