@font-face {
    font-family: 'Classicone';
    src: url('./assets/fonts/Classicone.ttf?fy99cm') format('truetype'),
        url('./assets/fonts/Classicone.woff?fy99cm') format('woff'),
        url('./assets/fonts/Classicone.svg?fy99cm#Classicone') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root {
    --font-icon: 'Classicone', 'Segoe UI', 'Geneva', 'Verdana', sans-serif;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: var(--font-icon) !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mode-iceberg:before {
    content: '\e922';
}
.icon-mode-axis:before {
    content: '\e923';
}
.icon-mode-tierlist:before {
    content: '\e924';
}
.icon-mode-teams:before {
    content: '\e925';
}
.icon-logout:before {
    content: '\e926';
}
.icon-login:before {
    content: '\e927';
}
.icon-signup:before {
    content: '\e928';
}
.icon-minimize:before {
    content: '\e929';
}
.icon-enlarge:before {
    content: '\e92a';
}
.icon-minimize-2:before {
    content: '\e92b';
}
.icon-fullscreen:before {
    content: '\e92c';
}
.icon-licenses:before {
    content: '\e92d';
}
.icon-params:before {
    content: '\e92e';
}
.icon-power:before {
    content: '\e92f';
}
.icon-home:before {
    content: '\e930';
}
.icon-expand:before {
    content: '\e931';
}
.icon-reduce:before {
    content: '\e932';
}
.icon-arrow-down-1FBA6:before {
    content: '\1fba6';
}
.icon-down:before {
    content: '\e91e';
}
.icon-right:before {
    content: '\e91f';
}
.icon-up:before {
    content: '\e920';
}
.icon-left:before {
    content: '\e921';
}
.icon-edit-2:before {
    content: '\e91d';
}
.icon-server:before {
    content: '\e91c';
}
.icon-save-server:before {
    content: '\e90a';
}
.icon-text-color:before {
    content: '\e90b';
}
.icon-background-color:before {
    content: '\e90c';
}
.icon-moon:before {
    content: '\e90d';
}
.icon-sun:before {
    content: '\e90e';
}
.icon-public-search:before {
    content: '\e90f';
}
.icon-private-search:before {
    content: '\e910';
}
.icon-public:before {
    content: '\e911';
}
.icon-private:before {
    content: '\e912';
}
.icon-browser:before {
    content: '\e913';
}
.icon-info:before {
    content: '\e914';
}
.icon-bookmark:before {
    content: '\e915';
}
.icon-search:before {
    content: '\e916';
}
.icon-edit:before {
    content: '\e917';
}
.icon-profile:before {
    content: '\e918';
}
.icon-clone:before {
    content: '\e919';
}
.icon-remove:before {
    content: '\e91a';
}
.icon-add:before {
    content: '\e91b';
}
.icon-not-verified:before {
    content: '\e907';
}
.icon-group:before {
    content: '\e908';
}
.icon-tile:before {
    content: '\e909';
}
.icon-share:before {
    content: '\e906';
}
.icon-deleted:before {
    content: '\e900';
    color: var(--color-icon-deleted);
}
.icon-admin:before {
    content: '\e901';
    color: var(--color-icon-admin);
}
.icon-moderator:before {
    content: '\e902';
    color: var(--color-icon-moderator);
}
.icon-banned:before {
    content: '\e903';
    color: var(--color-icon-banned);
}
.icon-validated:before {
    content: '\e904';
    color: var(--color-icon-validated);
}
.icon-user:before {
    content: '\e905';
    color: var(--color-icon-user);
}
