/* You can add global styles to this file, and also import other style files */

@import './fonts.scss';

body.light-mode {
    --background: #fff;
    --text-color: #000;
    --menu-box-shadow-color: #0000004d;
    --header-background: #fff;
    --aside-background: #fff;
    --licence-color: #000;
    --color-mode-border-color: #444;
    // menu
    --menu-border-color: #6096c9;
    --menu-color: #1f3c57;
    --menu-separator: #6096c9;
    --menu-background: #afd1f1;
    --menu-hover-color: #122333;
    --menu-hover-background: #83a9cc;
    --menu-active-color: #122333;
    --menu-active-background: #5f88af;
    // defaut button
    --button-defaut-border-color: #e2e2e2;
    --button-defaut-background: #fff;
    --button-defaut-box-shadow: #c5c5c5;
    --button-defaut-color: #000;
    --button-defaut-hover-border-color: #e2e2e2;
    --button-defaut-hover-background: #dddfe2;
    --button-defaut-hover-box-shadow: #474747;
    --button-defaut-focus-border-color: #888;
    // primary button
    --button-primary-border-color: #b0a8ea;
    --button-primary-background: #468eff;
    --button-primary-box-shadow: #d6dfee;
    --button-primary-color: #fff;
    --button-primary-hover-border-color: #706a97;
    --button-primary-hover-background: #3162b1;
    --button-primary-hover-box-shadow: #1e2025;
    --button-primary-focus-border-color: #1b3663;
    // warn button
    --button-warn-border-color: #eaa8a8;
    --button-warn-background: #ff7676;
    --button-warn-box-shadow: #eed6d6;
    --button-warn-color: #fff;
    --button-warn-hover-border-color: #976a6a;
    --button-warn-hover-background: #eb3f3f;
    --button-warn-hover-box-shadow: #251e1e;
    --button-warn-focus-border-color: #a02929;
    // link
    --link-color: #4e4ee6;
    --link-hover-color: #202081;
    // dialog
    --dialog-backdrop-background: #0006;
    --dialog-backdrop-background-no-filter: #000b;
    --dialog-background: #fff;
    --dialog-shadow-color: #0003;
    // list
    --list-header-background: #c9c9c9;
    --list-line-hover-background: #ecdfdf;
    --list-selected-text: #703e15;
    --no-result-background: #ecdfdf;
    // option block
    --options-border-color: #f0f0f0;
    --options-background: #f0f0f0;
    --options-sizes-border-color: #8b441b;
    --options-sizes-border-text: #fff;
    --options-sizes-margin-color: #bbb;
    --options-sizes-padding-color: #ccc;
    --options-sizes-box-color: #eee;
    --options-sizes-height-color: #105f1e;
    --options-sizes-width-color: #50197e;
    // input
    --input-border-color: #ccccdb;
    --input-background: #d6e0ec;
    --input-background-transparent: #d6e0ec82;
    --input-item-color: #777;
    --input-item-active-color: #333;
    --input-focus-border-color: #888;
    --input-color-shadow: #fff;
    // drop list
    --drop-list-border-color: #ccc;
    --drop-list-background: #f0f0f0;
    // drop list (add image)
    --drop-image-zone-background: #b6c6f5;
    // item content-box
    --content-title-text-color: #000;
    --content-box-border: #ccc;
    --content-box-background: #fff;
    --content-box-color: #000d;
    --content-box-text: #000;
    --content-box-text-background: #fff8;
    --tile-add-file-background: #fff;
    --tile-add-file-color: #000d;
    --tile-add-filter: brightness(0.8);
    // info
    --alert-color: #b00;
    --alert-background: #bb00004f;
    // message
    --info-message-border-color: #ccc;
    --info-message-background: #ddd;
    --info-message-box-shadow-color: #0008;
    --info-message-progress-background: #666;
    --error-message-border-color: #d67e7e;
    --error-message-background: #e07b7b;
    --info-message-box-shadow-color: #0008;
    --error-message-progress-background: #f03636;
    // loading
    --loading-color: #000;
    --loading-tile-color: #d0dde9;
    --loading-line-animation-color: 0 0 0;
    --loading-background: #e9e3e33a;
    --loading-text-color: #000;
    --loading-text-shadow-color: #fff;
    // cropper
    --cropper-overlay-color: #fff;
    --cropper-outline-color: #ffffff4d;
    // icons
    --color-icon-deleted: #940d0d;
    --color-icon-admin: #9e7900;
    --color-icon-moderator: #8d3411;
    --color-icon-banned: #6b6b6b;
    --color-icon-validated: #176b0c;
    --color-icon-user: #162d79;
    // theme
    --theme-selection: #8e94ec;
    --theme-shadow-color: #0006;
}

body.dark-mode {
    --background: #0d0d0f;
    --text-color: #d1d2d4;
    --menu-box-shadow-color: #00000018;
    --header-background: #111;
    --aside-background: #111;
    --licence-color: #fff;
    --color-mode-border-color: #bbb;
    // menu
    --menu-border-color: #1d2c3a;
    --menu-color: #e7eff7;
    --menu-separator: #406486;
    --menu-background: #1f2d3b;
    --menu-hover-color: #fff;
    --menu-hover-background: #334a61;
    --menu-active-color: #fff;
    --menu-active-background: #4f6983;
    // defaut button
    --button-defaut-border-color: #303030;
    --button-defaut-background: #202020;
    --button-defaut-box-shadow: #181818;
    --button-defaut-color: #fff;
    --button-defaut-hover-border-color: #1f1f1f;
    --button-defaut-hover-background: #474747;
    --button-defaut-hover-box-shadow: #474747;
    --button-defaut-focus-border-color: #888;
    // primary button
    --button-primary-border-color: #454261;
    --button-primary-background: #203c69;
    --button-primary-box-shadow: #12151a;
    --button-primary-color: #b6bbc9;
    --button-primary-hover-border-color: #706a97;
    --button-primary-hover-background: #3162b1;
    --button-primary-hover-box-shadow: #1e2025;
    --button-primary-focus-border-color: #9ba9c2;
    // warn button
    --button-warn-border-color: #614242;
    --button-warn-background: #692020;
    --button-warn-box-shadow: #1a1212;
    --button-warn-color: #c9b6b6;
    --button-warn-hover-border-color: #976a6a;
    --button-warn-hover-background: #b13131;
    --button-warn-hover-box-shadow: #251e1e;
    --button-warn-focus-border-color: #c29b9b;
    // link
    --link-color: #9898e6;
    --link-hover-color: #d8d8f0;
    // dialog
    --dialog-backdrop-background: #0006;
    --dialog-backdrop-background-no-filter: #000b;
    --dialog-background: #202020;
    --dialog-shadow-color: #1b1b1b33;
    // list
    --list-header-background: #111;
    --list-line-hover-background: #312f2f;
    --list-selected-text: #db9879;
    --no-result-background: #312f2f;
    // option block
    --options-border-color: #2b2b2b;
    --options-background: #1a1a1a;
    --options-sizes-border-color: yellow;
    --options-sizes-border-text: #000;
    --options-sizes-margin-color: #444;
    --options-sizes-padding-color: #222;
    --options-sizes-box-color: #111;
    --options-sizes-height-color: #00ff34;
    --options-sizes-width-color: #a12dff;
    // input
    --input-border-color: #3c3c41;
    --input-background: #282f36;
    --input-background-transparent: #282f3682;
    --input-item-color: #777;
    --input-item-active-color: #ddd;
    --input-focus-border-color: #888;
    --input-color-shadow: #000;
    // drop list
    --drop-list-border-color: #3f3f3f;
    --drop-list-background: #2e2e2e;
    // drop list (add image)
    --drop-image-zone-background: #13141a;
    // item content-box
    --content-title-text-color: #fff;
    --content-box-border: #333;
    --content-box-background: #242424;
    --content-box-color: #fffd;
    --content-box-text: #fff;
    --content-box-text-background: #0008;
    --tile-add-file-background: #242424;
    --tile-add-file-color: #fffd;
    --tile-add-filter: brightness(1.2);
    // info
    --alert-color: #ca5f5f;
    --alert-background: #8c000014;
    // message
    --info-message-border-color: #ddd;
    --info-message-background: #666;
    --info-message-box-shadow-color: #000;
    --info-message-progress-background: #ccc;
    --error-message-border-color: #855e5e;
    --error-message-background: #5e1b1b;
    --error-message-box-shadow-color: #000;
    --error-message-progress-background: #cc2121;
    // loading
    --loading-color: #fff;
    --loading-tile-color: #181c20;
    --loading-line-animation-color: 255 255 255;
    --loading-background: #201f1f3a;
    --loading-text-color: #fff;
    --loading-text-shadow-color: #000;
    // cropper
    --cropper-overlay-color: #000;
    --cropper-outline-color: #0000004d;
    // icons
    --color-icon-deleted: #912e2e;
    --color-icon-admin: #dfbd00;
    --color-icon-moderator: #a56235;
    --color-icon-banned: #8f8f8f;
    --color-icon-validated: #47963d;
    --color-icon-user: #4767cf;
    // theme
    --theme-selection: #3742d9;
    --theme-shadow-color: #5556;

    color-scheme: dark;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--background);
    color: var(--text-color);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button,
input::file-selector-button {
    padding: 10px;
    font-size: 110%;
    border: 2px solid var(--button-defaut-border-color);
    background: var(--button-defaut-background);
    color: var(--button-defaut-color);
    box-shadow: 0 0 12px var(--button-defaut-box-shadow);
    border-radius: 5px;
    margin: 0 5px;
    outline: none;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        background: var(--button-defaut-hover-background);
        border: 2px solid var(--button-defaut-hover-border-color);
        box-shadow: 0 0 12px var(--button-defaut-hover-box-shadow);
    }

    &:focus {
        border-color: var(--button-defaut-focus-border-color);
    }
}

button:disabled {
    opacity: 0.25;

    &:hover {
        background: var(--button-defaut-background);
        border: 2px solid var(--button-defaut-border-color);
        box-shadow: 0 0 12px var(--button-defaut-box-shadow);
    }
}

[type='file'] {
    cursor: pointer;
}

[type='color'] {
    height: 30px;
}

input:not(:focus-visible):invalid {
    text-decoration: underline wavy red;
}

button.primary {
    --button-defaut-border-color: var(--button-primary-border-color);
    --button-defaut-background: var(--button-primary-background);
    --button-defaut-box-shadow: var(--button-primary-box-shadow);
    --button-defaut-color: var(--button-primary-color);
    --button-defaut-hover-border-color: var(--button-primary-hover-border-color);
    --button-defaut-hover-background: var(--button-primary-hover-background);
    --button-defaut-hover-box-shadow: var(--button-primary-hover-box-shadow);
    --button-defaut-focus-border-color: var(--button-primary-focus-border-color);
}

button.warn {
    --button-defaut-border-color: var(--button-warn-border-color);
    --button-defaut-background: var(--button-warn-background);
    --button-defaut-box-shadow: var(--button-warn-box-shadow);
    --button-defaut-color: var(--button-warn-color);
    --button-defaut-hover-border-color: var(--button-warn-hover-border-color);
    --button-defaut-hover-background: var(--button-warn-hover-background);
    --button-defaut-hover-box-shadow: var(--button-warn-hover-box-shadow);
    --button-defaut-focus-border-color: var(--button-warn-focus-border-color);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    & > button {
        margin: 0;
    }

    & > .line {
        flex: 1 1 100%;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--link-color);

    &:hover {
        color: var(--link-hover-color);
    }

    table & {
        margin: auto 10px;
    }
}

label,
.label {
    font-weight: 700;
    font-size: 80%;
}

input:not([type='checkbox']),
.input,
textarea,
select {
    border: 1px solid var(--input-border-color);
    border-radius: 3px;
    padding: 5px 3px;
    width: 100%;
    background: var(--input-background);
    color: var(--text-color);
    box-sizing: border-box;

    &:disabled {
        opacity: 0.5;
    }

    &:focus {
        outline: 1px solid var(--input-focus-border-color);
    }
}

dialog-cmp.auto-format .main {
    .title {
        font-weight: 700;
    }

    p,
    div {
        text-align: center;
        padding: 15px 0;
    }

    input,
    textarea {
        width: 80%;
        resize: vertical;
    }
}

.list-error {
    padding: 15px 40px;
    text-align: left;
    color: var(--alert-color);
    border: 1px solid var(--alert-color);
    margin: 30px;
    background: var(--alert-background);
}

.anonymous {
    text-decoration: line-through;
}

.date > span {
    display: inline-block;

    & + span {
        font-size: 80%;
    }
}

.toogle-switch {
    position: relative;
    input {
        opacity: 0.01;
        height: 0.1px;
        width: 0.1px;
        position: absolute;
    }

    span {
        margin: 3px 0;
        display: inline-block;
        line-height: 21px;
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            height: 20px;
            width: 40px;
            border-radius: 10px;
            background-color: var(--input-border-color);
            vertical-align: bottom;
            margin-right: 5px;
        }

        &::after {
            content: '';
            display: block;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background-color: var(--input-item-color);
            position: absolute;
            left: 2px;
            top: 2px;
            transition: all 0.2s;
        }
    }

    input:checked + ::after {
        left: 20px;
        background-color: var(--input-item-active-color);
    }

    input:focus + ::before {
        outline: 1px solid var(--input-focus-border-color);
    }
}
