/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';

@import './fonts.css';

@import '../node_modules/@ikilote/magma/assets/styles/font-icon.css';
@import '../node_modules/@ikilote/magma/assets/styles/css-var.css';
@import '../node_modules/@ikilote/magma/assets/styles/style.css';

body.light-mode {
    /* option block */
    --options-sizes-border-color: #8b441b;
    --options-sizes-border-text: #fff;
    --options-sizes-margin-color: #bbb;
    --options-sizes-padding-color: #ccc;
    --options-sizes-box-color: #eee;
    --options-sizes-height-color: #105f1e;
    --options-sizes-width-color: #50197e;

    /* icons */
    --color-icon-deleted: #940d0d;
    --color-icon-admin: #9e7900;
    --color-icon-moderator: #8d3411;
    --color-icon-banned: #6b6b6b;
    --color-icon-validated: #176b0c;
    --color-icon-user: #162d79;

    /* other */
    --loading-line-animation-color: 0 0 0;
    --box-shadow: hsl(0, 0%, 0%) 20%;
    --tile-add-filter: brightness(0.8);
    --content-box-text: #000;
}

body.dark-mode {
    /* option block */
    --options-sizes-border-color: yellow;
    --options-sizes-border-text: #000;
    --options-sizes-margin-color: #444;
    --options-sizes-padding-color: #222;
    --options-sizes-box-color: #111;
    --options-sizes-height-color: #00ff34;
    --options-sizes-width-color: #a12dff;

    /* icons */
    --color-icon-deleted: #912e2e;
    --color-icon-admin: #dfbd00;
    --color-icon-moderator: #a56235;
    --color-icon-banned: #8f8f8f;
    --color-icon-validated: #47963d;
    --color-icon-user: #4767cf;

    /* other */
    --loading-line-animation-color: 255 255 255;
    --box-shadow: hsl(0, 0%, 0%) 25%;
    --tile-add-filter: brightness(1.2);
    --content-box-text: #fff;
}

body {
    --input-mark-top: -4px;

    /* global */
    --menu-box-shadow-color: color-mix(in hsl, var(--box-shadow), transparent);
    --header-background: var(--primary100);
    --aside-background: var(--primary100);
    --licence-color: var(--primary950);

    /* menu */
    --menu-border-color: var(--primary200);
    --menu-color: var(--primary950);
    --menu-separator: var(--primary400);
    --menu-background: var(--primary200);
    --menu-hover-color: var(--primary950);
    --menu-hover-background: var(--primary300);
    --menu-active-color: var(--primary950);
    --menu-active-background: var(--primary400);
    --menu-cartouche-background: color-mix(in hsl, var(--primary200) 80%, transparent);

    /* option block */
    --options-border-color: var(--neutral300);
    --options-background: var(--neutral200);

    /* avatar */
    --avatar-background: var(--primary050);
    --avatar-icon-opacity: 0.17;

    /* drop list */
    --drop-list-border-color: var(--neutral400);
    --drop-list-border-size: 1px;
    --drop-list-background: var(--neutral300);
    --drop-list-border-radius: 4px;
    --drop-list-border-spacing: 1px;

    /* drop list (add image) */
    --drop-image-zone-background: var(--success100);

    /* item content-box */
    --content-title-text-color: var(--neutral990);
    --content-box-border: var(--neutral300);
    --content-box-background: var(--neutral200);
    --content-box-color: var(--neutral100);
    --content-box-text-background: #000000bf;
    --content-box-over-text: #fff;
    --tile-add-file-background: var(--neutral200);
    --tile-add-file-color: var(--neutral700);
    --tile-info-text-color: #fff;
    --tile-info-border-color: #fff;
    --tile-info-border-color2: #000;
    --tile-info-background: #fff5;

    /* zone */
    --group-line-size: 1px;
    --group-line-color: var(--neutral400);
    --axis-line-color: var(--neutral900);

    /* info */
    --alert-color: var(--alert600);
    --alert-background: color-mix(in hsl, var(--alert200) 8%, transparent);

    /* loading */
    --loading-color: var(--neutral950);
    --loading-tile-color: var(--primary200);
    --loading-background: color-mix(in hsl, var(--neutral050) 23%, transparent);
    --loading-text-color: var(--neutral950);
    --loading-text-shadow-color: var(--neutral000);

    /* cropper */
    --cropper-overlay-color: var(--neutral000);
    --cropper-outline-color: color-mix(in hsl, var(--neutral000) 30%, transparent);

    /* theme */
    --theme-selection: var(--primary600);
    --theme-shadow-color: color-mix(in hsl, var(--primary050) 40%, transparent);

    /* box */
    --box-background: var(--neutral300);
    --box-border-color: var(--neutral500);

    /* tag */
    --tag-background: var(--input-border-color);
    --tag-background-hover: var(--primary900);
    --tag-background-link-color: var(--neutral000);
    --tag-input-background: var(--input-background);
    --tag-input-border-color: var(--input-border-color);
    --tag-input-focus-border-color: var(--input-focus-border-color);

    /* symbol */
    --symbol-color: #c90f0f;
}

* {
    font-family: 'Roboto', 'Segoe UI', Geneva, Verdana, sans-serif;
}

:not(.label) > :where(label, .label):not(.name) {
    font-weight: 700;
}

mg-dialog.auto-format .main {
    .title {
        font-weight: 700;
    }

    :where(h2, h3, p, :not(mg-input) > div) {
        margin: 0 auto;
        padding: 15px 0;
        text-align: center;
    }
    :not(ng-input) > div div {
        padding: 10px 0;
    }

    mg-input {
        margin: auto;
    }

    .note {
        font-size: 90%;
    }

    .buttons-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;
    }

    .info span:not([class^='icon']) {
        display: block;
        box-sizing: border-box;
        margin-top: 15px;
        border: 1px solid var(--box-border-color);
        background: var(--box-background);
        padding: 15px;
        width: 100%;
        text-align: center;
    }
}

.anonymous {
    text-decoration: line-through;
}

.date > span {
    display: block;
    white-space: nowrap;

    & + span {
        font-size: 75%;
    }
}

.button-help {
    align-content: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid;
    border-radius: 50%;
    width: 24px;
    min-width: 24px;
    height: 24px;
    font-size: 22px;
    text-align: center;
}

/** Safari */
@supports (background: -webkit-named-image(i)) {
    .webp {
        display: none;
    }
}
