:host {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(2px);
    background: var(--dialog-backdrop-background);
    width: 100dvw;
    height: 100dvh;

    @supports not (backdrop-filter: blur(2px)) {
        background: var(--dialog-backdrop-background-no-filter);
    }

    &.open {
        display: flex;
    }
}

.content {
    display: flex;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px var(--dialog-shadow-color);
    background: var(--dialog-background);
    min-width: min(700px, 100dvw - 20px);
    max-width: calc(100dvw - 20px);
    min-height: 150px;
    height: min-content;
    max-height: 95dvh;
}

.close {
    position: absolute;
    top: 1px;
    right: -4px;
    justify-content: center;
    z-index: 2;
    box-shadow: 2px -2px 11px -5px var(--dialog-close-shadow-color) inset;
    border-width: 0;
    border-radius: 0 0 0 50%;
    background: var(--dialog-close-background);
    padding: 2px 10px;
    width: 45px;

    &:hover {
        background: var(--dialog-close-background-hover);
    }
}

.main {
    padding: 0 30px;
    padding: auto;
    width: 100%;
    overflow: auto;
    overflow: auto;
    scrollbar-gutter: stable;

    @media screen and (width < 600px) {
        padding: 0 5px;
    }
}
