:host {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(2px);
    background: var(--dialog-backdrop-background);
    width: 100%;
    height: 100%;

    @supports not (backdrop-filter: blur(2px)) {
        background: var(--dialog-backdrop-background-no-filter);
    }

    &.open {
        display: flex;
    }
}

.content {
    display: flex;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px var(--dialog-shadow-color);
    background: var(--dialog-background);
    min-width: min(700px, 100% - 20px);
    max-width: calc(100% - 20px);
    min-height: 150px;
    max-height: 90%;
}

.close {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    padding: 5px;
}

.main {
    padding: 0 30px;
    padding: auto;
    width: 100%;
    overflow: auto;
    overflow: auto;
    scrollbar-gutter: stable;

    @media screen and (max-width: 600px) {
        padding: 0 5px;
    }
}
