new
<div cdkDropListGroup>
    <table>
        <thead>
            <tr>
                <td style="width: 150px">Nom</td>
                <td>List</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups; i: in; index">
                <td><input type="text" /></td>
                <td>
                    <div
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        [cdkDropListData]="group"
                        class="drop-list"
                        (cdkDropListDropped)="drop($event)"
                    >
                        <div class="content-box" *ngFor="let item of group" cdkDrag>{{ item }}</div>
                    </div>
                </td>
                <td>
                    <div (click)="up()">haut</div>
                    <div (click)="suppr()">Suppr</div>
                    <div (click)="down()">bas</div>
                    <div (click)="ajout()">ajout</div>
                </td>
            </tr>
        </tbody>
    </table>

    <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="list"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
    >
        <div class="content-box" *ngFor="let item of list" cdkDrag>{{ item }}</div>
    </div>
</div>
