<h2>{{ 'menu.admin' | transloco }}</h2>

<menu class="menu">
  <li routerLink="/admin/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
    {{ 'menu.admin.users' | transloco }}
  </li>
  <li routerLink="/admin/classements" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
    {{ 'menu.admin.classements' | transloco }}
  </li>
  <li routerLink="/admin/stats" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
    {{ 'menu.admin.stats' | transloco }}
  </li>
</menu>

<router-outlet></router-outlet>
