<h3>{{ 'menu.admin.classements' | translate }}</h3>

@if (categoriesList) {
  <form class="search" (submit)="submit()">
    <div class="name">
      <label>{{ 'navigate.title' | translate }}</label>
      <input
        type="search"
        name="searchKey"
        [(ngModel)]="searchKey"
        #filterInput
        [class.empty]="searchKey === '' || searchKey === undefined"
      />
      <span (click)="resteFilter(filterInput)"></span>
    </div>
    <div class="line">
      <div class="categories">
        <label>{{ 'navigate.category' | translate }}</label>
        <select2 name="category" [data]="categoriesList" [(ngModel)]="category"> </select2>
      </div>
      <button type="submit">{{ 'navigate.search' | translate }}</button>
    </div>
  </form>
}

@if (loading) {
  <loading-cmp></loading-cmp>
} @else {
  @if (classements[page] && classements[page].length) {
    @if (total) {
      <paginate-cmp [total]="total" [page]="page" base="/admin/classements"></paginate-cmp>
    }
    <list-classements
      [classements]="classements[page]"
      [sort]="sort"
      [direction]="direction"
      (updateClassements)="updateClassements($event)"
      (sortUpdate)="sortUpdate($event)"
    ></list-classements>
    @if (total) {
      <paginate-cmp [total]="total" [page]="page" base="/admin/classements"></paginate-cmp>
    }
  } @else {
    <p class="no-result">{{ 'list.no.result' | translate }}</p>
  }
}
