@import '../list/classement-list.component.scss';

label,
.label {
    display: block;
    text-align: left;
    width: 80%;
    margin: auto;

    input {
        width: auto;
    }
}

.alert {
    width: 80%;
    margin: auto;
    border: 1px solid var(--alert-color);
    color: var(--alert-color);
}

.status {
    width: 70px;
    text-align: center;
}

.user {
    width: 33%;
}

.role {
    width: 140px;
}

.icon {
    font-size: 40px;
}

.classements {
    text-align: center;
    width: 40px;
}

dialog-cmp list-classements {
    margin: 0 -30px;
}
