<h3>{{ 'menu.admin.classements' | transloco }}</h3>

@if (categoriesList) {
  <form class="search" (submit)="submit()">
    <mg-input class="name">
      <mg-input-label>{{ 'navigate.title' | transloco }}</mg-input-label>
      <mg-input-text name="searchKey" [(ngModel)]="searchKey" #filterInput clearCross />
    </mg-input>
    <div class="line">
      <mg-input class="categories">
        <mg-input-label>{{ 'navigate.category' | transloco }}</mg-input-label>
        <mg-input-select name="category" [data]="categoriesList" [(ngModel)]="category" />
      </mg-input>
      <button type="submit">{{ 'navigate.search' | transloco }}</button>
    </div>
  </form>
}

@if (loading) {
  <mg-spinner />
} @else {
  @if (classements[page] && classements[page].length) {
    @if (total) {
      <mg-paginate
        showTotal
        [textTotal]="'generic.pages.total' | transloco"
        [textPage]="'generic.pages.page' | transloco"
        linkId="nav"
        [total]="total"
        [page]="page"
        base="/admin/classements"
      />
    }
    <list-classements
      [classements]="classements[page]"
      [sort]="sort"
      [direction]="direction"
      (updateClassements)="updateClassements($event)"
      (sortUpdate)="sortUpdate($event)"
    />
    @if (total) {
      <mg-paginate
        showTotal
        [textTotal]="'generic.pages.total' | transloco"
        [textPage]="'generic.pages.page' | transloco"
        linkId="nav"
        [total]="total"
        [page]="page"
        base="/admin/classements"
      />
    }
  } @else {
    <p class="no-result">{{ 'list.no.result' | transloco }}</p>
  }
}
