<h3>{{ 'menu.admin.users' | translate }}</h3>

<ng-container *ngIf="users[page]?.length; else noResult">
    <paginate-cmp *ngIf="total" [total]="total" [page]="page" base="/admin/users"></paginate-cmp>
    <table>
        <thead>
            <tr>
                <th class="user">{{ 'list.user.name' | translate }}</th>
                <th class="user">{{ 'list.roles.name' | translate }}</th>

                <th class="date">{{ 'list.date' | translate }}</th>
                <th class="classements">{{ 'list.count.classements' | translate }}</th>
                <th class="status">{{ 'list.status.list' | translate }}</th>
                <th class="actions">{{ 'list.action.name' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users[page]">
                <td class="username">{{ user.username || ('list.title.undefined' | translate) }}</td>
                <td class="role">
                    {{ user.roles }}
                </td>
                <td class="date">
                    <span>{{ user.dateCreate | date: 'dd/MM/yyyy' }}</span>
                    <span>{{ user.dateCreate | date: 'HH:mm' }}</span>
                </td>
                <td class="classements">{{ user.classements?.length || 0 }}</td>
                <td class="status">
                    {{ user.isValidated ? 'list.status.validated' : ('list.status.notValidated' | translate) }}
                    {{ user.deleted ? ('list.status.deleted' | translate) : '' }}
                </td>
                <td class="actions">
                    <a (click)="see(user)" *ngIf="user.classements?.length">{{ 'list.action.see' | translate }}</a>
                    <a (click)="update(user)">{{ 'list.action.update' | translate }}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <paginate-cmp *ngIf="total" [total]="total" [page]="page" base="/admin/users"></paginate-cmp>
</ng-container>

<ng-template #noResult>
    <p class="no-result">{{ 'list.no.result' | translate }}</p>
    <p>
        <a routerLink="/edit/new" routerLinkActive="active">{{ 'list.create.new' | translate }}</a>
    </p>
</ng-template>

<dialog-cmp #dialogListClassements closeButton>
    <list-classements [classements]="currentUser?.classements"></list-classements>
</dialog-cmp>

<dialog-cmp class="auto-format" #dialogActionsUser>
    <ng-container *ngIf="currentUser && userForm" [formGroup]="userForm">
        <p>{{ 'user.status.warning' | translate }}</p>
        <p class="title">{{ currentUser?.username }}</p>

        <label for="username">{{ 'user.login.username' | translate }}</label>
        <input id="username" type="text" formControlName="username" #username />

        <label for="password">{{ 'user.login.password' | translate }}</label>
        <input id="password" type="password" formControlName="password" />

        <label for="email">{{ 'user.login.email' | translate }}</label>
        <input id="email" type="email" formControlName="email" #email />

        <div class="label">{{ 'user.status.list' | translate }}</div>
        <label for="moderator" *ngIf="isAdmin">
            <input id="moderator" type="checkbox" formControlName="moderator" />
            {{ 'user.status.moderator' | translate }}
        </label>
        <label for="admin" *ngIf="isAdmin">
            <input id="admin" type="checkbox" formControlName="admin" #adminCheckbox />
            {{ 'user.status.admin' | translate }}
        </label>
        <label for="banned">
            <input id="banned" type="checkbox" formControlName="banned" />
            {{ 'user.status.banned' | translate }}
        </label>

        <div *ngIf="showError" class="list-error">
            {{ showError }}
        </div>

        <div>
            <button (click)="changeStatusCancel()">{{ 'user.status.change.cancel' | translate }}</button>
            <button (click)="changeStatus()" class="warn">{{ 'user.status.change.edit' | translate }}</button>
        </div>
    </ng-container>
</dialog-cmp>
