<h3>{{ 'menu.admin.users' | translate }}</h3>

<form class="search" (submit)="submit()">
  <div class="name">
    <label>{{ 'list.user.name' | translate }}</label>
    <input
      type="search"
      name="searchKey"
      [(ngModel)]="searchKey"
      #filterInput
      [class.empty]="searchKey === '' || searchKey === undefined"
      />
    <span (click)="resteFilter(filterInput)"></span>
  </div>
  <div>
    <button type="submit">{{ 'navigate.search' | translate }}</button>
  </div>
</form>

@if (loading) {
  <loading-cmp></loading-cmp>
}

@if (!loading) {
  @if (users[page]?.length) {
    @if (total) {
      <paginate-cmp [total]="total" [page]="page" base="/admin/users"></paginate-cmp>
    }
    <table>
      <thead>
        <tr>
          <th class="status">{{ 'list.status.list' | translate }}</th>
          <th class="user sort" (click)="sortUpdate('username')">
            {{ 'list.user.name' | translate }}
            @if (sort === 'username') {
              <span
                class="{{ direction === 'ASC' ? 'icon-down' : 'icon-up' }}"
              ></span>
            }
          </th>
          <th class="role">{{ 'list.roles.name' | translate }}</th>
          <th class="date sort" (click)="sortUpdate('dateCreate')">
            {{ 'list.date' | translate }}
            @if (sort === 'dateCreate') {
              <span
                class="{{ direction === 'ASC' ? 'icon-down' : 'icon-up' }}"
              ></span>
            }
          </th>
          <th class="classements">{{ 'list.count.classements' | translate }}</th>
          <th class="actions">{{ 'list.action.name' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users[page]; track user) {
          <tr>
            <td class="status">
              @if (!user.deleted) {
                <span
                  class="icon"
                  [class.icon-validated]="user.isValidated"
                  [class.icon-not-validated]="!user.isValidated"
                            [title]="
                                (user.isValidated ? 'list.status.validated' : 'list.status.notValidated') | translate
                            "
                ></span>
              }
              @if (user.deleted) {
                <span
                  class="icon icon-deleted"
                  [title]="'list.status.deleted' | translate"
                ></span>
              }
            </td>
            <td class="username" [class.anonymous]="!user.username">
              {{ user.username || ('list.user.anonymous' | translate) }}
            </td>
            <td class="role">
              @for (role of user.roles; track role) {
                <span
                  class="icon"
                  [class.icon-user]="role === 'ROLE_USER'"
                  [class.icon-moderator]="role === 'ROLE_MODERATOR'"
                  [class.icon-admin]="role === 'ROLE_ADMIN'"
                  [title]="role"
                ></span>
              }
            </td>
            <td class="date">
              <span>{{ user.dateCreate | date: ('date.dd/MM/yyyy' | translate) }}</span>
              <span>{{ user.dateCreate | date: ('date.HH:mm' | translate) }}</span>
            </td>
            <td class="classements">{{ user.classements?.length || 0 }}</td>
            <td class="actions">
              @if (user.classements?.length) {
                <a (click)="see(user)">{{ 'list.action.see' | translate }}</a>
              }
              @if (!user.deleted) {
                <a (click)="update(user)">{{ 'list.action.update' | translate }}</a>
                <a (click)="removeProfile(user)">{{ 'list.action.remove' | translate }}</a>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
    @if (total) {
      <paginate-cmp [total]="total" [page]="page" base="/admin/users"></paginate-cmp>
    }
  } @else {
    <p class="no-result">{{ 'list.no.result' | translate }}</p>
  }
}

<dialog-cmp #dialogListClassements closeButton>
  <list-classements [classements]="currentUser?.classements"></list-classements>
</dialog-cmp>

<dialog-cmp class="auto-format" #dialogActionsUser>
  @if (currentUser && userForm) {
    <ng-container [formGroup]="userForm">
      <p>{{ 'user.status.warning' | translate }}</p>
      <p class="title" [class.anonymous]="!currentUser.username">
        {{ currentUser.username || ('list.user.anonymous' | translate) }}
      </p>
      <label for="username">{{ 'user.login.username' | translate }}</label>
      <input id="username" type="text" formControlName="username" #username />
      <label for="password">{{ 'user.login.password' | translate }}</label>
      <input id="password" type="password" spellcheck="false" formControlName="password" />
      <label for="email">{{ 'user.login.email' | translate }}</label>
      <input id="email" type="email" formControlName="email" #email />
      <div class="label">{{ 'user.status.list' | translate }}</div>
      @if (isAdmin) {
        <label for="moderator">
          <input id="moderator" type="checkbox" formControlName="moderator" />
          {{ 'user.status.moderator' | translate }}
        </label>
      }
      @if (isAdmin) {
        <label for="admin">
          <input id="admin" type="checkbox" formControlName="admin" #adminCheckbox />
          {{ 'user.status.admin' | translate }}
        </label>
      }
      <label for="banned">
        <input id="banned" type="checkbox" formControlName="banned" />
        {{ 'user.status.banned' | translate }}
      </label>
      @if (showError) {
        <div class="list-error">
          {{ showError }}
        </div>
      }
      <div>
        <button (click)="changeStatusCancel()">{{ 'user.status.change.cancel' | translate }}</button>
        <button (click)="changeStatus()" class="warn">{{ 'user.status.change.edit' | translate }}</button>
      </div>
    </ng-container>
  }
</dialog-cmp>

<dialog-cmp class="auto-format" #dialogRemoveProfile>
  <p>{{ 'user.profile.remove.question.admin' | translate }}</p>
  <p>
    <strong>{{ currentUser?.username }}</strong>
  </p>
  <p class="alert">
    {{ 'user.profile.remove.warning' | translate }}<br />
    {{ 'user.profile.remove.warning2' | translate }}
  </p>
  <div>
    <button (click)="cancelRemoveProfile()">{{ 'user.profile.remove.cancel' | translate }}</button>
    <button (click)="valideRemoveProfile()" class="warn">{{ 'user.profile.remove.ok' | translate }}</button>
  </div>
</dialog-cmp>
