@import '../list/classement-list.component.css';

.search {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
}

.name {
    flex: 5 5 300px;
}

dialog-cmp {
    label,
    .label {
        display: block;
        margin: auto;
        width: 80%;
        text-align: left;

        input {
            width: auto;
        }
    }

    .alert {
        margin: auto;
        border: 1px solid var(--alert-color);
        width: 80%;
        color: var(--alert-color);
    }
}

.status {
    width: 70px;
    text-align: center;
}

.user {
    width: 33%;
}

.role {
    width: 140px;
}

.icon {
    font-size: 40px;
}

.classements {
    width: 40px;
    text-align: center;
}

dialog-cmp list-classements {
    margin: 0 -30px;
}
