.search {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
}

.name {
    flex: 5 5 300px;
}

.line {
    display: flex;
    flex: 1 1 300px;
}

.categories {
    flex: 1 1 170px;
}
