:host {
    display: block;
    margin: 0 15px 30px 30px;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    height: 100%;
}

li {
    margin: 5px 5px 0;
    padding: var(--menu-item-padding, 5px);
    border: 1px solid var(--menu-border-color);
    list-style: none;
    font-weight: 700;
    cursor: default;
    color: var(--menu-color);
    background: var(--menu-background);
    border-radius: 5px;

    &.active {
        color: var(--menu-active-color);
        background-color: var(--menu-active-background);
    }

    &:not(.active):hover {
        cursor: pointer;
        color: var(--menu-hover-color);
        background-color: var(--menu-hover-background);
    }
}
