<h3>{{ 'menu.admin.users' | transloco }}</h3>

<form class="search" (submit)="submit()">
  <mg-input class="name">
    <mg-input-label>{{ 'list.user.name' | transloco }}</mg-input-label>
    <mg-input-text [(ngModel)]="searchKey" #filterInput clearCross></mg-input-text>
  </mg-input>
  <div>
    <button type="submit">{{ 'navigate.search' | transloco }}</button>
  </div>
</form>

@if (loading) {
  <loading-cmp></loading-cmp>
}

@if (!loading) {
  @if (users[page] && users[page].length) {
    @if (total) {
      <mg-paginate linkId="nav" [total]="total" [page]="page" base="/admin/users"></mg-paginate>
    }
    <table mg>
      <thead mg>
        <tr mg>
          <th mg class="status">{{ 'list.status.list' | transloco }}</th>
          <th mg class="user sort" (click)="sortUpdate('username')">
            {{ 'list.user.name' | transloco }}
            @if (sort === 'username') {
              <span class="{{ direction === 'ASC' ? 'icon-down' : 'icon-up' }}"></span>
            }
          </th>
          <th mg class="role">{{ 'list.roles.name' | transloco }}</th>
          <th mg class="date sort" (click)="sortUpdate('dateCreate')">
            {{ 'list.date' | transloco }}
            @if (sort === 'dateCreate') {
              <span class="{{ direction === 'ASC' ? 'icon-down' : 'icon-up' }}"></span>
            }
          </th>
          <th mg class="classements">{{ 'list.count.classements' | transloco }}</th>
          <th mg class="actions">{{ 'list.action.name' | transloco }}</th>
        </tr>
      </thead>
      <tbody mg>
        @for (user of users[page]; track user) {
          <tr mg>
            <td mg class="status">
              @if (!user.deleted) {
                <span
                  class="icon"
                  [class.icon-validated]="user.isValidated"
                  [class.icon-not-validated]="!user.isValidated"
                  [title]="(user.isValidated ? 'list.status.validated' : 'list.status.notValidated') | transloco"
                ></span>
              }
              @if (user.deleted) {
                <span class="icon icon-deleted" [title]="'list.status.deleted' | transloco"></span>
              }
            </td>
            <td mg class="username" [class.anonymous]="!user.username">
              {{ user.username || ('list.user.anonymous' | transloco) }}
            </td>
            <td mg class="role">
              @for (role of user.roles; track role) {
                <span
                  class="icon"
                  [class.icon-user]="role === 'ROLE_USER'"
                  [class.icon-moderator]="role === 'ROLE_MODERATOR'"
                  [class.icon-admin]="role === 'ROLE_ADMIN'"
                  [title]="role"
                ></span>
              }
            </td>
            <td mg class="date">
              <span>{{ user.dateCreate | date: ('date.dd/MM/yyyy' | transloco) }}</span>
              <span>{{ user.dateCreate | date: ('date.HH:mm' | transloco) }}</span>
            </td>
            <td mg class="classements">{{ user.classements?.length || 0 }}</td>
            <td mg class="actions">
              @if (user.classements?.length) {
                <a (click)="see(user)">{{ 'list.action.see' | transloco }}</a>
              }
              @if (!user.deleted) {
                <a (click)="update(user)">{{ 'list.action.update' | transloco }}</a>
                <a (click)="removeProfile(user)">{{ 'list.action.remove' | transloco }}</a>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
    @if (total) {
      <mg-paginate linkId="nav" [total]="total" [page]="page" base="/admin/users"></mg-paginate>
    }
  } @else {
    <p class="no-result">{{ 'list.no.result' | transloco }}</p>
  }
}

<mg-dialog #dialogListClassements closeButton>
  <list-classements [classements]="currentUser?.classements"></list-classements>
</mg-dialog>

<mg-dialog #dialogActionsUser>
  @if (currentUser && userForm) {
    <form class="dialog-action" [formGroup]="userForm">
      <p class="s-12 title" [class.anonymous]="!currentUser.username">
        {{ currentUser.username || ('list.user.anonymous' | transloco) }}
      </p>
      <div class="s-12 warning">{{ 'user.status.warning' | transloco }}</div>

      <mg-input class="s-6" id="username">
        <mg-input-label>{{ 'user.login.username' | transloco }}</mg-input-label>
        <mg-input-text formControlName="username"></mg-input-text>
      </mg-input>
      <mg-input class="s-6" id="password">
        <mg-input-label>{{ 'user.login.password' | transloco }}</mg-input-label>
        <mg-input-password formControlName="password"></mg-input-password>
      </mg-input>
      <mg-input class="s-6" id="email">
        <mg-input-label>{{ 'user.login.email' | transloco }}</mg-input-label>
        <mg-input-text type="email" formControlName="username"></mg-input-text>
      </mg-input>
      <div class="s-6 status">
        <div class="label">{{ 'user.status.list' | transloco }}</div>
        @if (isAdmin) {
          <mg-input id="moderator">
            <mg-input-checkbox formControlName="moderator">{{ 'user.status.moderator' | transloco }}</mg-input-checkbox>
          </mg-input>
          <mg-input id="admin">
            <mg-input-checkbox formControlName="admin">{{ 'user.status.admin' | transloco }}</mg-input-checkbox>
          </mg-input>
        }
        <mg-input id="banned">
          <mg-input-checkbox formControlName="banned">{{ 'user.status.banned' | transloco }}</mg-input-checkbox>
        </mg-input>
      </div>

      @if (showError) {
        <div class="s-12 list-error">
          {{ showError }}
        </div>
      }

      <div class="s-12 buttons">
        <button (click)="changeStatusCancel()">{{ 'user.status.change.cancel' | transloco }}</button>
        <button (click)="changeStatus()" class="warn">{{ 'user.status.change.edit' | transloco }}</button>
      </div>
    </form>
  }
</mg-dialog>

<mg-dialog class="auto-format" #dialogRemoveProfile>
  <p>{{ 'user.profile.remove.question.admin' | transloco }}</p>
  <p>
    <strong>{{ currentUser?.username }}</strong>
  </p>
  <p class="alert">
    {{ 'user.profile.remove.warning' | transloco }}<br />
    {{ 'user.profile.remove.warning2' | transloco }}
  </p>
  <div>
    <button (click)="cancelRemoveProfile()">{{ 'user.profile.remove.cancel' | transloco }}</button>
    <button (click)="valideRemoveProfile()" class="warn">{{ 'user.profile.remove.ok' | transloco }}</button>
  </div>
</mg-dialog>
