@import '../list/classement-list.component.scss';

:host {
    margin: 0;
}

.category {
    --hide: hidden;

    &:hover {
        --hide: visible;
        cursor: pointer;
    }

    .icon-edit-2 {
        visibility: var(--hide);
    }
}

.title {
    width: 33%;
}
