<table mg hoverRow>
  <thead mg>
    <tr mg>
      <th mg class="title sort" (clickEnter)="sortUpdate.emit('name')">
        {{ 'list.title.name' | transloco }}
        @if (sort() === 'name') {
          <span class="{{ direction() === 'ASC' ? 'icon-down' : 'icon-up' }}"></span>
        }
      </th>
      <th mg class="user">{{ 'list.user.name' | transloco }}</th>
      <th mg class="mode">{{ 'list.mode.name' | transloco }}</th>
      <th mg class="category sort" (clickEnter)="sortUpdate.emit('category')">
        {{ 'list.category.name' | transloco }}
        @if (sort() === 'category') {
          <span class="{{ direction() === 'ASC' ? 'icon-down' : 'icon-up' }}"></span>
        }
      </th>
      <th mg class="date sort" (clickEnter)="sortUpdate.emit('dateCreate')">
        {{ 'list.date' | transloco }}
        @if (sort() === 'dateCreate') {
          <span class="{{ direction() === 'ASC' ? 'icon-down' : 'icon-up' }}"></span>
        }
      </th>
      <th mg class="groups">{{ 'list.count.group' | transloco }}</th>
      <th mg class="items">{{ 'list.count.item' | transloco }}</th>
      <th mg class="status">{{ 'list.status.list' | transloco }}</th>
      <th mg class="actions">{{ 'list.action.name' | transloco }}</th>
    </tr>
  </thead>
  <tbody mg>
    @for (classement of classements(); track classement) {
      <tr mg>
        <td mg class="title">{{ classement.data.options.title || ('list.title.undefined' | transloco) }}</td>
        <td mg class="user">{{ classement.user || ('list.user.anonymous' | transloco) }}</td>
        <td mg class="mode">{{ 'mode.name.' + (classement.mode || 'default') | transloco }}</td>
        <td mg class="category" (clickEnter)="editCategory(classement)">
          {{ 'category.' + (classement.category || 'undefined') | transloco }}
          <span class="icon-edit-2"></span>
        </td>
        <td mg class="date">
          <span>{{ classement.dateCreate | date: ('date.dd/MM/yyyy' | transloco) }}</span>
          <span>{{ classement.dateCreate | date: ('date.HH:mm' | transloco) }}</span>
        </td>
        <td mg class="groups">{{ classement.totalGroups }}</td>
        <td mg class="datas">{{ classement.totalItems }}</td>
        <td mg class="status">
          {{ classement.deleted ? ('list.status.deleted' | transloco) : '' }}
          {{ classement.hidden ? ('list.status.hidden' | transloco) : '' }}
          {{ classement.parent ? ('list.status.parent' | transloco) : '' }}
          {{ classement.adult ? ('list.status.adult' | transloco) : '' }}
        </td>
        <td mg class="actions">
          <a (clickEnter)="see(classement)">{{ 'list.action.see' | transloco }}</a>
          <a (clickEnter)="update(classement)">{{ 'list.action.update' | transloco }}</a>
        </td>
      </tr>
    }
  </tbody>
</table>

<mg-dialog class="auto-format" #dialogActionsClassement>
  @if (currentClassement) {
    <p>{{ 'list.status.question' | transloco }}</p>
    <p class="title">{{ currentClassement.name || ('list.title.undefined' | transloco) }}</p>
    <div>
      <button (click)="changeStatusCancel()">{{ 'list.delete.cancel' | transloco }}</button>
      <button
        (click)="changeStatusCurrentClassement(!currentClassement!.hidden, 'hide')"
        [class.warn]="!currentClassement!.hidden"
        [class.primary]="currentClassement!.hidden"
      >
        {{ (!currentClassement!.hidden ? 'list.hide.private' : 'list.show.public') | transloco }}
      </button>
      <button
        (click)="changeStatusCurrentClassement(!currentClassement!.adult, 'adult')"
        [class.warn]="!currentClassement!.adult"
        [class.primary]="currentClassement!.adult"
      >
        {{ (!currentClassement!.hidden ? 'list.adult.content' : 'list.for.all.content') | transloco }}
      </button>
      <button
        (click)="changeStatusCurrentClassement(!currentClassement!.deleted, 'delete')"
        [class.warn]="!currentClassement!.deleted"
        [class.primary]="currentClassement!.deleted"
      >
        {{ (!currentClassement!.deleted ? 'list.delete.delete' : 'list.delete.restore') | transloco }}
      </button>
    </div>
  }
</mg-dialog>

<mg-dialog
  #dialogSeeClassement
  closeButton
  [closeButtonTitle]="'generic.dialog.close' | transloco"
  (onClose)="currentClassement = undefined"
>
  @if (currentClassement) {
    <classement-infos [classementInfo]="currentClassement"></classement-infos>

    <see-classement
      [options]="currentClassement.data.options"
      [groups]="currentClassement.data.groups"
      [list]="currentClassement.data.list"
      [id]="currentClassement.rankingId"
    ></see-classement>

    <div class="drop-list">
      @for (item of currentClassement.data.list; track item; let index = $index) {
        @if (item) {
          <tile-item [item]="item" [options]="currentClassement.data.options"></tile-item>
        }
      }
    </div>
  }
</mg-dialog>

<mg-dialog #dialogEditCategory closeButton [closeButtonTitle]="'generic.dialog.close' | transloco">
  @if (currentClassement) {
    <h3>{{ 'list.category.edit.title' | transloco }}</h3>

    <div>
      <mg-input class="s-6 s-12-s">
        <mg-input-label>{{ 'list.category.current' | transloco }}</mg-input-label>
        <mg-input-text value="{{ 'category.' + (currentClassement.category || 'undefined') | transloco }}" disabled />
      </mg-input>
      <mg-input class="s-6 s-12-s">
        <mg-input-label>{{ 'list.category.new' | transloco }}</mg-input-label>
        <mg-input-select
          [ngModel]="currentClassement.category"
          [data]="categoriesList"
          [templates]="templatesModes"
          (ngModelChange)="newCategory = $event"
          overlay
          ><ng-template #templatesModes let-label="label">{{
            'category.' + label | transloco
          }}</ng-template></mg-input-select
        >
      </mg-input>
    </div>
    <div class="buttons">
      <button (click)="changeCategoryCancel()">{{ 'list.category.cancel' | transloco }}</button>
      <button class="primary" (click)="changeStatusCurrentClassement(newCategory, 'category')">
        {{ 'list.category.edit' | transloco }}
      </button>
    </div>
  }
</mg-dialog>
