:host {
    display: block;
    position: relative;
    top: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px var(--info-message-box-shadow-color);
    border: 1px solid var(--info-message-border-color);
    border-right: 0;
    border-radius: 4px 0 0 4px;
    background: var(--info-message-background);
    padding: 10px;
    min-width: 100px;

    &.close {
        animation: 0.7s linear both moveTop;
        overflow: hidden;
    }

    &.error {
        --info-message-border-color: var(--error-message-border-color);
        --info-message-background: var(--error-message-background);
        --info-message-box-shadow-color: var(--error-message-box-shadow-color);
        --info-message-progress-background: var(--error-message-progress-background);
    }
}

.progress {
    position: absolute;
    right: 0;
    bottom: 0;
    animation: var(--info-message-progress-time, 3s) linear slidein;
    background: var(--info-message-progress-background);
    width: 100%;
    height: 5px;
}

@keyframes slidein {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes moveTop {
    from {
        top: 10px;
        opacity: 1;
        padding: 5px 10px;
        max-height: var(--current-height);
    }
    75% {
        top: calc(var(--current-pos) * -1 - 62px);
        padding: 5px 10px;
        max-height: var(--current-height);
    }
    to {
        top: calc(var(--current-pos) * -1 - 62px);
        opacity: 0;
        padding: 0 10px;
        max-height: 0;
    }
}
